[2017-11-17 22:58] mod opened #15 "Remove 2-way authentification"

[2017-11-17 23:48] mod opened #16 "Create a demo/test database with faker and factorybot"

[2017-11-20 11:43] yivo opened #17 "Sign up via Google"

[2017-11-20 11:44] yivo opened #18 "Sign up via Auth0 (should be optional)"

[2017-11-20 11:44] yivo opened #19 "Remove unneeded gems"

[2017-11-20 11:46] yivo opened #20 "Upgrading Rails and all the other gems"

[2017-11-20 11:49] yivo opened #21 "Clean up database seeds, generate admin account from Helm"

[2017-11-20 11:53] yivo opened #22 "Remove built-in ticketing system"

[2017-11-20 12:16] yivo opened #23 "Start using Yarn for asset dependencies"

[2017-11-27 10:44] yivo opened #30 "Conditionally require omniauth providers based on application config"

[2017-11-27 11:03] mod commented on #23
Are you referring to yarn? I don't know what is yard
I think this is not necessary because we won't maintain frontend
for the admin panel we will decide later we should simplify code first

[2017-11-27 11:04] yivo commented on #23
@mod Yes, it is actually yarn.

[2017-11-27 11:31] #15 closed

[2017-11-27 11:43] yivo opened #31 "Generic JWT support"

[2017-11-27 11:45] #18 closed

[2017-11-27 18:20] mod commented on #16
#26 linked pr

[2017-11-27 21:24] mod commented on #22
The problem is that before removing a feature we need to have the alternative ready.
Eventually a 3rd party solution with OAuth support.
There is also Rails Help desks systems or Redmine too.

[2017-11-27 21:25] mod commented on #23
@dkkoval can you invite Simon on this issue

[2017-11-27 21:28] mod commented on #21
About Database seed the file is irrelevant, seeds are for production records such as a list of product, or countries...

Process for creation of Admin user can be through seeds using information from Environment variable or application.yml

regarding helm, helm can generate the admin password and mount it as ENV variable for the seed, I still consider the admin should change the password after any

[2017-11-27 21:29] mod commented on #20
This story may be turned into an Epic

[2017-11-27 21:30] mod commented on #17
Please about with the merge

[2017-11-28 10:27] yivo commented on #22
@mod I think peatio customers will be happy with just simple support by the email. The current ticketing system is so poor (it allows only to send messages, that's all). Most of companies deploy their own website for support as they love it.

BTW I think we will remove this feature in all cases since peatio is not a place for tickets. The question is when. Will we wait alternatives or start the wo

[2017-11-28 10:29] yivo commented on #20
@mod Upgrading Rails is very urgent task, correct? Should start as soon as possible?

[2017-11-28 10:30] yivo commented on #20
@mod I think we can upgrade to every major version until the latest since Rails ships with good docs about upgrading: 4.0 -> 4.1 -> 4.2 etc

[2017-12-01 20:59] JustinSeidl opened #36 "SocketError"
Trying to setup the project locally for the first time. When I start the server and navigate to the application I get the following SocketError. Followed the MacOS instructions and don't know what I am missing.

<img width="1408" alt="screen shot 2017-12-01 at 2 47 10 pm" src="https://user-images.githubusercontent.com/502625/33503110-19227e56-d6a8-11e7-95e6-0839f6addec0.png">

[2017-12-02 00:49] JustinSeidl commented on #36
Here is the console error in full:

[code]

Any help would be greatly appreciated.

[2017-12-02 00:50] JustinSeidl commented on #36
@yivo @dkkoval ^

[2017-12-02 01:57] dkkoval commented on #36
You can't read Rails cache so I guess your app can't connect to Redis. Make sure your Redis server is running and you have `REDIS_URL` in `config/application.yaml`.

[2017-12-02 09:15] yivo commented on #36
@JustinSeidl By default app.yml sets `REDIS_URL` to `redis://redis:6379`. You have got this error since your machine can't resolve IP address to host `redis`. If you will change `redis` to `localhost`, for example, it should work. We probably should change it by default.

[2017-12-02 21:54] JustinSeidl commented on #36
@dkkoval @yivo thanks for the help! I'm all setup and hoping to contribute in the near future.

[2017-12-02 21:54] #36 closed

[2017-12-04 16:17] dkkoval commented on #36
@JustinSeidl we will be very happy to see you among our contributors! 😉

[2017-12-04 22:29] mod commented on #17
Shall we close the issue?

[2017-12-05 10:08] yivo commented on #17
@mod Yes

[2017-12-05 10:08] #17 closed

[2017-12-05 16:13] yivo opened #39 "Spec features/sign_up_spec.rb fails when "Sign in with Google" & "Sign in with Auth0" are enabled"
[code]

This can be fixed by increasing width of screen since right button "Sign up" is out of screen.

[2017-12-05 16:59] yivo opened #40 "Remove gem "unread""
Currently we have `gem 'unread', github: 'peatio/unread'`

The original gem is https://github.com/ledermann/unread and it is 0.8.x already (we have 0.4.x)

The fork lives at https://github.com/peatio/unread/commits/master with 2 custom commits:
<img width="599" alt="screen shot 2017-12-05 at 6 59 06 pm" src="https://user-images.githubusercontent.com/7421323/33619640-6be15cae-d9ee-11e7-961c-e2a92cc

[2017-12-05 17:07] yivo commented on #40
Gem is used for tickets and comments also.

[2017-12-05 17:08] yivo commented on #22
We will need to remove gem for it also, check #40

[2017-12-05 17:15] yivo opened #41 "Signatures randomly don't match when using keypair token authentication"
When using generating signature params should be normalized (normally sort by name alphabetically). See https://github.com/rubykube/peatio/blob/master/app/api/api_v2/auth/keypair_authenticator.rb#L67

This error may be produced when client and server used params to generate signature in different order. This error is related to non-proper data structure used to store params – hash since it doesn't

[2017-12-05 17:16] yivo opened #42 "Remove hardcoded secrets in config/initializers/secret_token.rb"
See https://github.com/rubykube/peatio/blob/master/config/initializers/secret_token.rb

[2017-12-05 17:17] yivo opened #43 "Remove doorkeeper entirely"

[2017-12-05 17:45] mod commented on #43
doerkeeper should be an oauth server,
you can use git blame or bisect to understand which commit introduce it.
paste it here

[2017-12-05 17:46] mod commented on #42
CRITICAL

[2017-12-05 17:47] mod commented on #41
does the bug exist? maybe grape will have a better token implementation

[2017-12-05 17:48] yivo commented on #43
@mod It is https://github.com/rubykube/peatio/commit/1632ccb7d12095ceeb1383d354d456b751a5b143

[2017-12-05 17:49] yivo commented on #41
@mod The bug exists and is not related to grape (it is custom shared secret implementation) and can be easily fixed in 5 mins

[2017-12-05 17:50] yivo commented on #41
@mod We just need to sort params

[2017-12-05 20:48] yivo opened #47 "Specs are failing due to removed #to_d method from Rails 4.0"
@mod This causes several specs to fail after upgrade to Rails 4.2. We need either update the code either monkey-patch String & BigDecimal prototypes.

[code]

[2017-12-06 10:29] yivo opened #49 "Specs are failing due to possible changes how capybara matches text (after gem update)"
I have this spec failing randomly.

[code]

[2017-12-06 10:30] yivo opened #50 "Specs are failing due to missing ID in document"
[code]

[2017-12-06 10:34] #42 closed

[2017-12-06 10:36] yivo opened #51 "Resolve warnings after update to ruby 2.4 & gems update"

[2017-12-06 18:20] mod opened #57 "Create complete kubernetes install documentation"

[2017-12-06 22:06] mod opened #58 "Test failing with seed 17488"
reproduce using:
[code]

[2017-12-07 11:47] yivo commented on #49
@mod Assigned to Valera

[2017-12-07 12:33] yivo commented on #58
@mod Assigned to Yaroslav Savchuk

[2017-12-07 13:52] #51 closed

[2017-12-07 14:20] yivo commented on #49
To reproduce: `bundle exec rspec --seed 21424`

[2017-12-07 14:40] yivo opened #61 "assets.config.precompile is missing some assets"

[2017-12-07 17:27] #61 closed

[2017-12-07 22:38] #41 closed

[2017-12-08 09:00] dkkoval commented on #22
@mod we can use **RocketChat**'s livechat 😄

[2017-12-08 09:47] dkkoval opened #67 "Use $ as the default currency"

[2017-12-08 11:27] #31 closed

[2017-12-08 11:34] yivo commented on #16
Assigned to Sophia.

[2017-12-08 18:01] #57 closed

[2017-12-10 11:47] scatterp commented on #23
me?

[2017-12-11 14:18] yivo commented on #50
@mod Assigned to Yaroslav

[2017-12-12 01:25] dkkoval commented on #58
Resolved in #59

[2017-12-12 01:25] #58 closed

[2017-12-12 11:00] yivo opened #70 "Something strange occurs when exiting Rails application"
See the logs:

[code]

To reproduce:
1. `bundle exec rails s`
2. Hit `CTRL+C`

[2017-12-12 11:02] yivo opened #71 "Application is shipped with different binaries than Rails defaults"
When you run exec rails commands you get the next output:

[code]

[2017-12-12 11:03] yivo opened #72 ""Funds" page doesn't work because of JS errors (deposit & withdraw are broken)"
<img width="1275" alt="screen shot 2017-12-12 at 1 02 36 pm" src="https://user-images.githubusercontent.com/7421323/33881236-d4014526-df3c-11e7-8d08-194c451fcb09.png">

[2017-12-12 11:09] yivo opened #73 "Exception at "Solvency" page on fresh Peatio installation"
<img width="1280" alt="screen shot 2017-12-12 at 1 08 50 pm" src="https://user-images.githubusercontent.com/7421323/33881539-bb291988-df3d-11e7-814f-a6c8196d2c20.png">

[2017-12-12 11:20] yivo opened #74 "When you set phone number it actually allows to set password"
[code]

<img width="1280" alt="screen shot 2017-12-12 at 1 15 33 pm" src="https://user-images.githubusercontent.com/7421323/33881933-2028daca-df3f-11e7-9699-80588587d989.png">

<img width="1280" alt="screen shot 2017-12-12 at 1 15 54 pm" src="https://user-images.githubusercontent.com/7421323/33881938-23f6a902-df3f-11e7-8ccb-5ce97bcc2a52.png">

<img width="1280" alt="screen shot 2017-12-12 at 1 15

[2017-12-12 11:27] yivo opened #75 "When submitting invalid data to KYC form layout of date of birth input becomes broken"
I click "Verify"
I click "Update ID Document" leaving all fields blank
I see date of birth input becomes broken

![screencapture-localhost-3000-id_document-edit-1513077857550](https://user-images.githubusercontent.com/7421323/33882257-308f440c-df40-11e7-8277-928c213aeca0.png)

![screencapture-localhost-3000-id_document-32-1513077870252](https://user-images.githubusercontent.com/7421323/33882263-34

[2017-12-12 11:30] yivo opened #76 "There are no headings & texts on main page when language is set to non-English"
![screencapture-localhost-3000-1513078117347](https://user-images.githubusercontent.com/7421323/33882378-90a0b1c8-df40-11e7-86c8-ba852aad76cc.png)

[2017-12-12 11:41] yivo opened #77 "Invalid E-Mail (peatio.com) in README"
<img width="444" alt="screen shot 2017-12-12 at 1 40 07 pm" src="https://user-images.githubusercontent.com/7421323/33882802-14a21d6c-df42-11e7-852a-ce5d4b8dcaea.png">

[2017-12-12 11:44] yivo opened #78 "Outdated README: PhantomJS & ChromeDriver"
<img width="965" alt="screen shot 2017-12-12 at 1 41 15 pm" src="https://user-images.githubusercontent.com/7421323/33882955-95effa9c-df42-11e7-9b09-5172b6334896.png">

[2017-12-12 11:49] yivo opened #79 "No E-Mail is sent when manually registering on Peatio (via sign up form)"
[code]

[2017-12-12 11:50] yivo commented on #79
<img width="1280" alt="screen shot 2017-12-12 at 1 50 31 pm" src="https://user-images.githubusercontent.com/7421323/33883159-77f51a6c-df43-11e7-912a-3e4403abdaed.png">

[2017-12-12 11:51] yivo commented on #79
![screencapture-localhost-3000-settings-1513079480728](https://user-images.githubusercontent.com/7421323/33883184-97808c5e-df43-11e7-83f4-87f89c0d5062.png)

[2017-12-12 11:52] yivo commented on #79
<img width="1082" alt="screen shot 2017-12-12 at 1 52 05 pm" src="https://user-images.githubusercontent.com/7421323/33883200-ab0ed604-df43-11e7-84b9-e010ed7a6e74.png">

[2017-12-12 12:12] yivo commented on #74
Should be
<img width="819" alt="screen shot 2017-12-12 at 2 12 15 pm" src="https://user-images.githubusercontent.com/7421323/33883965-81cb0da0-df46-11e7-9c2c-7aef2bdaeb6d.png">

[2017-12-12 12:18] yivo opened #80 "Duplicate item in "Deposits" menu in admin panel"
<img width="1250" alt="screen shot 2017-12-12 at 2 17 33 pm" src="https://user-images.githubusercontent.com/7421323/33884155-478e1938-df47-11e7-9278-0c9b041bacde.png">

[2017-12-12 12:20] yivo opened #81 "Invalid paths in stylesheet when creating new document in admin panel"
<img width="597" alt="screen shot 2017-12-12 at 2 19 14 pm" src="https://user-images.githubusercontent.com/7421323/33884232-9086d30a-df47-11e7-9aaf-17d0fc8db9ae.png">

![screencapture-localhost-3000-admin-documents-new-1513081142066](https://user-images.githubusercontent.com/7421323/33884243-9c4c8702-df47-11e7-84e5-8c952eeb1f3a.png)

[2017-12-12 12:23] yivo opened #82 "Missing translations when replying to ticket with empty message"
<img width="1280" alt="screen shot 2017-12-12 at 2 22 13 pm" src="https://user-images.githubusercontent.com/7421323/33884343-f3a40caa-df47-11e7-8764-85d6b1359c52.png">

[2017-12-12 13:15] yivo opened #83 "hot_wallets daemon doesn't work because exception is raised when using Ripple JSON RPC"
To reproduce run: `bundle exec ruby lib/daemons/hot_wallets.rb`

<img width="1280" alt="screen shot 2017-12-12 at 3 12 59 pm" src="https://user-images.githubusercontent.com/7421323/33886424-37da8208-df4f-11e7-8d9f-7b7a34ffe5c0.png">

[2017-12-12 13:16] yivo commented on #83
This needs to checked if issue is related to test XRP wallet or not.

[2017-12-12 13:21] yivo opened #84 "Layout issue when window is less than ~ 1000px"
![screencapture-localhost-3000-signup-1513084828960](https://user-images.githubusercontent.com/7421323/33886706-23d83f2e-df50-11e7-8f7c-3a7c847754f8.png)

[2017-12-12 13:25] yivo opened #85 "Invalid link to Peatio GitHub repository at API Tokens page"
<img width="1021" alt="screen shot 2017-12-12 at 3 24 09 pm" src="https://user-images.githubusercontent.com/7421323/33886862-9c318b1a-df50-11e7-9241-6e3051a59b98.png">

[2017-12-12 18:04] yivo commented on #83
@dkkoval Could you please check this?

[2017-12-12 18:37] yivo opened #86 "Several specs are failing (seed 63928)"

[2017-12-12 18:38] gfedorenko commented on #86
[code]

[2017-12-13 12:13] yssavchuk commented on #50
``Mocha::ExpectationError:
       not all expectations were satisfied
       unsatisfied expectations:
       - expected exactly once, not yet invoked: AMQPQueue.enqueue(:matching, {:action => "cancel", :order => {:id => 1246, :market => "btccny", :type => :ask, :ord_type => "limit", :volume => 0.1e1, :price => 0.236e2, :locked => 0.1e1, :timestamp => 1513167031}})
       satisfied expectations:

[2017-12-13 12:34] yssavchuk commented on #50
@yivo is it my task to fix this one too ?

[2017-12-13 14:46] yivo commented on #50
@yssavchuk Does this spec fails in master?

[2017-12-13 14:49] yssavchuk commented on #50
@yivo yes

[2017-12-13 14:49] yivo commented on #49
Fixed in #59

[2017-12-13 14:49] #49 closed

[2017-12-13 14:52] yivo commented on #50
@yssavchuk Got it. I will create an issue.

[2017-12-13 14:55] yivo commented on #71
@dkkoval We need your help with this since this started to occur after #65

[2017-12-13 14:55] yivo commented on #70
@dkkoval We need your help with this since this started to occur after #65

[2017-12-13 15:02] yivo opened #88 "Spec is failing (seed 13602)"
This spec is marked as pending (feature still in development) but I am curious if sub-features work correctly because it fails now with different messages. We probably need to check if it is "pending" still.

![deepinscreenshot_select-area_20171213165346](https://user-images.githubusercontent.com/7421323/33945285-4071841a-e027-11e7-9fbf-7ebc6d75e323.png)

[2017-12-13 22:06] #72 closed

[2017-12-14 09:43] #50 closed

[2017-12-14 09:43] #85 closed

[2017-12-14 09:43] #80 closed

[2017-12-14 09:44] #74 closed

[2017-12-14 17:07] yivo opened #101 "Generation of new deposit address is broken"
<img width="1280" alt="screen shot 2017-12-14 at 7 05 48 pm" src="https://user-images.githubusercontent.com/7421323/34004907-f2804a94-e101-11e7-92b7-35d1c1f60838.png">

[code]

[2017-12-14 17:35] yivo commented on #78
README should be updated with guide how to get chromedriver and why it is needed.

[2017-12-14 19:45] #81 closed

[2017-12-15 09:37] #82 closed

[2017-12-15 09:38] #77 closed

[2017-12-15 09:43] #84 closed

[2017-12-15 10:22] yivo opened #104 "Exception when building form at withdraws"
<img width="1280" alt="screen shot 2017-12-15 at 12 21 30 pm" src="https://user-images.githubusercontent.com/7421323/34037737-920ecd8e-e192-11e7-8c8e-0643b250702c.png">

[2017-12-15 11:25] gfedorenko opened #107 "Error when you try to copy the address"

[2017-12-15 11:26] gfedorenko commented on #107
![screenshot from 2017-12-15 13-22-30](https://user-images.githubusercontent.com/25289193/34040241-8685fcfe-e19b-11e7-839d-1f48768858b2.png)

[2017-12-15 11:29] gfedorenko opened #108 "Not possible to generate new address (403 Forbidden)"
![screenshot from 2017-12-15 13-27-43](https://user-images.githubusercontent.com/25289193/34040352-f82054d6-e19b-11e7-900a-ec5bf4aef15f.png)

[2017-12-15 13:41] yivo commented on #79
Closed since it is related to died daemon which responds for delivering emails.

[2017-12-15 13:41] #79 closed

[2017-12-15 14:03] dkkoval commented on #73
You need to run `rake solvency:liability_proof` to resolve it. We just need to update the documentation.

[2017-12-15 14:45] gfedorenko commented on #107
ZeroClipboard wouldn't run if flash disabled or not installed. It would be better to replace it with clipboard.js later( https://clipboardjs.com/ )

[2017-12-15 14:55] yivo commented on #107
@gfedorenko It is the single solution.

[2017-12-15 15:01] yivo commented on #86
Duplicate of #39

[2017-12-15 15:01] #86 closed

[2017-12-15 15:30] gfedorenko commented on #108
Works the same as in demo. Need to dig in more into the logic behind

[2017-12-15 17:30] Developer1123 opened #111 "Question: Setting up bank connectivity"
How do you setup a bank account, that should be used as the platform deposit and withdraw account(fiat)?
Do you need a bank API or something, as I cannot seem to wrap my head around it?
I cannot seem to find any documentation on it?

Thank you in advance.

[2017-12-15 19:41] #70 closed

[2017-12-15 20:21] #71 closed

[2017-12-16 14:08] EarlVadim opened #113 "How add the Cryptonote coin"
Hello.
How can add the cryptonote coin to exchange. Kindly help to solve the issue.

[2017-12-16 14:27] mod commented on #113
We are sound going to add XMR with a documentation and manual on how to add other CryptoNotes based coins, we will update the progress here.

[2017-12-17 06:42] rahulkhairnarr opened #114 "Error getaddrinfo: Name or service not known"
SocketError at /

getaddrinfo: Name or service not known

when starting exchange

[2017-12-17 12:27] mod commented on #114
@rahulkhairnarr Hello,
We recommend you to try running from the workbench
https://github.com/rubykube/peatio-workbench

Don't forget to run bin/init_config with proper environment variables.
We will soon publish a tutorial and a new set of documentations.

[2017-12-18 05:14] khalidNascenia opened #115 "Trading Page is blank /markets/btccny"
I can log in with the seed user to the system. But I cannot see any activity on the trading page within the seed user account. I can see the trading console skeleton, but it is almost blank in terms of contents.

I want to configure trading for at least 2 currencies for the seed user. Can you please let me know:

- How can I add currency balance to the seed user?
- How can I make the trading platf

[2017-12-18 10:05] yivo commented on #114
Hi @rahulkhairnarr

Please, check issue https://github.com/rubykube/peatio/issues/36

[2017-12-18 10:40] #101 closed

[2017-12-18 10:40] #39 closed

[2017-12-18 10:43] yivo commented on #75
Closed via https://github.com/rubykube/peatio/commit/3767f614d00ad5ad32ed3fa4e82cdd7488ff7f7b

[2017-12-18 10:43] #75 closed

[2017-12-18 10:43] yivo commented on #78
Closed via https://github.com/rubykube/peatio/commit/ad2d93e0d2dcb53b2f51de2c7be438da1a19bd98

[2017-12-18 10:43] #78 closed

[2017-12-18 10:51] yivo opened #116 "CSRF error at withdraws"
<img width="1158" alt="screen shot 2017-12-18 at 12 49 42 pm" src="https://user-images.githubusercontent.com/7421323/34102492-0952aec2-e3f2-11e7-91ec-b2b51ba73781.png">

<img width="1276" alt="screen shot 2017-12-18 at 12 49 47 pm" src="https://user-images.githubusercontent.com/7421323/34102491-092e019e-e3f2-11e7-8d93-d703bac84963.png">

[2017-12-18 10:55] yivo commented on #108
This error occurs on fresh peatio installation.

[2017-12-18 11:00] yivo opened #118 "QR code at deposits isn't rendered"
<img width="1237" alt="screen shot 2017-12-18 at 12 58 25 pm" src="https://user-images.githubusercontent.com/7421323/34102917-7c31cc4c-e3f3-11e7-9c1d-fe5f523e404c.png">

[2017-12-18 12:48] #76 closed

[2017-12-18 13:42] mod opened #121 "Migrate markets.yml into database"
Patch 1:

Migrate markets.yaml using db seeds
and create a markets migration and model

Patch 2:
Add the edition CRUD into the current peatio admin panel

[2017-12-18 13:42] mod commented on #121
https://github.com/rubykube/peatio/tree/master/lib/generators/config/templates
Once this task is finished
please create tasks and define for
- banks.yaml
- currencies.yaml

[2017-12-18 19:59] yivo opened #126 "No way to customize RAILS_ENV when building Docker image"
We need to allow customize RAILS_ENV in Dockerfile since this variable is used for both build and runtime. We can use `--build-arg` to make it flexible.

[2017-12-18 20:21] yivo opened #127 "Docker image build should be tested in production, development & test environments"

[2017-12-19 08:27] scatterp commented on #111
you can contact peatio.tech (commercial support) direct speak with louis who will handle this internally with me

[2017-12-19 08:30] scatterp commented on #108
@yivo revert gems to peatio/peatio

[2017-12-19 09:50] yivo commented on #114
@rahulkhairnarr The fix is at https://github.com/rubykube/peatio/issues/36#issuecomment-348679433

[2017-12-19 10:02] yivo commented on #115
Hi @khalidNascenia

You can check how factories are implemented and grab required code to manually feed database with demo data. You should also check cryptocurrency test networks. There are no currency any one-line command to achieve this.

[2017-12-19 10:34] yivo opened #128 "Filter by markets doesn't work for XRP"
<img width="447" alt="screen shot 2017-12-19 at 12 32 47 pm" src="https://user-images.githubusercontent.com/7421323/34152919-de075f5c-e4b8-11e7-87df-2e248d0181ab.png">

<img width="449" alt="screen shot 2017-12-19 at 12 32 51 pm" src="https://user-images.githubusercontent.com/7421323/34152922-e2ae2f72-e4b8-11e7-829b-fb05e34e8f03.png">

<img width="422" alt="screen shot 2017-12-19 at 12 32 55 pm" s

[2017-12-19 15:58] gfedorenko opened #130 "Error when you try to withdraw 0 from wallet with zero balance"
Need to handle it nicely

![screenshot from 2017-12-19 17-55-32](https://user-images.githubusercontent.com/25289193/34165855-19d0e706-e4e6-11e7-90ce-6733163e2986.png)
![screenshot from 2017-12-19 17-56-01](https://user-images.githubusercontent.com/25289193/34165861-1d75375e-e4e6-11e7-88be-f91143ffb6cf.png)

[code]

[2017-12-19 17:08] propercoil commented on #130
@gfedorenko this happens to you because the bitcoin daemon is not connected.

[2017-12-19 17:57] propercoil opened #133 "Redis error: ERR Client sent AUTH, but no password is set"
When trying to access the markets:

[code]

[2017-12-19 18:16] propercoil commented on #133
Needed to strip the password requirement in `kline_db.rb` to make it work. Probably my own redis installation needs to be reinstalled.

[2017-12-20 10:35] #128 closed

[2017-12-20 10:36] #116 closed

[2017-12-20 11:27] yivo commented on #108
@gfedorenko Issue is related to terminated daemons.

[2017-12-20 11:27] #108 closed

[2017-12-20 13:18] yivo commented on #83
By @dkkoval: not a bug. Third-party Ripple service stopped working.

[2017-12-20 15:50] yivo commented on #118
Also related to daemons.

[2017-12-20 15:50] #118 closed

[2017-12-20 20:04] #47 closed

[2017-12-20 20:04] #73 closed

[2017-12-21 11:59] yivo commented on #107
Fixed in #117

[2017-12-21 11:59] #107 closed

[2017-12-21 12:03] yivo commented on #133
@propercoil I have this error too but I have caught it in `k.rb`:

[code]

[2017-12-21 12:03] yivo commented on #133
BTW I have clean redis installation with default configs

[2017-12-21 12:57] yivo commented on #114
We have also prepared PR with fix #143

[2017-12-21 12:57] #114 closed

[2017-12-21 13:00] yivo commented on #133
@propercoil The problem is that default application.yml is shipped with `REDIS_PASSWORD: changeme` which is sent when redis client connect to the server. But if server doesn't expect passsword to be sent when connecting it will respond with an error like your's. So the fix is to set `REDIS_PASSWORD` to nil.

PR is ready which fixes it #143

[2017-12-21 13:00] #133 closed

[2017-12-21 16:36] yivo opened #155 "Remove transifex"

[2017-12-21 16:38] yivo opened #156 "Remove gem launchy"

[2017-12-21 16:38] yivo opened #157 "Update gem bunny"

[2017-12-21 16:39] yivo opened #158 "Replace gems pry-rails & byebug with pry-byebug"

[2017-12-21 16:51] yivo opened #159 "Remove gem dotenv-rails"

[2017-12-21 16:51] yivo opened #160 "Remove gem jbuilder"

[2017-12-21 16:52] yivo opened #161 "Remove gem bcrypt"

[2017-12-21 16:53] yivo opened #162 "Remove gem eco"

[2017-12-21 16:54] yivo opened #163 "Remove gem whenever (+configs)"

[2017-12-21 17:03] yivo opened #164 "Remove gem test-unit"

[2017-12-21 17:04] yivo commented on #164
Check https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/adapters.rb#L22

[2017-12-21 17:07] yivo opened #165 "Remove gem meta_request"

[2017-12-21 17:11] yivo commented on #165
We don't use rails panel for chrome so we don't need it

[2017-12-21 17:31] yivo opened #166 "Replace all peatio.com with peatio.tech"
<img width="1110" alt="screen shot 2017-12-21 at 7 30 19 pm" src="https://user-images.githubusercontent.com/7421323/34267426-75defff6-e685-11e7-952e-a70d7cbeb63e.png">

[2017-12-22 11:28] gfedorenko opened #167 "Need to fix ability to copy (clipboard.js)"
![screenshot from 2017-12-22 13-26-26](https://user-images.githubusercontent.com/25289193/34296628-0cdf9366-e71c-11e7-8c68-7985fb0c3c29.png)

[2017-12-22 12:00] yivo commented on #160
Sorry, jbuilder is used manually to craft response

[2017-12-22 12:00] #160 closed

[2017-12-22 12:22] #155 closed

[2017-12-22 12:22] #163 closed

[2017-12-22 12:23] #165 closed

[2017-12-22 12:35] yivo opened #172 "Remove leftovers after removal of 2fa auth"
Table `two_factors` should be dropped.

[2017-12-22 14:58] #159 closed

[2017-12-22 16:31] #158 closed

[2017-12-22 16:31] #156 closed

[2017-12-22 16:45] #43 closed

[2017-12-22 18:06] gfedorenko opened #182 "Refreshing the page creates new API token"
When you refresh this page it creates new tokens with the same label

![screenshot from 2017-12-22 20-03-37](https://user-images.githubusercontent.com/25289193/34307980-88a4117a-e753-11e7-937c-4b9994cf12ff.png)

[2017-12-22 18:10] mkuvshynnikov opened #183 "Missing translations for flash message in case member is disabled"
Missing translation in Notification

![disable](https://user-images.githubusercontent.com/29736025/34308025-cf81e61c-e753-11e7-9f5a-43f0d91f3c0d.png)

[2017-12-22 18:26] yivo opened #184 "Add MailCatcher for testing mails in development environment"
- [x] Add gem to dev group (should not be required by bundler, version range should be specified)
- [x] Add `docs/peatio/mailer.md` describing how to run mailcatcher and see emails
- [x] Update development environment with appropriate settings (ask me for the hint on it)

[2017-12-22 18:28] #104 closed

[2017-12-22 18:31] mkuvshynnikov opened #185 "Multiple admin menu rubrics receive "active" state as the same time"
Click on menu rubric "Proof" > See that two pages have been highlighted.

![proof1](https://user-images.githubusercontent.com/29736025/34308608-d30ce1c6-e756-11e7-8acf-28d1808fa625.png)

[2017-12-22 18:37] mkuvshynnikov opened #186 "User should not be able to focus disabled fields when editing proof"
Click on button "Edit":

1. We can edit "Created at"
![screen shot 2017-12-21 at 8 10 27 pm](https://user-images.githubusercontent.com/29736025/34308898-040a3ebc-e758-11e7-94e3-e19bbdad3320.png)

2. We can edit choose another currency

Changes are not applying

[2017-12-22 18:41] #166 closed

[2017-12-22 18:41] #164 closed

[2017-12-22 18:41] #167 closed

[2017-12-22 18:41] #161 closed

[2017-12-22 18:45] mkuvshynnikov opened #187 "Admin rubric "Documents" doesn't work at all"
Documents ( /admin/documents )

- documents do not create

[2017-12-22 18:46] mkuvshynnikov opened #188 "Button «Reject» doesn't work while editing KYC document"
- Enter to any registered member by clicking button "View"

Button "Rejected" doesn't work

[2017-12-22 18:50] yssavchuk commented on #67
[code]

[2017-12-22 18:53] mkuvshynnikov opened #189 "ActiveRecord should respect database column types limits (it should validate lengths)"
Fill in more then 150 symbols to the field  > Click "Save" button

![screen shot 2017-12-21 at 8 01 09 pm](https://user-images.githubusercontent.com/29736025/34309276-cf51d4b2-e759-11e7-9b94-27f8142c622f.png)

[2017-12-23 22:57] rhombl4 commented on #43
@mod How do you plan to process authentication/authorization of client-application's requests to api?

[2017-12-25 10:52] #67 closed

[2017-12-25 14:06] melmali2828 opened #191 "how to install"
hi, how to install rubykube peatio ?

[2017-12-25 14:09] yivo commented on #191
There is a good guide on [askubuntu](https://askubuntu.com/questions/340965/how-do-i-install-ubuntu-server-step-by-step).

[2017-12-25 14:12] melmali2828 commented on #191
Hi.

thank you for your reply.

Peatio install ?

[2017-12-25 14:14] yivo commented on #43
@rhombl4 Server-to-server authentication is possible using keypair mechanism. While client-to-server works on top of OAuth2 protocol & JWT. You will need your own OAuth2 server (or you can use services ike Auth0).

[2017-12-25 14:17] yivo commented on #191
@melmali2828 Regarding of your previous question how to install ubuntu server 14 you can use the link above ;)

As for getting everything prepared you can read about it at https://github.com/rubykube/peatio/blob/master/docs/dev/setup/ubuntu.md

You can also use peatio-workbench to get peatio which runs using docker: https://github.com/rubykube/peatio-workbench

[2017-12-25 15:05] melmali2828 commented on #191
Production install ?

[2017-12-26 10:52] yivo commented on #162
Gem `eco` hasn't been maintained since 2015 however Peatio has several important templates which are used on the "Trade" page. I believe the best solution will be to migrate `eco` to `ejs`.

[2017-12-26 10:55] #185 closed

[2017-12-26 10:55] yivo commented on #185
Egor, please describe why it is not a bug.

[2017-12-26 10:56] #183 closed

[2017-12-26 11:12] yivo commented on #188
@mkuvshynnikov Please write details. I can't reproduce.

[2017-12-26 11:14] yivo commented on #187
@mkuvshynnikov @mod I believe this rubric should be stripped. What do you think?

[2017-12-26 11:17] yivo commented on #186
@mkuvshynnikov You can edit only "Balance" field. The rest fields are marked as "disabled" (that's why they have grey BG). The problem is that fields can be focused ever they are disabled. We need to fix it.

[2017-12-26 11:19] yivo commented on #182
@gfedorenko does this occurs after HTTP POST?

[2017-12-26 11:21] yivo commented on #157
We need to travel through [BUNNY CHANGELOG](https://github.com/ruby-amqp/bunny/blob/master/ChangeLog.md) and find incompatibilites.

[2017-12-26 14:38] emasiuk commented on #172
someone has removed migration for two_factors

[2017-12-26 14:46] mkuvshynnikov commented on #188
@yivo with the latest update, bug was fixed

[2017-12-27 10:07] #186 closed

[2017-12-27 14:46] mkuvshynnikov opened #197 "Button «Copy deposit address» at «Funds» is broken"

[2017-12-27 16:05] yivo opened #199 "Missing translation at «Trade»"
<img width="404" alt="screen shot 2017-12-27 at 6 04 30 pm" src="https://user-images.githubusercontent.com/7421323/34386271-8201b300-eb30-11e7-86de-e42e6e6b2077.png">

[2017-12-27 16:06] yivo opened #200 "Leftovers after refactoring of CNY => USD"
<img width="1190" alt="screen shot 2017-12-25 at 6 56 23 pm" src="https://user-images.githubusercontent.com/7421323/34386290-972a6bc8-eb30-11e7-895b-72b047e975ba.png">

[2017-12-28 10:24] ApsOps opened #201 "Logs should go to stdout/stderr especially when running in Docker/Kubernetes"

[2017-12-28 10:29] yivo commented on #201
Hello @ApsOps,

I agree with you. We should symlink `log/production.log` to STDOUT/STDERR Linux devices in Dockerfile like so:

[code]

[2017-12-28 10:32] ApsOps commented on #201
Hi @yivo . I'm kinda against the symlink approach since files keep increasing inside the container.
Isn't there a way to directly write ROR logs to stdout/stderr? That would be better IMHO 🙂

[2017-12-28 10:39] yivo commented on #201
@ApsOps Configuring `Rails.logger` to output to STDOUT is also possible. Actually, `/dev/stdout` & `/dev/stderr` are virtual devices (not real files) so you will not stuck with large log files (nothing will be written inside container). Docker daemon will receive STDOUT/STDERR output and then you can decide what to do with it: you can limit the size, you can choose logger driver and so on. Check D

[2017-12-28 10:39] ApsOps commented on #201
Ah, right. Makes sense 👍

[2017-12-28 10:40] yivo commented on #201
Cool. We will work on it :)

[2017-12-28 14:12] yivo opened #206 "Several specs are failing vue to MSSQL incompatibilities"
When Peatio is used with MSSQL some specs are failing:

[code]

[2017-12-28 14:13] yivo opened #207 "MSSQL SQL syntax incompatibilities"
[code]

[2017-12-28 18:44] yivo commented on #187
Approved by Louis

[2017-12-28 22:38] yivo commented on #187
![screencapture-localhost-3000-admin-documents-new-1514485701006](https://user-images.githubusercontent.com/7421323/34424984-a6de5bbe-ec30-11e7-977a-d21cae9a4055.png)

[2017-12-29 09:03] emasiuk commented on #199
@yivo I don't have this changes(fetched and rebased on master) and when i change in translation from renminbi to dollar i have some errors
![deepinscreenshot_select-area_20171229105842](https://user-images.githubusercontent.com/26141524/34433398-b9d08ba0-ec87-11e7-8c0a-82ccd91bcea3.png)

[2017-12-29 10:28] #172 closed

[2017-12-29 16:50] gfedorenko commented on #187
@yivo  should I remove the section with Korean and Chinese texts?

[2018-01-02 17:50] senisende commented on #191
I think you guys update the deploy docs :) Its still old peatio docs

[2018-01-03 13:27] yivo commented on #187
@gfedorenko We should remove this rubric entirely including database stuff. Have you started the task?

[2018-01-03 14:36] yivo commented on #199
Closed by #209.

[2018-01-03 14:36] #199 closed

[2018-01-03 14:36] yivo commented on #200
Closed by #209.

[2018-01-03 14:36] #200 closed

[2018-01-03 15:44] #16 closed

[2018-01-03 15:48] #201 closed

[2018-01-03 16:17] yivo commented on #201
@ApsOps Fixed in https://github.com/rubykube/peatio/commit/00b8c0bdb807e231c0309122b665a79e4b9f7440

[2018-01-03 16:48] yivo commented on #184
Closed via #210.

[2018-01-03 16:48] #184 closed

[2018-01-03 16:50] mod opened #215 "Support SegWit wallets"

[2018-01-03 18:10] yivo opened #216 "Update OmniAuth & OmniAuth providers to the latest version"

[2018-01-03 20:13] yivo opened #219 "Remove gem acts-as-taggable-on"
`acts-as-taggable-on` is used only for tagging tickets, ticket replies and for tagging members. Ticketing system will be removed soon. So taggings will be kept only for members. I believe we should remove taggings too.

[2018-01-03 20:14] yivo opened #220 "Remove signup history"
Signup history simply saves all signups to database. It is useless.

[2018-01-03 20:15] yivo opened #221 "Remove running accounts"
Model `RunningAccount` isn't used anywhere.

[2018-01-04 11:35] mod commented on #219
agreed

[2018-01-04 11:36] mod commented on #220
I need to make a tour of auditing mechanism we will need one and this auditing should be systematic and hopefully in Kibana so we don't need to code browsing of logs.

[2018-01-04 11:37] mod commented on #221
what it was meant for?

[2018-01-04 12:51] yssavchuk commented on #88
@yivo I found this test to be pending still because when we click on cancel order we expected order to be deleted but it does nothing
![screen shot 2018-01-04 at 2 50 21 pm](https://user-images.githubusercontent.com/19859122/34564295-c2794cca-f15e-11e7-8a20-4cd779b28470.png)

[2018-01-04 15:21] yivo commented on #221
@mod I don't know but this model isn't used anywhere.

[2018-01-05 12:12] yivo commented on #187
Closed via #217.

[2018-01-05 12:12] #187 closed

[2018-01-05 12:40] yivo commented on #126
Progress in #205.

[2018-01-05 12:40] yivo commented on #221
Progress in #223.

[2018-01-05 13:22] yivo opened #225 "Leftovers after removal of 2FA: member phone number & Phonelib"

[2018-01-05 13:23] yivo commented on #225
<img width="1100" alt="screen shot 2018-01-05 at 3 23 14 pm" src="https://user-images.githubusercontent.com/7421323/34611000-5f03b72e-f22c-11e7-8346-2b50a9377238.png">

[2018-01-05 14:20] yivo opened #226 "Remove lib/tasks/install.rake"

[2018-01-05 16:16] yivo commented on #221
Closed via #223.

[2018-01-05 16:16] #221 closed

[2018-01-05 16:17] yivo commented on #126
Closed via #205.

[2018-01-05 16:17] #126 closed

[2018-01-05 16:25] yivo commented on #197
Progress in #213

[2018-01-05 17:44] yivo commented on #219
Progress in #224.

[2018-01-05 18:01] yivo commented on #22
Progress in #222.

[2018-01-05 18:14] yivo commented on #226
Progress in #229.

[2018-01-05 18:14] yivo commented on #219
Closed via #224.

[2018-01-05 18:14] #219 closed

[2018-01-05 18:14] yivo commented on #197
Closed via #213.

[2018-01-05 18:14] #197 closed

[2018-01-05 18:15] yivo commented on #22
Closed via #222.

[2018-01-05 18:15] #22 closed

[2018-01-05 18:21] yivo commented on #40
Closed via #222.

[2018-01-05 18:21] #40 closed

[2018-01-05 18:35] yivo opened #230 "Remove lib/tasks/deploy.rake"
Leftover after removal stuff for non-container deployment.

[2018-01-05 18:37] yivo opened #231 "Remove benchmarks"

[2018-01-05 18:39] yivo opened #232 "Remove lib/tasks/emu.rake"

[2018-01-08 02:10] dan-turner commented on #225
Hi guys,

What was the reason for removing all the 2FA stuff?

[2018-01-08 03:55] paulokinho opened #237 "Issue viewing documents in admin panel at «Verify Account» page"
@yivo , How to approve/verify an account in "Verify account" page in the admin panel, I'm facing this issue when I click in View:

`App 27185 stdout:   Rendered admin/id_documents/show.html.erb within layouts/admin (202.7ms)
App 27185 stdout: Completed 500 Internal Server Error in 250ms (ActiveRecord: 9.2ms)
App 27185 stdout:
App 27185 stdout: ActionView::Template::Error (undefined method `admin_a

[2018-01-08 10:23] mod commented on #237
Hello Paul, Master might be unstable until the next tag 0.2.5
Thanks for reporting, I think it's a bug we will work on it ASAP,

We hope to release 0.2.5 this Friday.

[2018-01-08 11:40] yivo commented on #237
@paulokinho Thank you for your report. I can confirm this is a bug. We will try to fix ASAP.

[2018-01-08 12:12] yivo commented on #237
Progress in #238.

[2018-01-08 12:19] yivo opened #239 "Leverage SMTP configuration using application.yml"
- [ ] Change all default values to nil
- [ ] Update documentation
- [ ] Add missing vars (check https://github.com/rubykube/peatio/pull/236)
- [ ] Align code

[2018-01-08 12:33] yivo commented on #230
Closed via #234.

[2018-01-08 12:33] #230 closed

[2018-01-08 12:34] yivo commented on #226
Closed via #229.

[2018-01-08 12:34] #226 closed

[2018-01-08 12:35] yivo commented on #220
Progress in #233.

[2018-01-08 12:38] yivo opened #240 "Enable Code Climate"

[2018-01-08 13:01] yivo opened #241 "Generation of deposit address doesn't work stable: randomly isn't generated"

[2018-01-08 13:02] yivo opened #242 "No job rescheduling in daemons when exception is raised"

[2018-01-08 13:03] yivo opened #243 "Errors of data processing in loops may stop newer data for being processed (stucks the whole application, daemons moustly)"

[2018-01-08 13:06] yivo opened #244 "ChromeDriver constantly stucks"

[2018-01-08 16:30] yivo commented on #237
@paulokinho Fixed in #238.

[2018-01-08 16:30] #237 closed

[2018-01-08 16:49] yivo commented on #244
Found why.

[code]

[2018-01-08 16:59] yivo commented on #244
[code]

[2018-01-08 17:42] yivo opened #248 "Deletion of orders doesn't seem to work"

[2018-01-08 18:07] yivo opened #249 "Leftovers after acts-as-taggable-on removal"
Delete the next files:
* `config/member_tags.yml`
* `spec/fixtures/member_tags.yml`

[2018-01-08 21:42] yivo commented on #244
Fixed in #247.

[2018-01-08 21:42] #244 closed

[2018-01-08 21:42] yivo commented on #249
Fixed in #250.

[2018-01-08 21:42] #249 closed

[2018-01-08 21:42] yivo commented on #239
Closed via #246.

[2018-01-08 21:42] #239 closed

[2018-01-08 21:44] yivo commented on #225
Hi @dan-turner,

Our plan is not to remove 2FA. We just want to move it to different place. These days we are starting to work hard on [barong](https://github.com/rubykube/barong) OAuth2 server for peatio which will handle 2FA and identity.

[2018-01-08 21:44] yivo commented on #225
Closed via #245.

[2018-01-08 21:44] #225 closed

[2018-01-08 21:45] yivo commented on #220
Closed via #233.

[2018-01-08 21:45] #220 closed

[2018-01-09 10:11] yivo commented on #88
@yssavchuk This issues is related to unimplemented deletion of orders. Continued in #248.

[2018-01-09 10:11] #88 closed

[2018-01-09 10:11] yivo commented on #248
Related issue #88.

[2018-01-09 13:53] yivo opened #253 "Precompiled assets are broken at «Funds» page"

[2018-01-09 15:25] yivo opened #256 "Delete locales leaving only English, French & Russian"

[2018-01-09 18:12] mkuvshynnikov opened #258 "Remove malformed currency symbol from title at page «Trade»"
In markets in head => should not displaying icons
![screen shot 2018-01-09 at 8 00 13 pm](https://user-images.githubusercontent.com/29736025/34735536-7b9b8322-f578-11e7-9c45-2e250ac88c73.png)

[2018-01-09 18:24] mkuvshynnikov opened #260 "Fix markets sorting"
On page Markets > hover on left sidebar to get list of "sorting by markets"
Markets sorting by XRP should display sorting by:
-XRP/USD
-BTC/XRP
Markets sorting by BTC should display sorting by:
-BTC/USD
-BTC/XRP

[2018-01-09 18:37] mkuvshynnikov opened #261 "RabbitMQ server disconnects long-running clients"
The problem with generating wallets could be related to RabbitMQ timeout config.
Need to check RabbitMQ timeout config.

[2018-01-09 20:22] spavlishak commented on #260
You can close it.

[2018-01-10 00:12] yivo commented on #260
Issue is related to missing entries in config/markers.yml, not to code.

[2018-01-10 00:12] #260 closed

[2018-01-10 00:12] yivo commented on #260
@mkuvshynnikov @spavlishak up

[2018-01-10 06:12] dan-turner commented on #253
Any idea what's wrong?

[2018-01-10 08:10] #248 closed

[2018-01-10 11:43] Hopperman opened #264 "Market orders by price instead of volume"
Question:

Is it possible to submit a market order by amount you want to spend, rather than volume you want to buy?
e.g. Submit order to purchase $1 of BTC versus purchasing `n` of BTC and estimate required funds

[2018-01-10 11:45] yivo commented on #253
@dan-turner We don't know exactly why this occurs but we it may be fixed temporary by disable mangler in UglifyJS. Here is a patch: https://github.com/rubykube/peatio/pull/259.

[2018-01-10 12:29] mkuvshynnikov commented on #188
![screen shot 2018-01-10 at 2 21 56 pm](https://user-images.githubusercontent.com/29736025/34772892-5c3cb29a-f612-11e7-8913-a617d7c95678.png)

[2018-01-10 13:57] yivo commented on #258
Progress in #263.

[2018-01-10 16:37] yivo commented on #216
Progress in #265.

[2018-01-10 16:43] yivo opened #266 "Strip captcha feature"

[2018-01-10 16:57] yivo opened #267 "Delete unneeded images & locales"
<img width="337" alt="screen shot 2018-01-10 at 6 58 08 pm" src="https://user-images.githubusercontent.com/7421323/34784882-3985ba0a-f638-11e7-92e7-6aee1e5ad8fc.png">

[2018-01-10 17:04] yivo opened #268 "Remove lib/tasks/migration.rake"

[2018-01-10 17:08] yivo opened #269 "Translations has been deleted but link still exists"
<img width="886" alt="screen shot 2018-01-10 at 7 07 33 pm" src="https://user-images.githubusercontent.com/7421323/34785392-a8905652-f639-11e7-86bc-74c91ccb3ff9.png">

[2018-01-10 17:34] yivo opened #271 "Make SMTP username, password and authentication type optional"

[2018-01-10 18:08] spavlishak commented on #269
It should be on /exchange_assets page?

[2018-01-10 18:56] #253 closed

[2018-01-10 18:57] #256 closed

[2018-01-11 05:50] dan-turner opened #276 "Fiat deposits not working"
Appears to be due to a problem with CSRF token:

[code]

<img width="1094" alt="screenshot 2018-01-11 16 49 35" src="https://user-images.githubusercontent.com/814113/34810442-719aa4d4-f6ef-11e7-9f46-37c5c2683c34.png">

[2018-01-11 11:56] yivo commented on #276
@dan-turner Thanks for your report.

[2018-01-11 12:04] yivo commented on #216
Closed via #265.

[2018-01-11 12:04] #216 closed

[2018-01-11 12:04] yivo commented on #258
Closed via #263.

[2018-01-11 12:04] #258 closed

[2018-01-11 12:06] yivo commented on #157
Closed via #257.

[2018-01-11 12:06] #157 closed

[2018-01-11 13:29] yivo opened #279 "Remove hardcoded currencies"

[2018-01-11 13:32] yivo opened #280 "Issues with fees"
We need reproduction steps and input / output data.

[2018-01-11 19:20] #269 closed

[2018-01-11 19:20] #188 closed

[2018-01-12 03:10] ryanisab opened #283 "Remove Pusher Dependency"
Pusher locks this project into using their service to scale websocket connections. Ideally this project should stand up a websocket server and the implementor should then be able to decide how to scale the websocket traffic independently instead of being locked in to one specific vendor. This is especially important if running the project as a component in a locked down SOA deployment as scaling w

[2018-01-12 03:18] ryanisab opened #284 "Is there an easier way to add new coins?"
Looking through this codebase I found that adding ripple touched 45 files:

https://github.com/rubykube/peatio/commit/00cbf1d04ec3234f1bf6bafcbfb1304adb52f9cc

Is there an easier way to add coins to this project?

Could this project be refactored so that you add coins by just installing a new gem?

[2018-01-12 06:00] dan-turner opened #285 "Withdrawal of crypto (both BTC & XRP) not working"
Getting the following error on submit, identical stack trace for BTC too:

[code]

[2018-01-12 09:02] dkkoval commented on #284
Hello @ryanisab!

This patch was made to support Ripple in Peatio asap, it's definitely not a good way to add a new coin (the problem is that the old Peatio was supporting only BTC and it's forks).

In the next versions we will have more generic and clean way to configure and add new currencies. You're right, adding the new currency is going to be as easy as adding a gem :wink:

[2018-01-12 09:07] dkkoval commented on #283
Hello @ryanisab!

We're going to migrate to Rails 5 soon, then we will replace pusher with ActionCable.

[2018-01-12 13:24] yivo commented on #266
Progress in #270.

[2018-01-12 15:26] #266 closed

[2018-01-12 15:57] yivo opened #286 "Squash database migrations in single file"

[2018-01-12 16:26] yivo commented on #285
Here is the patch which broke this: https://github.com/gfedorenko/peatio/commit/204c3c3ddb56357a8494e6b574ca4d0818f085d2#diff-f6b6994f503d9b14c7e8f06a7f954ef0R54

[2018-01-12 16:34] yivo commented on #285
We need to globally configure default angular HTTP adapter to send forgery token. Example of code:

[code]

[2018-01-12 16:41] mkuvshynnikov opened #287 "Balance should be rounded with higher precision"
In Summary dropdown field currencies rounding by 2 digits after dot
Should rounding by 4 or 5 digits after the dot.
![screen shot 2018-01-12 at 6 25 59 pm](https://user-images.githubusercontent.com/29736025/34884995-28f3408c-f7c7-11e7-82d6-b97c05645a75.png)

[2018-01-12 17:17] yivo opened #290 "Withdraws::Withdrawable#create has became empty after removal of 2FA"
Should be the same as https://github.com/peatio/peatio/blob/master/app/controllers/concerns/withdraws/withdrawable.rb#L9 but without 2FA stuff.

[2018-01-12 17:44] yivo opened #291 "Remove sign in and sign up"

[2018-01-12 20:18] #271 closed

[2018-01-13 11:43] maniharicse commented on #285
tried the above workaround.
`$http.post("/withdraws/#{withdraw_channel.resource_name}", data)`

# Getting the below error now.

NoMethodError at /withdraws/ripples
===================================

Did you mean?  fund_source=
               fund_source

app/controllers/concerns/withdraws/withdrawable.rb, line 10
-----------------------------------------------------------

[code]

App backtrace

[2018-01-13 15:03] yivo commented on #285
@maniharicse Hi

`$http.post("/withdraws/#{withdraw_channel.resource_name}", data)` will not work since data is missing CSRF token. Our team has already started several issues and PR which fixes issue (https://github.com/rubykube/peatio/pull/288, https://github.com/rubykube/peatio/issues/290). It will be pushed at v0.2.5 at the beginning of the week.

[2018-01-13 15:43] yivo commented on #267
<img width="358" alt="screen shot 2018-01-12 at 2 51 17 pm" src="https://user-images.githubusercontent.com/7421323/34907569-4d355148-f889-11e7-807c-bf50f21fd69f.png">
<img width="374" alt="screen shot 2018-01-12 at 2 51 07 pm" src="https://user-images.githubusercontent.com/7421323/34907570-4d4f80d6-f889-11e7-9a6c-67b713b7627d.png">

[2018-01-13 16:04] yivo opened #295 "Prevent ActiveRecord exceptions from being silenced"
Requirement is to CAREFULLY dig into code and replace safe calls to unsafe.

**Example**
https://github.com/rubykube/peatio/blob/master/app/models/worker/deposit_coin_address.rb#L12

`return unless payment_address.update(currency == 'xrp' ? address : { address: address })` may fail and it will just do return. It may be a problem since this line responds for deposit address generation. We can stuck

[2018-01-13 16:04] yivo commented on #295
It was previously assigned to Yehor Chumak. I will continue his work – #282.

[2018-01-13 16:05] yivo opened #296 "Install exception reporting software which should be configurable"
I think we can go now with NullReporter, RollbarReporter and SentryReporter.

[2018-01-14 22:05] #267 closed

[2018-01-15 11:26] #268 closed

[2018-01-15 16:49] #291 closed

[2018-01-15 17:52] yivo opened #298 "RabbitMQ doesn't requeue messages which consumer failed to process"
More at http://rubybunny.info/articles/queues.html

[2018-01-16 06:40] Hopperman commented on #264
Any feedback? :)

[2018-01-16 09:36] yivo commented on #264
@mkuvshynnikov ping

[2018-01-16 11:14] yivo opened #299 "Create configuration variables which should be used to specify active OAuth providers"

[2018-01-16 11:14] yivo opened #300 "Create admin rubric which allows to manually deposit USD"

[2018-01-16 12:57] yivo opened #301 "Revert fund_source to fund_source_id"
For reference:
* https://github.com/peatio/peatio/commit/650a5bd6938c3b89aae9f47642e9ad3b07178ee7
* https://github.com/peatio/peatio/pull/531

[2018-01-16 13:02] yivo commented on #261
We checked and found this works good.

[2018-01-16 13:03] #261 closed

[2018-01-16 13:03] yivo commented on #298
Duplicate of @242.

[2018-01-16 13:03] #298 closed

[2018-01-16 13:23] yivo opened #302 "Write rake task which sends test email to specified address (useful for testing mails)"

[2018-01-16 15:25] amarian12 opened #303 "coininfo page"
Will be nice to have a coininfo page, to show the wallet info as version, actual block and number of connections.. maybe also peers details

[2018-01-16 15:38] nandhini-ramanujam opened #304 "Per Trade fee"
Hi, I have setup the Markets.yml with 0.1 as trading fee. But the same is not getting reduced in user account balance. Do we need any other configurations beyond this?

[2018-01-16 16:01] #241 closed

[2018-01-16 16:38] #242 closed

[2018-01-16 16:46] yivo commented on #303
Hello @amarian12

I believe this is not a scope of Peatio exchange. You should understand Peatio like cryptocurrency exchange provider which you can add to your project. But it is not a website which has everything ready out of box.

@mod ping

[2018-01-16 16:47] yivo commented on #304
Hello @nandhini-ramanujam

These fees are used as transaction fees. Peatio doesn't support trading fees.

@mod ping

[2018-01-16 16:50] nandhini-ramanujam commented on #304
Transaction fees refers what? Each bid and Ask fees?

[2018-01-16 18:41] mkuvshynnikov opened #306 "A limits on the amount for withdrawal"
Withdraw limits:

- daily

- weekly

- monthly
needs to be added for more security

[2018-01-16 19:20] #285 closed

[2018-01-16 19:23] yivo commented on #285
Closed in #288.

[2018-01-16 19:23] yivo commented on #290
Closed in #288.

[2018-01-16 19:24] #290 closed

[2018-01-16 19:24] yivo commented on #276
Closed in #288.

[2018-01-16 19:24] #276 closed

[2018-01-16 19:24] yivo commented on #130
Closed in #288.

[2018-01-16 19:24] #130 closed

[2018-01-16 19:25] yivo commented on #302
Closed in #305.

[2018-01-16 19:25] #302 closed

[2018-01-17 00:49] ScottKaleita commented on #215
@mod Having trouble adding ETH wallet to peatio

[2018-01-17 00:49] skaleita commented on #215
@mod Need help installing ETH Wallet

[2018-01-17 05:30] Microinstance opened #308 "BTC Deposit : Address not showing"
Hi, i have setup peatio in Ubuntu 14.04, latest from master branch every thing is working but  in BTC Deposit Address showing blank. When i am clicking in New Address nothing happen.

i have check all the daemons and bitcoin is up and working

[2018-01-17 05:31] Microinstance opened #309 "Trad page showing blank"
Trad page showing blank

[2018-01-17 07:13] yivo commented on #308
Hello @Microinstance

Deposit address generation works very well on the latest master.

You should check:
* Bitcoind is fully synced
* Correct RPC values in currencies.yml
* Daemon amqp:deposit_coin_address is running

[2018-01-17 07:15] yivo commented on #309
Hello @Microinstance

Could you please share the details? For me trade page works well in clean Peatio installation.

You can also run Peatio using github.com/rubykube/peatio-workbench.

[2018-01-17 07:15] yivo commented on #308
You can also run Peatio using https://github.com/rubykube/peatio-workbench.

[2018-01-17 07:23] yivo commented on #304
@nandhini-ramanujam I will check it later. Now you can use `git-blame` to find out what this piece of code was used for. @yssavchuk ping

[2018-01-17 09:22] amarian12 commented on #303
Idea was that anyone can verify that the exchange wallets are on correct block, correct version

[2018-01-17 10:31] yssavchuk commented on #304
@nandhini-ramanujam Hi
Transaction fees refers to each order either bid or ask.
Imagine peatio maches bid order (1btc/10_000usd) with ask order (10_000usd/1btc)
Btcusd market bid fee is 0.1 and ask fee is 0.05
It means that member created bid order will receive 9_000usd and member created ask order will receive 0.95btc
So peatio takes fee from amount member receive

[2018-01-17 11:17] yivo opened #310 "CoinRPC#sendtoaddress requires real number with maximum 8 decimal places but Peatio may send more (withdraw)"
* https://en.bitcoin.it/wiki/Original_Bitcoin_client/API_calls_list
* https://en.bitcoin.it/wiki/Proper_Money_Handling_(JSON-RPC)

To reproduce:
* Put `binding.pry` at 33-th line at `app/models/worker/withdraw_coin.rb`.
* Edit `config/currencies.yml` and set `quick_withdraw_max` to 1 or something greater.
* Run app & daemons, manually stop `amqp:withdraw_coin`: `god stop amqp:withdraw_coin` and ru

[2018-01-17 13:35] yssavchuk commented on #310
Result of execution of this line of code
```Withdraws::Satoshi.new("fund_source"=>3, "member_id"=>7, "currency"=>"btc", "sum"=>0.5)```
Is
[code]

[2018-01-17 13:38] yivo commented on #310
@yssavchuk So we have some issues with numbers since 0.5 becomes 0.5000000000000001

[2018-01-17 14:13] yssavchuk commented on #310
What is more I think we need to provide input validation of amount because user can input `0.0010000000000001`
@yivo ping

[2018-01-17 14:15] yivo commented on #310
@yssavchuk What is the default value for precision in currencies.yml?

[2018-01-17 14:17] yssavchuk commented on #310
it is not provided

[2018-01-17 14:18] yivo commented on #310
@yssavchuk We can check user input like so:
[code]

[2018-01-17 14:18] yivo commented on #310
@yssavchuk Can you set precision to 8 in currencies.yml and test?

[2018-01-17 14:52] yivo opened #316 "Ability to list withdraws using API"

[2018-01-17 14:53] yivo opened #317 "Move to Ruby 2.5"

[2018-01-17 14:54] yivo commented on #306
Please, describe details. I don't understand.

[2018-01-17 14:55] yivo commented on #306
ping @mkuvshynnikov

[2018-01-17 14:57] yivo commented on #310
Progress in #315.

[2018-01-17 17:45] #310 closed

[2018-01-17 18:00] yivo commented on #295
Closed via #282.

[2018-01-17 18:00] #295 closed

[2018-01-17 18:01] #280 closed

[2018-01-18 03:31] nandhini-ramanujam commented on #304
HI @yssavchuk & @yivo

Thanks for your reply. I will look into it.

[2018-01-18 12:22] amarian12 commented on #310
this will help https://github.com/amarian12/nlexch.com/commit/be2f7bdb30e48686ec9472ed6dfb7def6152e993

[2018-01-18 16:08] yivo commented on #296
Closed by #313.

[2018-01-18 16:08] #296 closed

[2018-01-18 22:12] Alex-Shilman commented on #309
@yivo, I'm not seeing the actual candles on the trade page. I think that's what @Microinstance meant.

[2018-01-19 18:54] CombatCode opened #323 "Missing raven-js"
After fresh installation raven-js is missing:
[code]
Anyway why it's stored in `yarn_components` instead of `node_modules`?

[2018-01-19 20:59] yivo commented on #323
Hello @CombatCode

It is not included in the project. Run `bundle exec rake yarn:install`. You can read about Yarn [here](https://yarnpkg.com/en/).

[2018-01-19 20:59] #323 closed

[2018-01-20 05:20] Alex-Shilman opened #324 "Not seeing candle sticks on trade page"
I am not seeing any candle sticks on the Trade page `/markets/btcusd`. The only thing I see is a loading spinner.

![screen shot 2018-01-20 at 12 18 26 am](https://user-images.githubusercontent.com/3674429/35180151-8c929be6-fd77-11e7-8d42-cedbda46f6c3.png)

Am I missing some kind of an `access_key`. Perhaps could be a good idea to add some instructions in the Readme file.

[2018-01-20 09:31] Microinstance commented on #308
Hi @yivo , thanks for your quick reply.

i have checked values in currencies.yml and daemon amqp:deposit_coin_address is also running but bit coin address is not showing

[2018-01-20 09:32] Microinstance commented on #308
i have tried to install from https://github.com/rubykube/peatio-workbench. but it is showing error for ngx-cryptobase

[2018-01-20 09:33] Microinstance commented on #309
Thnaks @Alex-Shilman  actual candles on the trade page is not Showing

[2018-01-20 09:35] Microinstance opened #325 "Update documentation"
Hi, Can you please update the installation document, i am interested to install in production mode.

[2018-01-20 23:42] CombatCode commented on #323
@yivo yeach, I know what it is but dunno why my issue was closed when peatio installation is still broken and `yarn_components/raven-js/dist/raven` is wrong defined path

[2018-01-21 09:14] GH0STL1N3R commented on #324
Did you execute some demo orders/trades? If you haven't, no charts (candle stick/line) will show up

[2018-01-21 10:18] Miro-Marinov opened #326 "ActionView::Template::Error (couldn't find file 'yarn_components/raven-js/dist/raven' with type 'application/javascript'"
`ActionView::Template::Error (couldn't find file 'yarn_components/raven-js/dist/raven' with type 'application/javascript'
Checked in these paths:
  /home/miro/peatio/app/assets/images
  /home/miro/peatio/app/assets/javascripts
  /home/miro/peatio/app/assets/stylesheets
  /home/miro/peatio/vendor/assets/javascripts
  /home/miro/peatio/vendor/assets/stylesheets
  /var/lib/gems/2.3.0/gems/clipboard-r

[2018-01-21 10:42] #326 closed

[2018-01-21 10:42] Miro-Marinov commented on #326
Solved via: bundle exec rake tmp:create yarn:install assets:precompile

[2018-01-21 11:39] yivo commented on #325
Hello @Microinstance

Unfortunately, docs aren't fresh now. We will try to update the docs along with 0.2.5 release on the next week. Now you can use `Dockerfile` & `travis.yml` to get Peatio running.

Production install supports only Docker deployment.

[2018-01-21 11:40] yivo commented on #326
Hello @Miro-Marinov

Unfortunately, docs aren't fresh now. We will try to update the docs along with 0.2.5 release on the next week. Now you can use `Dockerfile` & `travis.yml` to get Peatio running.

For your issue running `bundle exec rake yarn:install` will be enough.

[2018-01-21 11:50] yivo commented on #323
@CombatCode Peatio isn't broken. `rake yarn:install` will install dependencies into `vendor/assets/yarn_components/yarn_components`.

* `yarn_components` was chosen because Yarn itself was developed as a replacement for Bower. Bower used `bower_components` for installing deps. For me it is logical.
* `yarn_components` lives in another `yarn_components` because it prevents the same assets from reli

[2018-01-21 11:52] yivo commented on #324
Hello @Alex-Shilman

Could you please share the output from DevTools console?

Maybe you have some issues with assets. What browser do you use?

[2018-01-21 11:53] yivo commented on #324
My staging server with Peatio works well, but I use Docker for deployment. Do you?

[2018-01-21 11:59] yivo commented on #308
Hello @Microinstance

Could you please share the errors you get from peatio-workbench?

Also have you checked that your Bitcoin node is fully synced?

Our team doesn't have any issues running Peatio from master. But we actively use Docker for it.

I would advise you to try manually generate your address by calling Bitcoind JSON RPC:

`curl --user RPC_USER:RPC_PASSWORD --data '{"jsonrpc": "1.0", "m

[2018-01-21 11:59] yivo commented on #308
It should return something like `{"result":"mrdWWRtyhiEcR2yzRZA8p3eHWnuxHUyuHF","error":null,"id":null}`.

[2018-01-21 12:02] yivo commented on #309
Hi @Alex-Shilman @Microinstance

I am sure you did something wrong when installing Peatio. Could you please share output from DevTools?

Personally I don't have such problem.

<img width="1280" alt="screen shot 2018-01-21 at 2 01 34 pm" src="https://user-images.githubusercontent.com/7421323/35193975-c18cc85c-feb3-11e7-9386-3c4d6b80670a.png">

[2018-01-21 17:15] freezybot opened #327 "Error gem install atomic -v '1.1.99'"
When I run 'bundle install' the next issue appears:

An error occurred while installing atomic (1.1.99), and Bundler cannot continue.
Make sure that `gem install atomic -v '1.1.99'` succeeds before bundling.

Then I tried to install atomic alone, but is not working.
What can I do to solve this problem?

[2018-01-22 08:31] Microinstance opened #328 "bundle exec rake assets:precompile issue"
Hi, i am installing peatio in Production but geting error while runing bundle exec rake assets:precompile issue please help
![error](https://user-images.githubusercontent.com/6851996/35211516-c3b62fd2-ff7c-11e7-8e8e-ad93825641b0.jpeg)

[2018-01-22 09:26] yivo commented on #328
Hello @Microinstance

You need to install missing deps: `bundle exec rake yarn:install`.

[2018-01-22 09:27] yivo commented on #328
You can get the full steps for running Peatio in Dockerfile or travis.yml.

[2018-01-22 09:27] #328 closed

[2018-01-22 09:29] yivo commented on #327
Hello @freezybot

Installing atomic alone and via bundler are the same things.

I am sure you are missing some shared libraries or source code in your system. You may check the requirements at https://github.com/ruby-concurrency/atomic or open an issue there.

[2018-01-22 09:29] #327 closed

[2018-01-22 10:49] yivo commented on #328
Hi @Microinstance

You should consider reading about [asset pipeline](http://guides.rubyonrails.org/asset_pipeline.html). There are many cases why it will not run or output nothing.

[2018-01-22 15:39] yivo opened #332 "Add support for Bitcoin Cash"

[2018-01-22 15:40] yivo opened #333 "Add support for Litecoin"

[2018-01-22 15:40] yivo opened #334 "Add support for Ethereum (daemon)"

[2018-01-22 15:42] yivo opened #335 "Find a way to get God log to STDOUT / STDERR instead of files"
One solution will be to symlink logs to virtual Linux devices for standard streams.

[2018-01-22 15:48] yivo commented on #333
1. Read Peatio source code for BTC & XRP
2. Add LTC the same way

[2018-01-22 15:51] yivo commented on #333
3. Deposit, withdraw, trading should work

[2018-01-22 16:02] mkuvshynnikov commented on #264
@Hopperman hello,
There is no such feature as "to filter orders by price instead of volume" but anyway before the submit market order(e.g. market USD/BTC), in field "Summary" you can see how much USD you will get/spend.

[2018-01-22 16:41] ang-st opened #336 "Brakeman audit on current codebase"
Hello,

i gave a shot at https://github.com/presidentbeef/brakeman to see if it would find some potential security issues.
And there are some match :

[code]
I didn't dive further to test how exploitable are each issues, so those might be false positives

Best

[2018-01-22 16:47] ang-st opened #337 "Bundle-audit on current codebase"
Hi,
this one check for vulnerable dependencies :

[code]

Best

[2018-01-22 19:14] yivo commented on #336
Hi @ang-st

Thank you for your submit. We will validate all cases.

[2018-01-22 19:14] yivo commented on #337
Hi @ang-st

Thank you for your submit. We will validate all cases.

[2018-01-23 10:18] GildedHonour commented on #333
I'll take this.

[2018-01-23 10:18] GildedHonour commented on #334
I'll take this too.

[2018-01-23 10:19] GildedHonour commented on #332
I'll take this too.

[2018-01-23 10:27] yivo commented on #332
@GildedHonour Did you see the assignees for the issue?

[2018-01-23 11:11] yivo commented on #334
https://github.com/ethereum/wiki/wiki/JSON-RPC

[2018-01-23 11:17] yivo opened #339 "Find and fix incompatibilities in Peatio's JSON RPC with BitGo"

[2018-01-23 11:19] yivo commented on #303
@amarian12 consider contacting @mod for this.

[2018-01-23 11:50] yssavchuk commented on #339
1. listtransactions
[code]
https://github.com/rubykube/peatio/blob/4cbe0474ae752e1aedcea9757d6de37a78accfdd/lib/daemons/coins.rb#L9

[2018-01-23 13:32] yivo commented on #317
Closed in #340.

[2018-01-23 13:32] #317 closed

[2018-01-23 14:03] yivo commented on #286
https://github.com/jalkoby/squasher

[2018-01-23 14:40] yivo commented on #162
Please base your branch on master and target your PR to branch devel. Push PR as you start working.

[2018-01-23 14:40] yivo commented on #182
Please base your branch on master and target your PR to branch devel. Push PR as you start working.

[2018-01-23 14:41] yivo commented on #207
Please base your branch on master and target your PR to branch devel. Push PR as you start working.

[2018-01-23 14:41] yivo commented on #206
Please base your branch on master and target your PR to branch devel. Push PR as you start working.

[2018-01-23 14:43] yivo commented on #333
@GildedHonour Please base your branch on v2.0 and target your PR to the same branch. Push PR as you start working.

[2018-01-23 14:44] yivo commented on #334
@GildedHonour Please base your branch on v2.0 and target your PR to the same branch. Push PR as you start working.

[2018-01-23 16:12] yivo commented on #332
Closed via #331.

[2018-01-23 16:12] #332 closed

[2018-01-23 16:12] yivo commented on #316
Closed via #338.

[2018-01-23 16:12] #316 closed

[2018-01-23 16:13] yivo commented on #286
Closed via #286.

[2018-01-23 16:13] #286 closed

[2018-01-23 17:45] mkuvshynnikov opened #344 "Move hardcoded config files into database and make them dynamic"

[2018-01-23 19:14] mitjok commented on #344
https://www.evernote.com/l/AYPS6GpMBNVGcrArsrBPSMxzU2LTuYKmjPYB/image.png
just to make sure.. @mkuvshynnikov we are talking about this files, right?

[2018-01-23 20:42] yivo commented on #344
@mitjok I will write the details tomorrow. Don't start the task.

[2018-01-23 20:44] yivo commented on #344
@mkuvshynnikov Configs are not hardcoded. Configs are configs.

[2018-01-23 21:00] ashanaakh commented on #335
I found [resource](http://godrb.com) for this issue.

__REDIRECTING STDOUT AND STDERR OF YOUR PROCESS__

By default, the __`STDOUT`__ stream for your process is redirected to `/dev/null`. To get access to this output, you can redirect the stream either to a file or to a command.

To redirect `STDOUT` to a file, set the log attribute to a file path. The file will be written in append mode and creat

[2018-01-23 21:04] ashanaakh commented on #335
@yivo maybe we only should add `w.log_cmd = '/usr/bin/logger'` to `lib/daemons/daemons.god` file.

[2018-01-23 21:54] yivo commented on #335
@ashanaakh no. This will break logs on dev machine.

[2018-01-23 21:57] yivo commented on #335
They meant `/usr/bin/logger` is some custom script for logging. The solution may be to set log_cmd & err_log_cmd only for PROD env which both point to some script like `Rails.root.join('bin/god_logger.sh')`.

[2018-01-23 22:48] ashanaakh commented on #344
😆

[2018-01-24 03:31] GildedHonour commented on #333
There're several tasks for v2.0. Shouldn't I create a separate branch for this issue -- issue_333?

Why should I create a PR right as I start working?

[2018-01-24 08:50] mitjok commented on #344
@mkuvshynnikov, @yivo any updates here, thx

[2018-01-24 09:29] yivo commented on #333
@GildedHonour Fork repo & create new branch per issue. Branches should be based on v2.0. Submit PR as you start working. We would like to see the progress.

[2018-01-24 09:53] yivo commented on #279
Move config/currencies.yml to database layer:
* Remove hardcoded currencies from many places in the project including assets/ public/templates and Rails views.
* Don't cache currencies since they may be updated from admin panel in future.
* Create db/seed.rb which should add USD & BTC if no currencies exist at all in DB.
* Update existing code to reflect changes to currency model.
* Write smart va

[2018-01-24 09:54] yivo commented on #344
Hello @mitjok

You issue is described here – https://github.com/rubykube/peatio/issues/279

[2018-01-24 09:54] #344 closed

[2018-01-24 09:55] yivo commented on #344
@mkuvshynnikov ping

[2018-01-24 10:03] yivo commented on #279
@mitjok Please, submit your WIP PR ASAP and target it to `devel` branch, should be based on `devel`.

[2018-01-24 10:18] yivo opened #345 "Add support for Monero"

[2018-01-24 10:19] yivo opened #346 "Add support for Dash"

[2018-01-24 10:21] yivo opened #347 "Extract trading page (UI only) to separate application"

[2018-01-24 10:35] yivo commented on #337
@vpetrusenko Please, work in devel branch.

[2018-01-24 10:37] yivo commented on #336
@vpetrusenko Please, work in devel branch.

[2018-01-24 11:02] mitjok commented on #279
@yivo I'll start the task within an hour. Do you need a pull request of my wip work to review befor merge in `devel`?

[2018-01-24 11:27] yivo commented on #347
The probably strategies:
* Create app with something like Angular + Webpack.
* Create new API only Rails app and include existing assets.
* Use Middleman.

[2018-01-24 11:31] yivo opened #349 "Add markets API"

[2018-01-24 11:39] yivo commented on #279
@mitjok Yes, submit the PR as you will push the first commit.

[2018-01-24 13:56] mitjok commented on #279
@yivo tyring to do on db level, any objections?

[2018-01-24 13:58] yivo commented on #279
@mitjok

`code, varchar(30), not null, should be always UPPERCASE (do canonicalization)`
Do this in `def code=(code)`.

`options, varchar(1000), default: {}, not null, serializable attribute of JSON type`
If we would not need to support such databases as MSSQL (more are coming) I would prefer JSON data type in DB layer. I am not familiar with MSSQL so I consider implement it in compatible way.

[2018-01-24 14:04] yivo commented on #349
It seems like Peatio already includes some basic markers API.

[2018-01-24 14:04] #349 closed

[2018-01-24 14:09] yivo opened #352 "Update aasm to 4.x"

[2018-01-24 14:09] yivo opened #353 "Remove gem amqp"

[2018-01-24 14:11] mitjok commented on #279
@yivo updated the thread and noticed your `Rush` label, questions not actual anymore

[2018-01-24 14:20] yivo commented on #279
@mitjok Please do it without DB triggers.

[2018-01-24 14:20] yivo commented on #279
Do it in Ruby.

[2018-01-24 14:24] mitjok commented on #279
sure

[2018-01-24 14:28] yivo commented on #299
We need to add ENV variable which is used to specify active OAuth providers:

`ENV['OAUTH2_SIGN_IN_PROVIDERS'] = 'google,auth0'`.

Put this var by default in dev section and add docs.

Remove `GOOGLE_OAUTH2_SIGN_IN` & `AUTH0_OAUTH2_SIGN_IN`.

[2018-01-24 14:28] yivo commented on #299
Also update views.

[2018-01-24 16:01] yssavchuk commented on #299
I found one more mistake here
We need to use `google` as provider instead of `google_oauth2` because it will concatanate `"GOOGLE_OAUTH2_OAUTH2_REDIRECT_URL"` instead of `"GOOGLE_OAUTH2_REDIRECT_URL"` in this line of code
https://github.com/rubykube/peatio/blob/58d7309d4540170c920b573c40062c328fc9e604/app/controllers/sessions_controller.rb#L34

[2018-01-24 19:25] yivo commented on #352
@yssavchuk Pls check this commit – https://github.com/yivo/peatio/commit/a486e55ccaaaed868990be3736c4c9eba5cf60a1

Test it and push if everything is OK.

[2018-01-24 19:25] yivo commented on #352
Also pls remove debug statements.

[2018-01-24 21:53] mitjok commented on #279
@yivo just writing to let you know that I'm in the transition from my current project (40h/week) to `peatio`. Time lags as today are possible..

[2018-01-24 21:53] mitjok commented on #279
@yivo https://www.evernote.com/l/AYMaHzP3dHZGkLSyOrFcbgiis8fb-rP9LQkB/image.png
don't have permissions to create a branch for pull request, pls fix

[2018-01-24 21:59] yivo commented on #279
@mitjok Consider using GitHub forking.

[2018-01-25 10:03] yivo commented on #301
@ashanaakh I unassigned you from this task.

[2018-01-25 10:13] ashanaakh commented on #301
Ok @yivo, I am working on #335 issue.

[2018-01-25 10:44] ang-st opened #364 "File system exhaustion on exception while handling AMPQ messages"
Hi,

i noticed that when an exception occurs in handling an ampq message, peatio happily flood its log file until ENOSPC.

It happens on any ampq queue but an easy step to reproduce is :
[code]

As the message isn't pull off the queue, peatio throw the error in loop, append to log, repeat ... ad-nauseam

I'm not sure about what could be a sane behaviour here, as it can happen, when for example, SM

[2018-01-25 10:48] yssavchuk commented on #300
Remove ability to edit locked funds and leave only balance field
![deepinscreenshot_select-area_20180125124803](https://user-images.githubusercontent.com/19859122/35384424-ee9ccd2a-01cd-11e8-9eff-8fac39c3e3b1.png)

[2018-01-25 10:58] yivo commented on #364
This is designed behavior. Peatio will infinitely repeat job fetched from queue. I think we will refactor this when we will move to Rails 5. Now you should consider enabling log rotation for your logs.

[2018-01-25 11:33] ang-st commented on #364
Ok, seems it will do the jobs as a workaround.
Thanks for your quick reply

[2018-01-25 11:37] yivo commented on #364
@ang-st No problem. We have added this behavior since Peatio doesn't requeue messages which it fails to process (actually RabbitMQ does it but if you running single daemons instance (1 consumer) it doesn't receive message again). A little bit complicated, but for now it works well.

[2018-01-25 11:37] #364 closed

[2018-01-25 11:37] yivo commented on #364
If you have any questions please reopen or create new issue. Thanks.

[2018-01-25 12:10] yssavchuk commented on #352
Everything is okay with deposit
But withdraw_coin doesn't work need to debug it

[2018-01-25 12:13] yivo opened #367 "Remove hardcoded host in API docs and use headers['Host']"

[2018-01-25 12:49] yivo commented on #352
@yssavchuk Sure. Can you start?

[2018-01-25 13:16] DanielGorlo opened #370 "Getting 404 from Google when trying to login"
I'm using an EC2 with a non-docker installation.

After logging in with Google, I'm being redirected to localhost, which is inaccessible from the outside of the EC2 instance.

Where can I find the google redirection config?
![image](https://user-images.githubusercontent.com/567232/35390018-a04caa5e-01e2-11e8-8df7-f04362509f9f.png)

[2018-01-25 13:18] yssavchuk commented on #352
@yivo It was my fault review please #369

[2018-01-25 13:20] yivo commented on #370
Hello @DanielGorlo

Try to tweak URL_* config vars [here](https://github.com/rubykube/peatio/blob/master/lib/generators/config/templates/application.yml.erb#L12).

[2018-01-25 13:27] DanielGorlo commented on #370
@yivo - thanks for the quick response. Unfortunately, by tweaking it to the host of the EC2 I'm getting an error from google mentioning they don't have a callback registered for this url:

![image](https://user-images.githubusercontent.com/567232/35390450-303a3b6c-01e4-11e8-937b-6aea9c916bcc.png)

[2018-01-25 13:29] yivo commented on #370
@DanielGorlo You should configure redirect URL at your Google App.

[2018-01-25 13:40] DanielGorlo commented on #370
@yivo - Thanks!!

[2018-01-25 13:40] #370 closed

[2018-01-25 13:41] DanielGorlo opened #371 "Importing existing order books"
Is there an option to import order books and data from external exchanges?

I want to kickstart the system to see how it works in action.

[2018-01-25 14:02] ashanaakh commented on #367
@yivo may we replace `.slim` to `.erb`?

[2018-01-25 14:07] yivo commented on #371
Hello @DanielGorlo

Unfortunately there is no way to do it automatically now. The current implementation is too shitty and too complicated. You may try to import some testnet money and trade with your friends, either request demo from https://peatio.tech either write your own script which feeds database with some orders. If your question is solved please close an issue. Thanks

[2018-01-25 14:07] yivo commented on #367
@ashanaakh No

[2018-01-25 14:13] yivo commented on #347
Can you please get Peatio running and review this task? I am sure you will some questions. Please ping me via GitHub mentions here. I think the strategy `Create new Rails app and include existing assets.` is the fastest.

[2018-01-25 14:13] yivo commented on #347
@dinesh-skyach ping

[2018-01-25 14:13] yivo commented on #347
@mkuvshynnikov ping

[2018-01-25 19:55] yivo opened #373 "Remove Twilio leftovers from application.yml"

[2018-01-25 21:27] yivo commented on #353
Closed via #372.

[2018-01-25 21:27] #353 closed

[2018-01-25 21:27] yivo commented on #182
Fixed in #356.

[2018-01-25 21:27] #182 closed

[2018-01-25 21:28] yivo commented on #337
Fixed in #348.

[2018-01-25 21:28] #337 closed

[2018-01-25 23:14] duduric commented on #308
Hey guys,
Same problem here, running from peatio-workbench. (Had to remove ngx-cryptobase to make it work).
I tested generating a new address manually and it's returning properly. Everything correct in currency.yml too. No errors are showing up, it's only the address that is always blank.
I'm running v0.2.5 from master. Any ideas?

![image](https://user-images.githubusercontent.com/5911443/3541748

[2018-01-25 23:20] duduric opened #374 "Fiat deposit screen"
How is the fiat deposit screen supposed to work?
The "Deposit account" combo is always empty. Clicking on "Manage" returns a javascript error (actually a typo on the link, "javascripts:" ).
Nothing happens when I submit.
Am I missing some config file related to this? Couldn't find anything related in the docs.

Running 0.2.5 with peatio-workbench.

![image](https://user-images.githubusercontent.co

[2018-01-26 06:03] arshad-bilawat opened #375 "documentation issues."
The documentation needs to be updated at least for installation instructions for both mac and linux systems.

[2018-01-26 08:18] yivo commented on #375
Hello @arshad-bilawat

Yes, this is truth. We have outdated docs. Issue exists for it at https://github.com/rubykube/peatio/issues/325.

[2018-01-26 08:18] #375 closed

[2018-01-26 08:21] yivo commented on #374
Hello @duduric

If you click "Manage" you will see modal window which you can use for adding deposit account. For me it works, ever with `javascripts` protocol. I checked this in Chrome & Opera. But you are right – probably this is the reason why it doesn't work for you. We will fix protocol name. Thanks.

[2018-01-26 08:22] yivo commented on #374
@yssavchuk Could you please check whole project for such procol name?

[2018-01-26 08:26] yivo commented on #308
Hello @duduric

Does Rails has access to RabbitMQ? I mean open port & correct binding.

Run amqp:deposit_coin_address daemon manually via `RAILS_ROOT=$(pwd) bundle exec ruby lib/daemons/amqp_daemon.rb deposit_coin_address` and manually enqueue generation of address via:

[code]

Also try cleaning RabbitMQ & MySQL before.

[2018-01-26 10:26] yivo opened #376 "Add omniauth-barong gem"
devel branch

[2018-01-26 10:53] mitjok commented on #279
@yivo I consider dry-validatio for controller
https://mensfeld.pl/2017/03/dry-validation-as-a-schema-validation-layer-for-ruby-on-rails-api/
https://gist.github.com/solnic/7e0c395ca92e0c6d8ad9

[2018-01-26 11:03] dinesh-skyach commented on #347
@yivo @mkuvshynnikov Please could you let me know which trading page is being referenced here. Also here we need to separate the trading page to new rails app and then fetch the data from API. Is this correct?

[2018-01-26 11:10] yivo commented on #347
@dinesh-skyach The page we refer to localed at path `/markets/btcusd` (black one). Yes, I think you can create repo with new Rails app and move trading UI there and use API to communicate.

[2018-01-26 11:29] dinesh-skyach commented on #347
@yivo Thanks

[2018-01-26 12:18] DanielGorlo opened #377 "Naviagating to /admin/ reroutes to root"

[2018-01-26 12:44] k1T4eR commented on #287
![image](https://user-images.githubusercontent.com/15076128/35440301-7612a8fe-02a7-11e8-87a4-c9ba4f13ef2f.png)

[2018-01-26 13:02] mitjok commented on #279
@yivo any ideas why while creating account in account_specs.rb:297
the creation fails with validation message `Currency is not included in the list`?

[2018-01-26 14:24] mkuvshynnikov opened #380 "Layouting in drop down menu"
![2018-01-26 16 10 24](https://user-images.githubusercontent.com/29736025/35443486-eb703dee-02b3-11e8-82c6-759ecb9b4e89.jpg)

[2018-01-26 14:29] yivo commented on #377
Hello @DanielGorlo

Could you please give details?

[2018-01-26 14:35] mitjok commented on #279
@yivo the question above not actual anymore

[2018-01-26 15:02] DanielGorlo commented on #377
@yivo - sure.

I'm trying to login as an admin, so to my understanding I need to find the admin login and login using the admin credentials.

Unfortunately, when navigating to /admin route I'm getting an error which redirects me back to home screen.

Am I using the wrong route?

[2018-01-26 15:05] yivo commented on #377
@DanielGorlo There is not any logins for admin. Add your email to application.yml in ADMIN and you will be admin.

<img width="341" alt="screen shot 2018-01-26 at 5 05 12 pm" src="https://user-images.githubusercontent.com/7421323/35445704-1a00f55c-02bb-11e8-9200-11efc2abe172.png">

[2018-01-26 16:45] #377 closed

[2018-01-27 07:03] arshad-bilawat opened #382 "Access admin module and approve profile"
Hi,

I have set up peatio successfully. I have following questions

1. .How to I access admin module.
2. How do we approve account.
3. The user registration is removed from peatio and is moved to Auth0?

Regards,
Arshad Ali.

[2018-01-27 12:06] yivo commented on #382
Hello @arshad-bilawat

There was similar question. You can inspect it [here](https://github.com/rubykube/peatio/issues/377).

To verify account first get to admin panel and click "Verity account". Then you will see list of members and you can click button at the right to navigate to the form. Then click "Approve".

If your question is resolved pls close the issue.

Thanks.

[2018-01-27 14:05] onlyyouandty opened #383 "Rake db:setup returns syntax error"
<img width="880" alt="screen shot 2018-01-27 at 3 04 18 pm" src="https://user-images.githubusercontent.com/7871367/35472652-78ec3afa-0373-11e8-97a8-02eb69af06bc.png">

[2018-01-27 15:48] mkuvshynnikov opened #384 "Add support for ERC20"

[2018-01-27 16:06] yivo commented on #383
Hello @onlyyouandty

Ruby 2.4+ is required. You are using 2.2.

[2018-01-27 16:06] #383 closed

[2018-01-28 01:04] duduric commented on #374
That was the problem indeed. Not working on Firefox due to the typo in the protocol, just fixed it in my end. Thanks!

[2018-01-28 01:04] #374 closed

[2018-01-28 05:22] arshad-bilawat commented on #382
@yivo  Yes, Thank you. Closing the issue.

[2018-01-28 05:22] #382 closed

[2018-01-28 11:28] felipecaldas opened #388 "Is the Dockerfile working"
Hi all,

I just pulled the repo from rubykube/peatio and ran the Dockerfile with `docker build .`

It's failing in this step:

[code]

Running this on Windows. Did I do anything wrong?

Thanks

[2018-01-28 11:32] felipecaldas commented on #388
Ok, I noticed the CRLF in the init_config file. I removed the CR and the file has only LF. The script is running now, so let's see where it goes.

[2018-01-28 11:56] #388 closed

[2018-01-28 12:41] felipecaldas opened #389 "Docker peatio-specs not coming up"
Hi guys,

Trying to bring up peation workbench on Windows 10 and getting this error:

[code]

As you can see the peatio database is missing, but I thought that the `init_config` command was taking care of it. What am I missing?

Thanks

[2018-01-28 13:28] GiangCoin opened #390 "Can't connect Mysql"
When run bundle exec rake db:setup
Error:
/home/user/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/figaro-1.1.1/lib/figaro/application.rb:84:in `non_str
ing_configuration!' : WARNING: Use strings for Figaro configuration. true was converted to "true". (StructuredWarni
ngs::StandardWarning)/home/user/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/figaro-1.1.1/lib/figaro/applicat
ion.rb:84:in `non_

[2018-01-28 23:14] mod opened #391 "Ability to configure the PEATIO text which is displayed on the market page header"

[2018-01-28 23:36] ashanaakh commented on #390
Hi @GiangCoin

You should specify your mysql root password in `config/database.yml` configuration file.

[2018-01-28 23:36] #390 closed

[2018-01-29 05:48] dinesh-skyach commented on #347
@yivo since you said above Only UI (no server-side operations) in new rails app using middleman then how will we handle the authentication process. As trading page has user information along with other data which is required on trading page.

[2018-01-29 08:18] GiangCoin commented on #390
Thanks for reply
I'm install Peatio v0.2.5 on ubuntu 16.0.4

I'm run: bundle exec rails server
but erro not working
/home/beanvn22/.rvm/gems/ruby-2.5.0/gems/figaro-1.1.1/lib/figaro/application.rb:84:in `non_string_configuration!' : WARNING: Use strings for Figaro configuration. true was converted to "true". (StructuredWarnings::StandardWarning)/home/beanvn22/.rvm/gems/ruby-2.5.0/gems/figaro-1.1.1/

[2018-01-29 08:42] eVanilla opened #392 "Sprockets::FileNotFound in Welcome#index"
i did everything that were in setup document and everything's fine but when i load the page `localhost:3000`(running on development mode) and got this error

[code]
what should i do now?

[2018-01-29 08:45] DanielGorlo commented on #392
Look for 'yarn' rake task in the issues section.

[2018-01-29 08:55] eVanilla commented on #392
mhmm.. same as https://github.com/rubykube/peatio/issues/328#issuecomment-359387062
still getting that error

[2018-01-29 09:02] ashanaakh commented on #390
@GiangCoin Peatio is running on `localhost:3000`. It just warning from `Figaro`.

[2018-01-29 09:06] ashanaakh commented on #392
Hello @eVanilla

Documentation too old for now, please follow commands in `Dockerfile`
Hopefully, soon we will update docs

This command should help you

[code]

[2018-01-29 09:08] eVanilla commented on #392
thnaks for the reply but that command didn't help me:
[code]

[2018-01-29 09:10] eVanilla commented on #392
Well, I think I have to wait for the update

[2018-01-29 09:14] ashanaakh commented on #392
@eVanilla It seems you have an old version of `yarn`.
Can you try to install the latest version

[code]

[2018-01-29 09:18] eVanilla commented on #392
Sorry, I still get the same error

[2018-01-29 09:26] yivo commented on #374
@duduric Fixed in #378.

[2018-01-29 09:30] yivo commented on #392
@eVanilla Install Yarn & exec `bundle exec rake yarn:install`.

How to install – https://yarnpkg.com/en/docs/install.

[2018-01-29 09:31] yivo commented on #392
@eVanilla When issue will be resolved pls close it. Thanks.

[2018-01-29 09:32] yivo commented on #389
@felipecaldas Hello. You should run `bundle exec rake db:create db:schema:load`.

When your issue will be resolved pls close the issue. Thanks.

[2018-01-29 09:34] yivo commented on #391
We can do it using environment variable: `ENV.fetch('TITLE_MARKETS', 'PEATIO')`.

[2018-01-29 09:34] eVanilla commented on #392
unfortunately i already installed the yarn and now the error has been changed to this:
[code]

[2018-01-29 09:34] yivo commented on #392
@eVanilla It is related to your node.js installation, not to peatio.

[2018-01-29 09:36] yivo commented on #347
@dinesh-skyach Hello. Don't use middleman. Create simple Rails app with Sprockets. Auth is possible via cookies (we will put UI on the same domain so browser will send cookies which include session).

[2018-01-29 09:37] eVanilla commented on #392
Let me check it out, now I close this until I receive another error

[2018-01-29 09:37] #392 closed

[2018-01-29 09:50] yivo commented on #300
Closed via #354.

[2018-01-29 09:50] #300 closed

[2018-01-29 09:50] yivo commented on #287
Closed in #379.

[2018-01-29 09:51] #287 closed

[2018-01-29 09:53] yivo commented on #299
Closed in #357.

[2018-01-29 09:53] #299 closed

[2018-01-29 09:55] yivo commented on #376
Closed in #385.

[2018-01-29 09:55] #376 closed

[2018-01-29 10:01] dinesh-skyach commented on #347
@yivo thanks. I have been working using middleman as per your comment on suggestions but no worries will remove middleman and work with the rails app.

[2018-01-29 10:05] yivo commented on #347
@dinesh-skyach I don't mind to use middleman. If this makes your task faster – you can choose. I planned to use Rails so we can just migrate existing UI without significant changes.

[2018-01-29 10:07] dinesh-skyach commented on #347
@yivo sure thanks

[2018-01-29 10:09] felipecaldas commented on #389
Hi @yivo thanks for your assistance. At which moment should I run this command? Should I bring peatio_specs only up and run it?

[2018-01-29 10:11] yivo commented on #389
@felipecaldas I recommend you reading Makefile at peatio-workbench so you will understand all the steps.

https://github.com/rubykube/peatio-workbench/blob/master/Makefile

[2018-01-29 10:12] felipecaldas commented on #389
Hi @yivo, thanks again. I actually read the Makefile, but I honestly don't know how to run it! I am windows, I suppose "make" is for *nix only?

[2018-01-29 10:12] felipecaldas commented on #389
@yivo, ignore me. I understand what you mean now. Thank you!

[2018-01-29 10:12] #389 closed

[2018-01-29 11:23] yivo opened #394 "Add GET (index only) & POST /withdrawals/addresses"

[2018-01-29 11:59] CombatCode commented on #323
That was a while ago, so I'm not sure right now but probably docker image was not contain `rake yarn:install` and that was the beginning of the all issues. Thank you for the explanation

[2018-01-29 13:03] Namresiac opened #395 "few overlaps found"
Found 3 minus overlaps : First one on https://platform.coinfield.work/settings and the twice others on https://platform.coinfield.work/markets/btcusd
![capture du 2018-01-29 13-51-17](https://user-images.githubusercontent.com/22836830/35511678-8a941ff0-0505-11e8-98c4-656603ded9c6.png)
![capture du 2018-01-29 14-12-15](https://user-images.githubusercontent.com/22836830/35511679-8aba9856-0505-11e8-9

[2018-01-29 14:48] Namresiac opened #397 "Confirmation mail"
When a deposit or a withdraw is done, the confirmation mail comes fast but it comes in "spam" of email box. Maybe just put a classical warning ? like "if not, please verify your spam box"
![capture du 2018-01-29 16-42-42](https://user-images.githubusercontent.com/22836830/35516335-2d72efea-0514-11e8-86f4-4c6aba5185ea.png)

[2018-01-29 16:00] yivo commented on #397
Hello @Namresiac

Thanks for your advice. We will review this feature.

[2018-01-29 16:03] DanielGorlo opened #399 "Can't deposit funds"
When trying to deposit funds, I can't pick any 'Deposit account':

![image](https://user-images.githubusercontent.com/567232/35520086-b01fdc32-051e-11e8-9b5d-b6edb55d7fa7.png)

[2018-01-29 16:09] yivo commented on #399
Hello @DanielGorlo

Click `Manage`.

[2018-01-29 20:08] BitenCoin opened #401 "Production deployment v2.0"
Is it possible to deploy v2.0 (0.2.5) branch the same way as the old master branch.
To be precise is it possible to deploy it with this https://github.com/rubykube/peatio/blob/master/docs/ops/deploy/ubuntu.md

[2018-01-29 23:13] yivo commented on #401
Hello @BitenCoin

At the moment docs are now up to date. We are going to update them soon when Peatio will became stable. We have such issue already (#325).

[2018-01-29 23:13] #401 closed

[2018-01-29 23:14] yivo commented on #401
But you can try Docker deployment. It is up to date.

[2018-01-29 23:14] yivo commented on #399
@DanielGorlo if your question is resolved pls close the issue. Thanks.

[2018-01-29 23:15] yivo commented on #395
Hello @Namresiac

Could you pls describe what OS and browser you have used for testing (including versions)?

[2018-01-30 04:14] GiangCoin commented on #390
Thank you for reply!
But it not work on my External IP address http://35.202.149.170:3000

[2018-01-30 07:43] tzman89 opened #403 "New feature proposition - Coin list voting"
What do you think about this?
It should be like 1 free vote per week and paid votes with choosen coin.
This feature can earn decent amount of coins to exchange.
I see a lot of exchanges with this feature lately

[2018-01-30 09:45] GildedHonour commented on #334
I'm mostly finished with it. @yivo Should the CoinRPC::Ethereum class provide all the methods that  that are exposed from Ethereum RPC?

[2018-01-30 13:17] yivo commented on #403
Hello @tzman89

I think coin listing is not in scope of exchange. It is more likely separate simple Node.js app with mostly static pages.

cc @mod @mkuvshynnikov

[2018-01-30 13:28] yivo commented on #334
Hello @GildedHonour

I don't think we need all of the methods. Only some important are required.

Yesterday we have merged into devel unified interface for cryptocoin APIs.
You can view it here – https://github.com/rubykube/peatio/blob/devel/lib/coin_api.rb.
It has poor docs now (I am going to fix this week) and no examples.

Can you try implementing some drafts for this interface in v2.0 but with

[2018-01-30 13:32] yivo opened #405 "Markets page should update list of orders when order is created"

[2018-01-30 13:33] yivo opened #406 "Check the candlestick on markets page and ensure it works well"

[2018-01-30 13:40] yivo opened #407 "Merge POST withdraws API into devel"
API is in CAD branch

[2018-01-30 13:42] yivo opened #408 "Add BASE_FIAT_CCY=USD environment variable which defines the base fiat currency"
Usage: `ENV['BASE_FIAT_CCY'] = 'USD'`

For flags find some gem or Yarn package with collection of flags.

[2018-01-30 13:55] yivo commented on #333
Closed via #402.

[2018-01-30 13:55] #333 closed

[2018-01-30 13:56] yivo commented on #391
Closed in #393.

[2018-01-30 13:56] #391 closed

[2018-01-30 13:56] yivo commented on #394
Closed in #398.

[2018-01-30 13:56] #394 closed

[2018-01-30 14:03] dinesh-skyach commented on #347
@yivo hello. I have been working on this and it's almost done. Form submissons for buy and sell and some other stuff's are still pending. Just wanted to update you regarding this.
In Addition I am using middleman to separate the UI.

[2018-01-30 14:34] senisende opened #409 "After adding new coin Old users didint see it"
Hi,

I added coins, but old users dont see new coin how to fix it?

[2018-01-30 14:45] tzman89 commented on #403
@yivo Yes but it's usually connected with in app wallets and users are paying from their balances, also users can be forced to have some amount on the balance in order to be able to vote for free.That can increase amount of trades and active users on exchange.

[2018-01-30 16:02] yssavchuk commented on #409
Hi @senisende!
Thanks for you issue
Actually such problem exists because Member has many Accounts.
And accounts are created when user sign up.
Probably we need to fix it.
For now you can add Accounts manually or drop your database to add new currencies.
@yivo ping

[2018-01-30 17:56] yivo commented on #409
Hello @senisende

It is known issue but not critical. You can run `bundle exec rails r "Member.find_each(&:touch_accounts)"`.

You can either setup cron job for it or run it manually when you add new coin.

[2018-01-30 17:57] yivo commented on #409
If your question is resolved pls close the issue. Thanks.

[2018-01-30 20:37] Alex-Shilman commented on #324
@yivo, No I don't use docker. Should I be using Docker?

[2018-01-31 03:56] zhuheec commented on #325
Hi yivo,

Just wondering if you have plans in updating the docs to build a production environment.
I tried using Dockerfile and .travis.yml to build a docker image. And I managed to push the docker image built by Travis CI to a docker repo. But when I tried to run a container spun up from the image, it still requires MySQL server information and setting env variables didn't seem to work.

Would re

[2018-01-31 04:14] b1naryc0re commented on #371
really interested in this, if i can get something simple working i will submit here

[2018-01-31 08:03] GildedHonour commented on #334
@yivo  I've implemented some of the methods of Ethereum RPC, draft version, not tested.  I think I'll implement them all because most of them have similar interface.

I've checked out https://github.com/rubykube/peatio/blob/devel/lib/coin_api.rb. I'll first implement Ethereum RPC as is, using the same methods names from ETH RPC, and then we should be able to incorporate it into coin_api.rb easier.

[2018-01-31 08:58] mangeshgangwar opened #413 "Realtime data always 0"
Why Realtime ticks always 0.

![capture](https://user-images.githubusercontent.com/35228254/35613716-df81ae90-0692-11e8-8c8b-45fb12777a87.PNG)

[2018-01-31 11:00] yivo commented on #413
Hello @mangeshgangwar

Have you performed some orders?

[2018-01-31 11:11] yivo commented on #334
@GildedHonour You can also refer to BitGo Express REST API since we recently started use BitGo actively. API ref is here – https://www.bitgo.com/api/v2/.

[2018-01-31 11:13] yivo commented on #347
@dinesh-skyach Could you please submit WIP (work in progress) PR?

[2018-01-31 11:21] CombatCode commented on #308
Same here, clean installation on local environment and development server.
Connection to rabbitmq works fine, BTC deposit address is missing, XRP works fine

[2018-01-31 11:45] yivo opened #414 "Add missing coin_api/ltc.rb (migrate coin_rpc/ltc.rb)"

[2018-01-31 12:00] Namresiac commented on #395
Hello @yivo
Iwas using Ubuntu 16.04 LTS with Firefox Quantum 58.0

[2018-01-31 12:43] senisende commented on #409
Thanks "bundle exec rails r "Member.find_each(&:touch_accounts)" works fine.

[2018-01-31 12:43] #409 closed

[2018-01-31 14:54] yivo opened #418 "Undefined method balance for CoinAPI::BitGo"
[code]

Please change `balance` to `load_balance` at app/models/currency.rb

[2018-01-31 16:17] emasiuk opened #420 "ReferenceError: log is not defined (JavaScript error at /documents/api_v2)"
log is not defined for log("Loaded SwaggerUI")
Swagger Issue
![deepinscreenshot_select-area_20180131180946](https://user-images.githubusercontent.com/26141524/35633615-557cfc8e-06b2-11e8-9345-b641ebc781ee.png)

[2018-01-31 23:08] senisende opened #421 "After adding new coin admin/withdraw/coins doesnt work"
Hi,

/admin/withdraws/coins peage gives me error "We're sorry, but something went wrong."

Bitcoin, bank and other altcoins /admin/withdraws working perfect.

[2018-02-01 04:50] dinesh-skyach commented on #347
@yivo As this is a new App so which repo should I commit the code and  how will I send you the PR?

[2018-02-01 09:40] GildedHonour commented on #334
I'm finished with a draft version of RPC. Testing and refactoring is what's left.

[2018-02-01 10:05] yivo commented on #347
@dinesh-skyach Hello. We are waiting for the PR for rubykube/peatio to remove trading page UI and repository with extracted trading UI. You can create the repo using your GitHub account and share the link. When you will finish I will checkout git repo to rubykube org.

[2018-02-01 10:07] yivo commented on #421
Hello @senisende

Can you please share the logs? Better to run app in dev env to get more output information. I am sure you have probably missed some file.

[2018-02-01 10:07] yivo commented on #407
Closed via #410.

[2018-02-01 10:07] #407 closed

[2018-02-01 10:08] yivo commented on #373
Fixed in #415.

[2018-02-01 10:08] #373 closed

[2018-02-01 10:08] yivo commented on #414
Fixed in #416.

[2018-02-01 10:08] #414 closed

[2018-02-01 10:08] yivo commented on #367
Finished in #417.

[2018-02-01 10:08] #367 closed

[2018-02-01 10:09] yivo commented on #418
Fixed in #419.

[2018-02-01 10:09] #418 closed

[2018-02-01 10:09] yivo commented on #335
Implemented in #363.

[2018-02-01 10:09] #335 closed

[2018-02-01 10:37] yivo opened #422 "ArgumentError: wrong number of arguments (given 2, expected 0..1) at markets when submitting order with zero volume"

[2018-02-01 10:39] yivo opened #423 "UI should sign out user when session is expired"

[2018-02-01 12:30] senisende commented on #421
I solved problem. Actually i made mistake that coins.rb folder.

[2018-02-01 12:30] #421 closed

[2018-02-01 12:32] dinesh-skyach commented on #347
Hi @yivo , I will send that in some time as there are a few session concerns, just trying to fix a few more things.

[2018-02-01 13:03] senisende opened #426 "Market Notify on/off doesnt work"
Hi,

Market > Notify on/off doesnt work. How to fix it. Thanks.

[2018-02-01 13:18] yivo commented on #422
Closed via #424.

[2018-02-01 13:18] #422 closed

[2018-02-01 13:46] yivo commented on #420
Please, work in devel.

[2018-02-01 15:25] dinesh-skyach commented on #347
Hi @yivo , I have created the PR for this Issue. Also committed the new trading page UI code to new repo. Here is the link https://github.com/skyach/petio-trade.

I have used the same controller methods to fetch the data as json format and displayed the data in new trading app.

In Addition I am still thinking about the best solution for POST requests. As currently I have skipped the form authenti

[2018-02-01 16:22] Vivek-Patil commented on #346
@yivo So I see that the RPC commands will be the same as for BTC, BCH, LTC ? I was looking into the dash documentation and found out that those commands are deprecated. https://dashpay.atlassian.net/wiki/spaces/DOC/pages/131924073/RPC+commands.

[2018-02-01 16:25] yivo opened #429 "UI issue at «Solvency» page"
<img width="1280" alt="screen shot 2018-02-01 at 6 24 11 pm" src="https://user-images.githubusercontent.com/7421323/35689897-3756b8c8-077d-11e8-8dd3-de2b8aa006d5.png">

[2018-02-01 16:31] yivo commented on #347
@dinesh-skyach Is there any solution to keep peatio-trade-ui free of Rails controllers?

We can solve authentication issue by adding OAuth sign in and interacting with API using JWT. Can you check what API calls markets page is using and what are missing? Maybe we can move some code from private/controllers to Grape API.

[2018-02-01 16:33] yivo commented on #346
Hello @Vivek-Patil

You can get the list of commands we are using at https://github.com/rubykube/peatio/blob/devel/lib/coin_api/btc.rb

Now we have no time to update the implementation to match new RPC.

[2018-02-01 17:38] GildedHonour commented on #334
@yivo I'm finished with it. Not tested yet, I'll test it.

[2018-02-01 17:55] Vivek-Patil commented on #346
@yivo Thanks for your reply> I just wanted to make sure that these rpc commands work with the actual dash node hosted.Have you tested these on the latest dash node and it works right?

[2018-02-01 17:57] yivo commented on #346
@Vivek-Patil Yes, it works with the latest Dashd.

[2018-02-01 17:58] yivo commented on #346
@Vivek-Patil If you want to test check out http://peatio.trade:4000/

[2018-02-01 18:06] Vivek-Patil commented on #346
@yivo Cool. One more question about Ripple.The current implementation of Ripple it seems that does not support the concept of tags.Also the current implemetation works with testnet which ripple has i.e https://ripple.com/build/xrp-test-net/. But the rest API's used here are not available even on the public ripple server or even the self hosted rippled.Also this implementation creates new wallet fo

[2018-02-01 18:13] yivo commented on #346
@Vivek-Patil I am not sure if current Ripple implementation should supports destination tags. I know the issue with old v1 REST API, I am looking to put coin_api/xrp.rb back (I recently removed it due to integration with BitGo). I would like to fully migrate to Rippled RPC. I am not sure for your last question but now API returns address and secret for every new address which is stored in database

[2018-02-01 18:38] mangeshgangwar opened #432 "Responsive issue"
Hi is there any way to make peatio fully responsive so that it can be viewed on mobile devices as well.

Thanks

[2018-02-01 18:39] #413 closed

[2018-02-02 02:28] endofthepain opened #433 "Example Setup MySQL"
Hi, i need example for config mysql server  because i still get error

/usr/local/rvm/gems/ruby-2.5.0/gems/figaro-1.1.1/lib/figaro/application.rb:84:in non_string_configuration!' : WARNING: Use strings for Figaro configuration. false was converted to "false". (StructuredWarnings::StandardWarning)Access denied for user 'root'@'localhost' (using password: NO)Please provide the root password for your

[2018-02-02 06:49] GildedHonour commented on #433
I can take this.

[2018-02-02 06:50] GildedHonour commented on #345
I can take this.

[2018-02-02 06:56] GildedHonour opened #434 "API client for Elixir"
There's only one official client - peatio-client-ruby, right? Will we need clients in other languages? I can create one in Elixir.

[2018-02-02 07:11] Vivek-Patil commented on #346
@yivo I just check today that Ripple has even removed the rest api's now from testing environment, so this wont work anyways.I think this needs to be fully replaced with RPC implementation now.

[2018-02-02 10:09] yivo commented on #434
Hello @GildedHonour

peatio-client-ruby is outdated client for Peatio and is not supported by Rubykube. We don't care for this right now.

The only supported Peatio SDK lives at https://github.com/rubykube/peatio-sdk

[2018-02-02 11:08] dinesh-skyach commented on #347
@yivo , I think if we end Api request through JS, then something is achievable, but let me try. If that works well, then I will think of Oauth with JWT.

[2018-02-02 11:12] dinesh-skyach commented on #347
Hi @yivo , One thing in my mind, if we want to make the application controller free, we will not be able to define routes in app, as routes depend upon controllers. We will need to keep the html files in public folder, which makes no logic to keep a rails application. That can be a simple html pages with JS or some Js framework and we do not find any reason to make it in rails.

Please let me know

[2018-02-02 11:16] dinesh-skyach commented on #347
@yivo , Even if I remove the private/markets controller , I have to move the views to application/views folder,  the application controller still remain there, since rails has to follow strict MVC, so that also dissolves the purpose of using rails.

[2018-02-02 12:42] amir-budaychiev commented on #405
Hi @yivo. I was checking that issue, after creating order, markets page make updating the list of orders. It's ok for me. I don't see anything problem here. You can check my screencast: https://drive.google.com/open?id=1a4ddoOwZee0jpP_KH0z_1OLOhLZxePnd

[2018-02-02 13:05] yivo commented on #405
Hello @amir-budaychiev

Thank you for taking a part in it!

Can you find a way to refresh list of orders without manually reloading page?

[2018-02-02 13:05] yivo commented on #405
ping @mkuvshynnikov

[2018-02-02 13:18] amir-budaychiev commented on #405
@yivo Sure. I can do that via realtime feature(gem pusher). What you think about it?

[2018-02-02 15:48] mkuvshynnikov opened #436 "When we add new currencies to a deployment, old users don't have wallets for the new currencies"

[2018-02-02 16:08] yivo commented on #405
@amir-budaychiev Can you please check if this feature is already implemented? I think it is but it is broken or disabled.

[2018-02-02 17:58] amir-budaychiev commented on #405
@yivo all clear!

[2018-02-02 18:35] dinesh-skyach commented on #347
Another option is that, I can move the html files to public and call Apis with JS, but there will be no point of using rails in that case. Please let me know your inputs, I am working on Saturdays as well.

[2018-02-02 22:06] yivo commented on #352
Closed via #369.

[2018-02-02 22:06] #352 closed

[2018-02-02 22:06] yivo commented on #336
Closed via #350.

[2018-02-02 22:06] #336 closed

[2018-02-02 22:07] yivo commented on #301
Closed via #365.

[2018-02-02 22:07] #301 closed

[2018-02-02 23:41] senisende opened #438 "Market doesnt work after adding USD currencies"
I changed EUR > USD , but market doesnt work. Please help.

[2018-02-03 06:59] dinesh-skyach commented on #347
Hi @yivo , Any inputs on this?

[2018-02-03 07:33] Vivek-Patil commented on #346
@yivo Can you please help me regarding the dash core. i am running this docker image for dashd https://github.com/dashpay/docker-dashd and when i try running getnewaddress on dash-cli it says command not found. What is version of dashd with which you have tested the code.?

[2018-02-03 07:42] yivo commented on #346
@Vivek-Patil getinfo returns
[code]

[2018-02-03 08:00] Vivek-Patil commented on #346
@yivo Yes i got the same info for this command.But how does other commands work.Are they same as BTC, BCH, LTC node? I am running the command dash-cli getnewaddress and it gives error.But your above PR shows me that you are using the same RPC commands , but why am i getting error?

[2018-02-03 08:03] yivo commented on #346
@Vivek-Patil I don't know. We tested Dash and it worked. Maybe you haven't enabled RPC server?

[2018-02-03 08:05] yivo commented on #347
@dinesh-skyach I see the problem.

Let's do so:

1. I go to https://peatio.demo
2. I click "Sign in with Google" and omniauth gem redirects me to Google sign in page
3. I sign in, Google redirects be back to https://peatio.demo/some-path-including-profile
4. omniauth handles this and created account for me, I am being redirected to settings page
5. Browser receives cookies with session which conta

[2018-02-03 08:10] yivo commented on #438
Hello @senisende

It is impossible to help you without the details.

[2018-02-03 08:18] yivo commented on #347
@dinesh-skyach Do you understand this? The trick is that two app will live on the same origin so browser will send cookies.

[2018-02-03 08:19] yivo commented on #347
@dinesh-skyach Ping me at eahome00@gmail.com if you would like to make a call for this. My TZ is UTC+2.

[2018-02-03 08:40] Vivek-Patil commented on #346
@yivo Ohh yes, i was missing that. It works. Cheers !!

[2018-02-03 08:42] Vivek-Patil commented on #346
@yivo Any plans on how to proceed with Ripple, as currenctly they have disabled the rest api's even on testnet permanently, so the current code wont even work :(

[2018-02-03 09:04] sandrodz opened #439 "Docker tag mismatch 0.2.4 and 0.2.5"
<img width="396" alt="screen shot 2018-02-03 at 1 03 36 pm" src="https://user-images.githubusercontent.com/8479569/35765688-ba918446-08e2-11e8-8086-198439348fc0.png">
<img width="375" alt="screen shot 2018-02-03 at 1 03 42 pm" src="https://user-images.githubusercontent.com/8479569/35765689-baae12e6-08e2-11e8-88d8-c1f4db28708b.png">

I've pulled 0.2.5 release from this repo, but docker image was ta

[2018-02-03 09:16] dinesh-skyach commented on #347
Hi @yivo , All is clear, just a confusion about point 11, where you said Angular App. But as application is not using angular till now, and neither you said the same from point 1 to 10. Should I consider using angular in this app or as its currently in rails is good?

[2018-02-03 09:17] dinesh-skyach commented on #347
@yivo , I am just adding to my gtalk.

[2018-02-03 10:03] yivo commented on #347
@dinesh-skyach Oh, yes. It doesn't use angular. You should extract all assets required for markets to work (market.js.coffee, market.scss and maybe other).

[2018-02-03 11:20] senisende opened #440 "Adding Trollbox in Market"
How to add chat feature in Peatio?

[2018-02-03 12:40] #438 closed

[2018-02-03 15:47] sang-tech commented on #382
Hello @arshad-bilawat, I have added my email to ADMIN in application.yml but i see no admin button at the top right menu. am i missing something?

[2018-02-03 16:10] sang-tech opened #441 "Can't access admin. Have added email to application.yml"
I have seen the other two threads on the subject already but it did not solve the issue for me.

Am I missing something?

[2018-02-03 16:11] sang-tech commented on #441
I'm assuming i login with google and not oauth

[2018-02-03 16:22] endofthepain commented on #433
here my example

`default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: <%= ENV['localhost'] %>
  username: <%= ENV['root'] %>
  password: <%= ENV['mypassword'] %>

development:
  <<: *default
  database: peatio_development

test:
  <<: *default
  database: peatio_test

production:
  <<: *default
  url: <%= ENV['localhost'] %>
  pool: 10
  database: peatio_production`

.___. and s

[2018-02-03 16:47] sang-tech commented on #432
short answer, yes.

The front end styling is completely separate from the back end mechanics.

Technically you could restyle the exisiting with ccs or create a whole new front end. I'm toying with both ideas now but i need to sort out my admin access issue first...

[2018-02-03 16:49] sang-tech commented on #432
more specifically i will be working on a responsive front-end either way as soon as i have the technical issue sorted out.

details to follow...

[2018-02-03 17:50] sandrodz opened #442 "Docker persist data"
Which directories need to be persisted to host disk so that that on container removal data is not lost?

[2018-02-03 18:28] sandrodz opened #443 "dotenv"
Why don't we use `.env` file in project root for env variables? such as `SECRET_KEY_BASE`

[2018-02-03 20:36] yivo commented on #432
Hello @sang-tech @mangeshgangwar

We have plans for recoding UI to Bootstrap 4 or som SPA framework like React.

[2018-02-03 20:37] yivo commented on #433
Hello @endofthepain

This is not an error. It opens prompt for password. Tweak your config for appropriate passwords and logins.

[2018-02-03 20:37] yivo commented on #443
Hello @sandrodz

We support only Docker & Kubernetes style deployments.

[2018-02-03 20:39] yivo commented on #442
Hello @sandrodz

Now Peatio requires only directory for uploaded documents to be persisted. You can find the path in source code. Please, close an issue when your question is resolved.

[2018-02-03 20:39] yivo commented on #443
Please, close an issue when your question is resolved. Thanks.

[2018-02-03 20:39] sandrodz commented on #443
Got it.

[2018-02-03 20:39] #443 closed

[2018-02-03 20:40] yivo commented on #440
Hello @senisende

You should refer to chat docs for this feature.

Please, close an issue when your question is resolved. Thanks.

[2018-02-03 20:41] #442 closed

[2018-02-03 20:41] yivo commented on #439
Hello @sandrodz

We will assign someone to check this. Thanks for the report. Also consider using the devel branch since it is the most up to date.

[2018-02-03 20:41] yivo commented on #441
Hello @sang-tech

The login method makes no difference. Can you provider your current application.yml?

Please, close an issue when your question is resolved. Thanks.

[2018-02-03 22:13] amir-budaychiev commented on #405
Hello @yivo. I did double check. I think it works fine. Let's check again my screencast please: https://drive.google.com/open?id=133SUoMjxsKlE4YRC1LEif3VFmVPJ5FMC

[2018-02-03 23:52] #433 closed

[2018-02-04 06:48] mfaizanse opened #444 "No signin/signup buttons on kubernetes deployment"
Hi,
I have deployed peatio using this [guide](https://github.com/rubykube/peatio/blob/master/docs/ops/deploy/kubernetes.md), everything is successful but when I access the service, the page does not display any buttons.
![capture](https://user-images.githubusercontent.com/9897945/35774974-eb040324-09a0-11e8-8126-730c222d9eb5.PNG)

I am using rubykube/peatio:0.2.4 image. What could be the issue?

[2018-02-04 06:53] EarlVadim commented on #113
Any news?

[2018-02-04 09:13] mod commented on #444
Hello,

You need to activate one of the login system, google, auth0, or barong.

On Feb 4, 2018 8:48 AM, "Muhammad Faizan" <notifications@github.com> wrote:

[2018-02-04 09:19] mfaizanse commented on #444
@mod I have set the following environment variables:
[code]

But still no button. There is no error in kubectl logs. Is there anywhere else I can see the status?

[2018-02-04 09:33] yivo commented on #444
Hello @mfaizanse

What Docker image tag have you used?

[2018-02-04 09:33] mfaizanse commented on #444
@yivo I am using rubykube/peatio:0.2.4 image

[2018-02-04 09:38] yivo commented on #444
@mfaizanse I think we have some issue with tagging. Check https://github.com/rubykube/peatio/issues/439

Can you try using image from devel branch? It is much up to date.

[2018-02-04 09:43] mfaizanse commented on #444
@yivo Should I create my own container image using the [devel branch](https://github.com/rubykube/peatio/blob/devel/docs/ops/deploy/kubernetes.md)? As the helm chart in devel branch is also referring to dockerhub rubykube/peatio:0.2.2.

[2018-02-04 17:54] senisende opened #445 "Add support for BitcoinWhite"
I tried to add , but no luck :) I need help thanks.

https://bitcoinwhite.org/page/exchanges.php

https://github.com/BTWhite/BTWChain

[2018-02-04 23:27] senisende commented on #426
any solution?

[2018-02-05 00:33] sang-tech commented on #441
Hi @yivo,

Thanks for that. It was the application.yml. More specifically I had entered my email at the top but missed the google oauth section further down the file.

I'm still not in admin but this not due to the app, it is due to my lack of knowledge regarding configuring oauth callbacks on localhost. But I'll get there this is all new to me. Once I get my head around the architecture of this a

[2018-02-05 00:33] #441 closed

[2018-02-05 09:29] mitjok commented on #279
@yivo FYI:

- Remove hardcoded currencies from many places in the project including assets/ public/templates and Rails views. **(partially done)**
- Don't cache currencies since they may be updated from admin panel in future.
- Create db/seed.rb which should add USD & BTC if no currencies exist at all in DB. **(done)**
- Update existing code to reflect changes to currency model. **(partially done)

[2018-02-05 11:25] mkuvshynnikov opened #446 "BitGo Express REST API for withdraw sometimes requires OTP"

[2018-02-05 11:40] calj opened #447 "New currencies not displayed for old users"
In the case of deployment of new currencies on an existing platform, new currencies are not listed for existing users, only new user see them.

[2018-02-05 11:40] senisende opened #448 "Real Name Auth has problem"
Hi,

Members shouldnt edit "id_documents/edit" Real name auth. After they verfy account, it shouldnt be edit.

[2018-02-05 11:43] mkuvshynnikov commented on #446
https://github.com/BitGo/BitGoJS/issues/98

[2018-02-05 11:50] tzman89 commented on #447
This is already posted multiple times,until it's fixed you can run:
bundle exec rails r "Member.find_each(&:touch_accounts)"

set cronjob for it and it should work

[2018-02-05 12:06] yivo commented on #447
Duplicate of #436.

[2018-02-05 12:06] #447 closed

[2018-02-05 13:54] dinesh-skyach commented on #347
Hi @yivo , I have strictly followed your steps. Redirect all request of trading UI to Private::MarketsController. Please let me know if we need move that code to JWT.
I have also added CORS to gemfile, since on local we have to handle these on different ports locally. But on production it may not be required.
Please find the trading UI code at the following repository:-
https://github.com/skyach/p

[2018-02-05 14:03] yivo commented on #436
Please, create rake task: `accounts:touch`with `Member.find_each(&:touch_accounts)` and add it to script which boots container.

[2018-02-05 14:27] amir-budaychiev commented on #405
@yivo UPD I've fixed it, also it works fine from UI: https://drive.google.com/open?id=1m0wIqhbLMOWQC4XKDETn2gHQkfluX_Ts

[2018-02-05 15:42] emasiuk opened #451 "Add opportunity set value withdraw fee"
![deepinscreenshot_select-area_20180205174215](https://user-images.githubusercontent.com/26141524/35813441-49fdaac8-0a9c-11e8-8895-a16ce4d5d53f.png)

[2018-02-05 15:44] emasiuk commented on #451
![deepinscreenshot_select-area_20180205174215](https://user-images.githubusercontent.com/26141524/35813417-3f7291ea-0a9c-11e8-9926-f0c037028391.png)

[2018-02-05 15:52] yivo opened #452 "POST /api/v2/withdraws requires amount to be integer only"

[2018-02-05 16:58] mangeshgangwar commented on #432
@yivo Thanks Thats great..

[2018-02-05 17:47] #445 closed

[2018-02-05 17:51] Namresiac opened #453 "Deposit address is displayed with offset to down (out of the box)"
![capture du 2018-02-05 19-46-41](https://user-images.githubusercontent.com/22836830/35820318-e9ac2a2a-0aad-11e8-8045-dc563cf5e8c0.png)

[2018-02-06 00:35] senisende commented on #440
@yivo

https://github.com/peatio/chatroom

[2018-02-06 00:37] senisende opened #457 "Google Auth Problem"
Google auth. doesnt work. I enabled after that i get error like "Password for authentication is incorrect, please re-enter pass."

[2018-02-06 03:04] fansyfs commented on #306
It means should have a daily/weekly/monthly withdraw upper limits.
e.g.
daily limit: 1btc (User cannot withdraw more then 1btc per day)
weekly limit: 5btc (User's all withdrawals in one week cannot exceed 5btc)
monthly limit: 10btc (...)

If user want to make a big withdrawal, they should submit the request somewhere and audit manually by admin.

[2018-02-06 10:46] yivo commented on #457
Hello @senisende

Could you provide the details? We never had issues with Google auth.

[2018-02-06 10:47] yivo commented on #453
Hello @Namresiac

This problem can be solved by making address container inline-block and setting to it white-space: nowrap.

[2018-02-06 10:49] yivo commented on #440
@senisende I think you can find docs there.

[2018-02-06 14:57] mkuvshynnikov opened #459 "Withdraw in Fiat do not works, gives 403 Forbidden Error"
![screen shot 2018-02-06 at 4 52 06 pm](https://user-images.githubusercontent.com/29736025/35866046-cec43372-0b5e-11e8-8a9c-38cd247553a8.png)

[2018-02-06 15:04] yivo opened #460 "Markets switcher doesn't work"
<img width="461" alt="screen shot 2018-02-06 at 5 03 16 pm" src="https://user-images.githubusercontent.com/7421323/35866383-bf19f76c-0b5f-11e8-8803-211e03425def.png">

[2018-02-06 15:09] yivo opened #461 "NoMethodError: undefined method `[]' for nil:NilClass at /api/v2/k_with_pending_trades.json"

[2018-02-06 15:10] yivo commented on #461
![Uploading Screen Shot 2018-02-06 at 5.09.05 PM.png…]()

[2018-02-06 15:10] yivo commented on #461
<img width="818" alt="screen shot 2018-02-06 at 5 09 05 pm" src="https://user-images.githubusercontent.com/7421323/35866732-9ee030be-0b60-11e8-89fd-01fb07b5177b.png">

[2018-02-06 15:12] yivo opened #462 "ActionView::Template::Error: wrong number of arguments (given 1, expected 0) at /admin/withdraws/banks"
<img width="857" alt="screen shot 2018-02-06 at 5 12 44 pm" src="https://user-images.githubusercontent.com/7421323/35866871-f7e3e89a-0b60-11e8-8583-8d18d087bc3b.png">

[2018-02-06 15:40] tzman89 opened #464 "Alternative for pusher"
Did you make any alternative to pusher since it's not cheap option ?
I was checking maybe you can make it with https://github.com/joewalnes/websocketd it's simple but powerful and I think it will merge into peatio without any problems

[2018-02-06 19:19] Namresiac opened #467 "Still a problem with the withdraw, here with BTC"
![capture du 2018-02-06 21-17-41](https://user-images.githubusercontent.com/22836830/35879231-59e619c4-0b83-11e8-9e2d-91b883004722.png)

[2018-02-06 19:22] Namresiac opened #468 "On the trading interface"
- I've been credited: 650 CAD, but I don't have anything like this in my fund
- There are not LTC in the choice of the differents markets in the top left hand corner

[2018-02-06 19:34] yivo commented on #460
Fixed in #465.

[2018-02-06 19:35] yivo commented on #462
Fixed in #463.

[2018-02-06 19:35] #462 closed

[2018-02-06 19:35] yivo commented on #439
Fixed in #458.

[2018-02-06 19:35] #439 closed

[2018-02-06 19:36] yivo commented on #451
Closed via #456.

[2018-02-06 19:36] #451 closed

[2018-02-06 19:37] yivo commented on #464
Hello @tzman89

I think https://github.com/stevegraham/slanger will fit your needs.

If your question is resolved please close an issue. Thanks.

[2018-02-06 19:38] yivo commented on #467
I think this is related to https://github.com/rubykube/peatio/issues/446.

[2018-02-06 19:39] yivo commented on #448
Hello @senisende

I think this is useful feature. We will revise it. Thanks.

[2018-02-06 19:39] yivo commented on #426
Hello @senisende

Out UI expect will check it soon.

[2018-02-06 19:40] yivo commented on #468
@mkuvshynnikov Can you check this and prepare list of issues?

[2018-02-06 19:41] yivo commented on #459
We found that this error is popped out only if you don't select withdraw destination. I think this is UI problem.

[2018-02-06 19:42] yivo commented on #405
@mkuvshynnikov Can you check what @amir-budaychiev prepared?

[2018-02-06 19:44] yivo commented on #440
@senisende I am closing your issue since it is more related to chat implementation but not Peatio. Peatio doesn't include one-line chat integration for services like Trollbox.

[2018-02-06 19:44] #440 closed

[2018-02-06 19:46] yivo commented on #115
@khalidNascenia I hope your issue is resolved. You may open the issue again if you have more questions.

[2018-02-06 19:46] #115 closed

[2018-02-06 19:49] yivo commented on #191
Duplicate of #325.

[2018-02-06 19:49] #191 closed

[2018-02-06 19:51] yivo commented on #264
@Hopperman I hope your question is answered. You may open the issue again if you have more to ask.

[2018-02-06 19:51] #264 closed

[2018-02-06 19:59] yivo commented on #303
@amarian12 I am closing the issue. I hope you have contacted Louis and received the response. You may open the issue or create the new if you have any question.

[2018-02-06 19:59] #303 closed

[2018-02-06 20:00] yivo commented on #324
@Alex-Shilman It is better to use Docker since it is more stable environment. I recommend you to check this issue on devel (it will soon be merged into master). You may open the issue if bug still exists. Thanks.

[2018-02-06 20:00] #324 closed

[2018-02-06 20:01] yivo commented on #284
@ryanisab I hope your issue is resolved. You may reopen it if your have any extra questions.

[2018-02-06 20:01] #284 closed

[2018-02-06 20:03] yivo commented on #308
@duduric Your should run Rake task to enable «Solvency» to work well. Check .travis.yml for details. We will update docs soon.

I am closing the issue since BTC address generation works stable with both BitGo & Bitcoind.

You may reopen the issue if you still are having troubles with deposit address.

[2018-02-06 20:03] #308 closed

[2018-02-06 20:04] yivo commented on #306
Hello. Currently Peatio has only `quick_withdraw_max` option which controls the max amount for single withdraw. I think we will add more options soon.

[2018-02-06 20:05] yivo commented on #464
Duplicate of #283.

[2018-02-06 20:05] #464 closed

[2018-02-06 20:06] yivo commented on #283
Hello @ryanisab

I think you can ride with https://github.com/stevegraham/slanger before we will migrate to ActionCable.

[2018-02-06 20:07] yivo commented on #444
@mfaizanse Hello. Unfortunately we haven't updated the chart which lives in public. We provide such services for enterprise clients only.

[2018-02-06 20:07] yivo commented on #444
@mfaizanse Just set `OAUTH2_SIGN_IN_PROVIDER: google`. This solution may be applied only to devel branch.

[2018-02-06 20:08] yivo commented on #444
If you still expect troubled with sign in you may reopen the issue.

[2018-02-06 20:08] #444 closed

[2018-02-06 20:09] #432 closed

[2018-02-06 20:10] yivo commented on #346
Closed in #425.

[2018-02-06 20:10] #346 closed

[2018-02-06 20:12] yivo commented on #30
Closed in #357 (however the issue description doesn't match well with PR).

[2018-02-06 20:12] #30 closed

[2018-02-06 20:12] yivo commented on #21
Solved for enterprise clients.

[2018-02-06 20:12] #21 closed

[2018-02-06 20:13] yivo commented on #309
If you still the problem you may reopen the issue. Thanks.

[2018-02-06 20:13] #309 closed

[2018-02-06 20:14] yivo commented on #304
I think the question is solved. Please, reopen if anything else. Thanks.

[2018-02-06 20:14] #304 closed

[2018-02-06 20:16] yivo commented on #448
Actually Peatio's KyC is going to be fully moved to Barong. You may request this feature at https://github.com/rubykube/barong.

[2018-02-06 20:16] #448 closed

[2018-02-06 20:17] yivo commented on #408
Closed via #411.

[2018-02-06 20:17] #408 closed

[2018-02-06 20:45] yivo opened #469 "Update JWT gem to 2.x"
This change allows us to do it: https://github.com/zquestz/omniauth-google-oauth2/commit/00a55ca998efbe98c2fbdb697c99f957788f47fc#diff-549de7a4411a21de47fe188d22d869f6

[2018-02-06 21:45] tigwyk opened #470 "Google Auth error "Wrong customer ID or password,please try again.""
I've got Peatio running in docker. When I attempt to login via Google Auth, I get an error: "Wrong customer ID or password,please try again." But I am able to login via Auth0 and then choosing Google on the Auth0 screen.

This error occurred before I'd even created an account, but even after signing in for the first time using Auth0+Google and creating my account, I get the same error if I just ch

[2018-02-07 03:15] khalidNascenia commented on #115
@yivo Yeah, the issue is resolved.

[2018-02-07 11:29] yivo commented on #405
Closed. See https://github.com/rubykube/peatio/pull/455#issuecomment-363463859 and https://github.com/rubykube/peatio/pull/455#issuecomment-363740795.

[2018-02-07 11:29] #405 closed

[2018-02-07 11:32] yivo commented on #470
Hello @tigwyk

I will check Google auth again. BTW it works well for me.

[2018-02-07 11:33] yivo commented on #452
Closed in #454.

[2018-02-07 11:33] #452 closed

[2018-02-07 11:33] yivo commented on #436
Closed in #450.

[2018-02-07 11:33] #436 closed

[2018-02-07 11:42] yivo commented on #347
@dinesh-skyach Hello. Thank you for the good job. Can you please refactor to use Yarn for this folder? https://github.com/skyach/peatio-trading-ui/tree/master/vendor
You can see the example here in Peatio repository. Can you please also cleanup peatio-trading-ui from unneeded locales, JS and CSS files?

[2018-02-07 11:43] yivo commented on #347
@dinesh-skyach I think in dev environment Peatio will require link to trading app via ENV variable. In production it will use route.

[2018-02-07 11:45] yivo commented on #347
Can you move this variable to peatio-trading-ui? https://github.com/rubykube/peatio/blob/devel/lib/generators/config/templates/application.yml.erb#L114

Can you also add variable `MARKETS_URL`?

[2018-02-07 11:49] #399 closed

[2018-02-07 11:49] yivo commented on #470
Linked issue #457.

[2018-02-07 11:50] yivo commented on #457
@senisende Issue moved to #470.

[2018-02-07 11:50] #457 closed

[2018-02-07 11:51] yivo commented on #113
We have created issue for this #345.

[2018-02-07 11:51] #113 closed

[2018-02-07 11:52] yivo commented on #345
LInked issue #113.

[2018-02-07 11:53] yivo commented on #23
We have added Yarn to Peatio and used it for some new assets like raven-js & country-flags. I see this task is not required anymore since we plan to craft brand new UI for Peatio.

[2018-02-07 11:53] #23 closed

[2018-02-07 12:06] yivo commented on #420
Arshak90 decided to omit this task.

[2018-02-07 12:47] EarlVadim commented on #345
I do not understand. Why a new issue thread?
It would be better to create a solution to the problem than another thread.

[2018-02-07 12:49] yivo commented on #467
@yssavchuk Can you please check this with BitGo and confirm the bug?

[2018-02-07 12:57] yssavchuk commented on #460
@yivo need to open this issue once more because switcher is still broken after https://github.com/rubykube/peatio/pull/411

[2018-02-07 13:02] yivo commented on #460
@yssavchuk Damn. I have reopened it.

[2018-02-07 14:12] mafarain opened #473 "Create api call to destroy withdraw addresses"

[2018-02-07 14:31] yssavchuk commented on #467
Actually such problem does exists with current version of BitGo

[2018-02-07 15:31] yivo commented on #473
@mafarain Is this very urgent?

[2018-02-07 15:31] yivo commented on #473
I need to define priority: low, middle, high.

[2018-02-07 15:32] yivo commented on #467
@yssavchuk Yeah. Can you just remove almost_done status and in case of error mark withdraw as failed?

[2018-02-07 15:32] yivo commented on #467
Most of your changes would be in withdraw_worker.rb and some in views and localed.

[2018-02-07 16:51] mafarain commented on #473
I have a wip patch on the front side, that waits for api call. We have adding withdraw now, but not deleting, so it's quite urgent. Middle, i hope

[2018-02-07 16:53] yivo commented on #473
@mafarain you can implement it by yourself. Implementation seems to be very similar to https://github.com/rubykube/peatio/blob/devel/app/api/api_v2/withdraws.rb#L54.

Use well-formed English desc and use REST JSON API conventions.

[2018-02-07 16:54] yivo commented on #473
Accept HTTP DELETE and respond with 200.

[2018-02-07 16:55] mafarain commented on #473
Ok, working on it

[2018-02-07 17:28] yivo opened #475 "Specs are failing in devel due to #466"

[2018-02-07 17:37] yssavchuk opened #476 "Need to fix travis CI after pr #466 merge"
https://github.com/rubykube/peatio/pull/466

[2018-02-07 17:40] yivo commented on #476
Duplicate of #475.

[2018-02-07 17:40] #476 closed

[2018-02-07 22:45] yozef commented on #392
Went through these steps... turned out I had a old version of yarn:
`npm install -g yarn` then `bundle exec rake tmp:create yarn:install assets:precompile`

The Dockerfile had this missing for me. Thanks guys! I look forward to dig further.

[2018-02-07 23:28] mafarain commented on #473
https://github.com/rubykube/peatio/pull/479
you should check, i hope

[2018-02-08 00:53] yozef opened #480 "Not recognizing my email as Admin in application.yml"
I've added in `/lib/generators/config/templates/application.yml.erb`:
[code]

While ignoring Google OAuth for now, I've set to AUTH0 (from registering & getting API keys here: https://manage.auth0.com/#/apis ):
[code]

...then run again: `bundle exec rails server`
... goto: **http://localhost:3000**

I register for an account with email: my_email@gmail.com **with Auth0**; Then login, with my_email

[2018-02-08 05:12] b1naryc0re commented on #371
@yivo would it be possible to do this (query external orderbook and present on platform) by just using the extracted trading UI on rails, instead of the whole implementation?

[2018-02-08 09:46] fansyfs opened #481 "Cannot find translation at bank deposit/withdraw page"
<img width="1067" alt="untitled" src="https://user-images.githubusercontent.com/538516/35966151-fa987c34-0cf7-11e8-9d50-2f050bfaac96.png">

[2018-02-08 09:55] fansyfs opened #482 "USD markets list is empty"
<img width="401" alt="untitled" src="https://user-images.githubusercontent.com/538516/35966554-0f3a53c8-0cf9-11e8-99f0-06a059d75fad.png">
<img width="425" alt="untitled 2" src="https://user-images.githubusercontent.com/538516/35966560-13587160-0cf9-11e8-8cac-69233f3e12f9.png">

[2018-02-08 10:45] yivo commented on #482
Duplicate of https://github.com/rubykube/peatio/issues/460.

[2018-02-08 10:45] #482 closed

[2018-02-08 10:46] yivo commented on #481
Hello @fansyfs

Sprockets has cached dumped translations JS. Just clear assets cache.

If you have still issue with this you may reopen ticket. Thanks.

[2018-02-08 10:46] #481 closed

[2018-02-08 10:48] yivo commented on #480
`I've added in /lib/generators/config/templates/application.yml.erb:`

This is not correct. You should run `bin/init_config` and edit config/application.yml.

Better to use devel branch for now since it is going to be merged into master soon.

If you still expect this problem pls reopen issue.

[2018-02-08 10:48] #480 closed

[2018-02-08 11:44] yivo opened #483 "When manually depositing fiat currency in admin panel transaction should be created and listed at history"
Please, work in devel branch.

[2018-02-08 13:25] dinesh-skyach commented on #347
Hi @yivo  I have made the above changes.

In Addition I have used yarn and as we are using Rails 5 for the new Trading App, so now the yarn modules are added under node_modules folder.

Also I have removed the unneeded JS and CSS files. And currently working on removing the unneeded Locales.

[2018-02-08 13:36] yivo commented on #475
Fixed in #477.

[2018-02-08 13:36] #475 closed

[2018-02-08 13:37] yivo commented on #460
Fixed in #472.

[2018-02-08 13:37] #460 closed

[2018-02-08 13:55] yozef commented on #480
Thank you @yivo :)

Needed : `bin/init_config` & update `config/application.yml`
Then `bundle exec rake tmp:create yarn:install assets:precompile`
then run rails server: `bundle exec rails server`

[2018-02-08 13:58] yivo commented on #480
@yozef No need for `assets:precompile` unless you are running production.

[2018-02-08 14:03] yivo commented on #347
@dinesh-skyach Cool. We are working now on patch which should simplify locales and reduce it's number. I think it will help you a lot after merge.

[2018-02-08 17:22] yssavchuk opened #485 "Add withdraw_channels & deposit_channels to generators"

[2018-02-08 22:44] yozef opened #487 "API Documentation of Locally Installed Peatio"
I installed PEATIO locally, things so far are working fine.
Is there a webpage http://localhost:3000/..../api_v2/
where I can access to see the API documentation?

Thanks in advance.

[2018-02-09 02:22] yozef commented on #487
Found it, this is for anyone else searching for the API Doc:

http://localhost:3000/documents/api_v2

[2018-02-09 02:22] #487 closed

[2018-02-09 10:26] dinesh-skyach commented on #347
Hi @yivo, I will wait for the patch and then will remove the unneeded locales from Trading UI App.

Meanwhile I have made the fixes for the Trading UI App. Also for the development environment we need to add the CORS headers for AJAX requests, so I have added the CORS headers for the development enviornment but this will not be required for Production as the domain will be same.

Let me know if yo

[2018-02-09 12:36] yivo commented on #467
Closed in #478.

[2018-02-09 12:36] #467 closed

[2018-02-09 12:36] yivo commented on #461
Closed in #474.

[2018-02-09 12:36] #461 closed

[2018-02-09 12:46] yivo commented on #473
Closed #479.

[2018-02-09 12:46] #473 closed

[2018-02-09 12:56] yivo commented on #485
Closed in #486.

[2018-02-09 12:56] #485 closed

[2018-02-09 13:08] yivo opened #489 "Create table with configuration in database"

[2018-02-09 13:09] yivo opened #490 "Add support for PostgreSQL"

[2018-02-09 13:10] yivo opened #491 "Add support for SQLite"

[2018-02-09 13:10] yivo opened #492 "Optimize TravisCI notifications"

[2018-02-09 13:11] yivo opened #493 "Move member UI (not admin) to Rails::Engine based gem"

[2018-02-09 14:40] yivo opened #494 "If withdraw fails amount should be put back to balance"

[2018-02-09 18:37] yivo opened #496 "Add support for ETH (BitGo only)"

[2018-02-10 04:54] dinesh-skyach commented on #347
@yivo Any updates on the patch?

[2018-02-10 13:34] senisende opened #497 "Changing style have problem"
deleted.

[2018-02-10 18:13] tigwyk commented on #470
@rayonx That was precisely the issue. I had setup oauth credentials in the Google developer console but I didn't enable the Google+ API. Thank you!

[2018-02-10 18:13] #470 closed

[2018-02-11 23:31] #497 closed

[2018-02-12 02:13] arshad-bilawat opened #498 "market order"
Market order is not enabled in the trading page. Right now only limit order is supported in trading page.

[2018-02-12 11:10] yivo commented on #498
Hello @arshad-bilawat

Can you provide the details?

[2018-02-12 11:24] yivo opened #499 "Add support for member levels and delete KyC"

[2018-02-12 11:37] yssavchuk commented on #494
Progress in #501

[2018-02-12 11:40] yivo commented on #446
Fixes by specifying only single spending limit and IP addresses.

[2018-02-12 11:40] #446 closed

[2018-02-12 12:38] yivo opened #503 "Fix errors preventing fiat deposit from working"

[2018-02-12 12:39] yivo commented on #503
<img width="1173" alt="screen shot 2018-02-12 at 2 39 08 pm" src="https://user-images.githubusercontent.com/7421323/36097195-870fa734-1002-11e8-8dcd-7191aa34db30.png">
<img width="1209" alt="screen shot 2018-02-12 at 2 39 13 pm" src="https://user-images.githubusercontent.com/7421323/36097198-8a26f670-1002-11e8-99e5-14fc7913c7b2.png">
<img width="1035" alt="screen shot 2018-02-12 at 2 38 50 pm" src

[2018-02-12 12:50] yivo commented on #483
@Liapin @yssavchuk
To speed up this task I have splitted it into 2 parts:
* @yssavchuk – you task is to bring creation of deposit to working state https://github.com/rubykube/peatio/issues/503 @Liapin please examine this issue too
* @Liapin – your task is to remove admin rubric for manual deposit USD which @yssavchuk added several weeks ago

The process of fiat deposit looks like:
* I submit depos

[2018-02-12 15:23] ilerrajtadros commented on #326
I am having this same isue:
ActionView::Template::Error (couldn't find file 'yarn_components/raven-js/dist/raven' with type 'application/javascript'

Tried bundle exec rake yarn:install but didn't get it to work

[2018-02-12 17:15] yivo opened #506 "Add form to admin rubric which allows to manually create deposit"

[2018-02-12 17:16] yivo opened #507 "Refactor fiat deposits to match new behavior"

[2018-02-13 13:27] Apollo-IT opened #508 "Support for Ripple"
Hi, @dkkoval @mod I wanna integrate ripple in Peatio.
I saw this branch has ripple, but has lots of differences between this branch and default peatio.
I wanna discuss sth about ripple.
Please feel free to ping me any time.
Waiting replies.

[2018-02-13 14:59] yivo commented on #508
Hello @Apollo-IT

Issues are not good place for business. Check https://peatio.tech/

Thanks

[2018-02-13 14:59] #508 closed

[2018-02-13 15:01] yivo commented on #494
Closed in #501.

[2018-02-13 15:01] #494 closed

[2018-02-13 15:01] yivo commented on #503
Fixed in #505.

[2018-02-13 15:01] #503 closed

[2018-02-14 12:52] yivo commented on #483
Merged #504.

[2018-02-14 12:52] #483 closed

[2018-02-14 13:01] yivo commented on #499
Closed in #502.

[2018-02-14 13:01] #499 closed

[2018-02-14 17:29] mkuvshynnikov opened #511 "Button "accept" missed up"
Admin panel > withdrawl> bank transfer   button accept is missed up

[2018-02-14 20:26] atlanticstarr1 opened #512 "Yarn Error"
Guys getting this error when loading the site. Any ideas ? I think the instructions needs to be updated. e.g. It currently points to install ruby version Ruby 2.2.8

Template::Error (couldn't find file 'yarn_components/raven-js/dist/raven' with type 'application/javascript'

[2018-02-14 21:13] yozef commented on #512
replicate: https://github.com/rubykube/peatio/issues/392

[2018-02-14 22:07] atlanticstarr1 commented on #512
tnx

[2018-02-14 22:07] #512 closed

[2018-02-15 10:10] calj opened #513 "Ability to dynamically change the css for trading page"
We need to load an external css file on the trading page.
This file must not be compiled in the asset pipeline so we can configure the style with a standard container.

[2018-02-15 10:52] yivo commented on #506
Closed via #509.

[2018-02-15 10:52] #506 closed

[2018-02-15 11:47] yivo opened #516 "Replace ROTP gem in favor of custom generator"

[2018-02-15 11:48] yivo opened #517 "Remove name & nickname from member & authorization models"

[2018-02-15 11:48] yivo opened #518 "Store OAuth2 token in Authorization#secret"

[2018-02-15 12:04] yivo commented on #511
Closed via #515.

[2018-02-15 12:04] #511 closed

[2018-02-15 12:04] yivo commented on #513
Added in #514.

[2018-02-15 12:04] #513 closed

[2018-02-15 12:10] yivo opened #519 "Add ability to add custom stylesheet for landing & application pages"

[2018-02-15 12:19] yivo opened #520 "Sentry is missing at markets page"

[2018-02-15 12:25] yivo opened #521 "Add ability to optionally disable member UI and markets UI"

[2018-02-15 12:54] yivo opened #524 "Update omniauth-barong gem"

[2018-02-15 15:39] yivo commented on #519
Closed via #522.

[2018-02-15 15:39] #519 closed

[2018-02-15 16:31] yivo commented on #520
Closed via #527.

[2018-02-15 16:31] #520 closed

[2018-02-15 16:31] yivo commented on #524
Closed in #526.

[2018-02-15 16:31] #524 closed

[2018-02-15 16:31] yivo commented on #518
Closed in #525.

[2018-02-15 16:31] #518 closed

[2018-02-15 17:41] yivo commented on #521
`ENV['DISABLE_MARKETS_UI']` & `ENV['DISABLE_CABINET_UI']`

[2018-02-15 20:47] yivo commented on #507
Closed in #528.

[2018-02-15 20:47] #507 closed

[2018-02-15 21:04] yivo opened #530 "Add ability to customize page metadata: title, desc & keywords"

[2018-02-15 21:20] yivo commented on #530
Merged #529.

[2018-02-15 21:20] #530 closed

[2018-02-15 23:49] emasiuk opened #532 "Charts doesn't work for BCH/CAD"
![deepinscreenshot_select-area_20180216014346](https://user-images.githubusercontent.com/26141524/36287060-3ecbdc34-12bb-11e8-977a-98100da8f7d3.png)
while trading on BCH/CAD the charts won't show up after trade

[2018-02-16 00:26] mkuvshynnikov opened #533 "Output SN in admin panel"

[2018-02-16 16:58] atlanticstarr1 opened #536 "Please Update Install Documents"
Thanks for the incredible work on this project guys. But please update the install documents especially for Ubuntu. It still shows ruby 2.2.8 and the install scripts installs the wrong version.

Thanks

[2018-02-16 20:08] yivo commented on #536
Duplicate of #325.

[2018-02-16 20:08] #536 closed

[2018-02-17 05:45] arshad-bilawat commented on #498
There are atleast two types order in any exchange:
1. Market Order
2. Limit Order.

The peatio supports only limit order as of now. Can we please add market order support.

[2018-02-17 18:48] nandhini-ramanujam opened #537 "Recommended approach to transfer exchange funds to cold wallet"
Hi @yivo,

I have few questions regarding exchange wallet

1. What is the recommended approach to transfer bitcoins from hot wallet to any cold storage(80% in cold wallet and 20% in hot wallet for safety purpose)
2. If exchange's hot wallet has low amount, what is the recommended approach to transfer to exchange wallet?.
please clarify
Thanks in advance

[2018-02-18 00:14] arshad-bilawat commented on #498
@yivo ping

[2018-02-18 09:55] arshad-bilawat opened #538 "Pusher is not working on trading page"
Hi,

The pusher is not working on trading page. When I add a new order, I need to refresh the page manually.  http://localhost:3000/markets/btcusd

However, If I work in the funds page, Add USD etc, The pusher is working properly.
http://localhost:3000/funds

I checked the log in my pusher app, When ever I try to create any transaction in trade page, I get below log in pusher debug console.

DISCO

[2018-02-18 12:53] hamid1989 opened #540 "Error in production"
I managed to run peatio in development and it works great but when I run it in production I get this:
"An unhandled lowlevel error occurred. The application logs may have details."

Application log is empty

[2018-02-18 13:12] yssavchuk opened #541 "Incompatible character encodings: ASCII-8BIT and UTF-8"

[2018-02-18 13:12] yssavchuk commented on #541
Actually here is the problem itself ![screen shot 2018-02-18 at 3 02 26 pm](https://user-images.githubusercontent.com/19859122/36352212-1b2026f0-14be-11e8-8674-c7d4175a9337.png)

[2018-02-18 13:13] yssavchuk commented on #541
in this line https://github.com/rubykube/peatio/blob/6eb317c1b9a247ccc8f79e12a82148f8fe9eb248/lib/generators/config/templates/application.yml.erb#L121

[2018-02-18 13:25] yssavchuk opened #544 "Peatio documentation update"

[2018-02-19 09:38] yivo commented on #544
Duplicate of #325.

[2018-02-19 09:38] #544 closed

[2018-02-19 09:39] yivo commented on #538
Hello @arshad-bilawat

Have you updated configs with your own pusher access tokens?

[2018-02-19 09:40] yivo commented on #540
Hello @hamid1989

We don't support passenger. Run app in docker and you will get output. Or you can update config/environments/shared/logger.rb to suit your needs.

[2018-02-19 09:40] #540 closed

[2018-02-19 09:40] yivo commented on #541
Closed via linked commits.

[2018-02-19 09:40] #541 closed

[2018-02-19 10:43] tzman89 commented on #540
I didn't used passenger, I deployed it with docker and using localhost:3000, when I run rails server with RAILS_ENV=production I get this and no logs can be found.
I'm going to create new layout for peatio and I'm learning it's code so I can know what changes can cause app working problems.

[2018-02-19 10:52] yivo commented on #537
Hello @nandhini-ramanujam

You would better ping @mod for this question.

As for my opinion I think your steps are correct: keep 80% in cold wallet, 20% in operational, and if operational wallet's balance is too low just transfer some from cold. I believe you will better understand and find the best approach when you will run your own exchange and play with real money.

[2018-02-19 10:53] yivo commented on #498
@arshad-bilawat You can submit PR or contact https://peatio.tech/ for this feature.

[2018-02-19 11:25] yivo commented on #468
@mkuvshynnikov @Namresiac I think this issue was created by mistake. We haven't reproduces anything similar to this.

[2018-02-19 11:25] #468 closed

[2018-02-19 11:27] yivo commented on #490
We need to check an ensure all Peatio models work with PG.

[2018-02-19 11:27] yivo commented on #491
We need to check an ensure all Peatio models work with SQLite.

[2018-02-19 12:02] yivo opened #547 "Plugin system"

[2018-02-19 12:02] yivo opened #548 "Implement new fiat withdraw story"

[2018-02-19 14:23] yivo opened #549 "Add specs for PR #534 (Ability to disable UI)"
https://github.com/rubykube/peatio/pull/534

[2018-02-19 16:02] Namresiac opened #553 "Address Generation Message"
When you ask to generate a new address, the message "You sure about... " appears.
Like every kind of button I push "Enter" by defaut, but an other message appear and is overlayed. As many messages as I push enter, and then I've to validate each one of them one after one...
![push-enter](https://user-images.githubusercontent.com/22836830/36386746-7560a428-159f-11e8-87db-c0f6fd7912e9.png)

[2018-02-19 16:10] Namresiac commented on #553
![push-enter-2](https://user-images.githubusercontent.com/22836830/36386912-132a3b6a-15a0-11e8-91f7-34820958c5ff.png)

For exemple after 10 pushes of "Enter" it's getting draker and darker

[2018-02-19 20:32] arshad-bilawat commented on #538
@yivo Yes, I have updated the config with my pusher settings and is working fine is funds page. It is not working in trading page and when I check the debug logs in my pusher account, it shows disconnection immediately after I initiate any transaction on the page.

[2018-02-20 03:08] nandhini-ramanujam commented on #537
Hi @yivo,

Thanks for your response. I'll contact @mod for further details.

[2018-02-20 21:11] yivo opened #556 "Delete old generators for deposits, withdraws, locales, and other stuff"

[2018-02-20 21:12] yivo opened #557 "Remove leftovers after banks.yml removal"

[2018-02-20 21:13] yivo opened #558 "Ability to create fiat deposits using management API"

[2018-02-20 21:15] yivo opened #559 "Specs for auth via Barong OAuth"

[2018-02-21 04:31] Sambusik opened #560 "User BTC withdraw are auto-rejected?"
Trying to figure out if there is a setting somewhere as to why when a user withdraws BTC, these requests are automatically rejected?

Tried withdrawing 1 BTC & 0.01 BTC (dosen't seem to be the amount, nor the verification status of the user, as that user is verified)

Client Side:
<img width="300" alt="user_withdraw_history" src="https://user-images.githubusercontent.com/36517706/36463227-8130c3ee

[2018-02-21 07:01] emasiuk opened #561 "Trade Interface, still LTC missing in the choice of the differents markets"
![ltc-miss](https://user-images.githubusercontent.com/26141524/36467071-bb37809c-16e5-11e8-9d6b-1366eb9c9164.png)

[2018-02-21 08:46] yivo commented on #560
Hello @Sambusik

There are multiple cases why transaction may be rejected. Consider reading app/models/withdraw && app/models/workers/withdraw_coin.rb

[2018-02-21 08:46] #560 closed

[2018-02-21 08:49] yivo commented on #561
Issue was not confirmed (configuration mistake).

[2018-02-21 08:49] #561 closed

[2018-02-21 09:30] yivo opened #562 "Ability to customize landing page text"

[2018-02-21 09:33] calj opened #563 "Ability to block regular users to access the UI"
Regular users should have access to market page and API only.
We will still need the admin to access the UI (maybe /admin only).

[2018-02-21 09:37] yivo commented on #563
Duplicate of https://github.com/rubykube/peatio/issues/521.

PR is ready and tested: https://github.com/rubykube/peatio/pull/534

[2018-02-21 09:37] #563 closed

[2018-02-21 10:18] calj opened #565 "Ability to retrieve API key through API"
That might sounds strange, but we would need to display the trading API keys on custom UI.
So we need a way to retrieve API keys using a JWT token.

[2018-02-21 10:19] calj opened #566 "Ability to retrieve solvency information through API"

[2018-02-21 12:30] tzman89 opened #568 "Mysql url format"
Hello,

Can anyone tell me how mysql url should look like in database.yml?
I'm trying to connect database from seperated server to use peatio with multi servers.
Also does peatio support new versions of mysql with phpmyadmin?

I will try my best to contribute here once I manage to fully run peatio

Thanks,

[2018-02-21 13:04] yivo commented on #568
Hi @tzman89

It depends on your DB and is related to Rails config not Peatio. Check http://edgeguides.rubyonrails.org/configuring.html#configuring-a-database

[2018-02-21 13:04] #568 closed

[2018-02-21 13:04] yivo commented on #568
If you have any question pls open the issue. Thanks.

[2018-02-21 13:04] yivo commented on #565
@calj I think we need to discuss this with @mod

[2018-02-21 13:05] yivo commented on #566
@calj We need to talk about it. I have idea how to code it very fast.

[2018-02-21 13:53] Sambusik commented on #560
thanks @yivo ;)

[2018-02-21 14:12] mitjok commented on #490
@yivo what will be the indicators that "models work with PG"?
What version of `postgresql` should be tested?

[2018-02-21 14:40] yivo commented on #490
@mitjok Pls test latest stable available. Project must be 100% compatible.

[2018-02-21 21:21] dutchakdev opened #571 "Regular sign/signup is not implemented?"
Regular sign/signup is not implemented? rubykube/peatio used only oauth?

[2018-02-21 21:28] Sambusik commented on #571
supposedly rubykube/barong would have been implemented.
I haven't fetched from repo in a while, seems like Barong has not been integrated yet.

[2018-02-21 21:28] nchigwamba opened #573 "Documentation for GCP deployment"
Does anyone have steps for production deployment in GCP?

[2018-02-21 21:36] nchigwamba commented on #573
Wrong repo.

[2018-02-21 21:40] yivo commented on #573
Hi @nchigwamba

We have workshops for deployment. Contact https://peatio.tech.

[2018-02-21 21:40] #573 closed

[2018-02-21 21:42] yivo commented on #571
Hi @dutchakdev @Sambusik

E-Mail sign in / sign up has been stripped from Peatio. Consider using Barong. It is integrated already.

[2018-02-21 21:42] #571 closed

[2018-02-22 07:54] yivo commented on #496
Closed with #495.

[2018-02-22 07:54] #496 closed

[2018-02-22 10:14] allenmillen opened #577 ""undefined method `sum' for nil:NilClass" error when i click on "Solvency" page/menu item"
Guys, any idea how to fix this problem? Is this configuration issue?

It is happening on my local installation of Peatio, which i fetched yesterday

[2018-02-22 11:30] yivo commented on #577
Hi @allenmillen

Check https://github.com/rubykube/peatio/issues/73.

[2018-02-22 11:30] #577 closed

[2018-02-22 11:53] allenmillen opened #578 "When withdrawing on freshly installed system, it does not ask for destination address"
Money is locked, while no withdrawal is created

[2018-02-22 11:55] allenmillen opened #579 "Wrong blockchain explorer URL in withdrawal history for destination address"
When withdrawal is submitted, wrong URL is shown in withdrawals history (it is pointing to tx). It should be pointing to address instead

[2018-02-22 11:58] allenmillen opened #580 "When try to view details of failed withdrawal (as admin) i get following error"
“undefined method `id' for nil:NilClass”
http://localhost:3000/admin/withdraws/satoshis/1
<span><%= t('admin.withdraws.coins.show.withdraw', sn: @withdraw.id) %></span>

[2018-02-22 14:17] yivo commented on #578
It does. You should click `Manage`.

[2018-02-22 14:17] #578 closed

[2018-02-22 14:17] yivo commented on #579
This is known issue. Configuration problem.

[2018-02-22 14:18] yivo commented on #580
Thanks. I will check it.

[2018-02-22 17:50] yivo opened #581 "NoMethodError (undefined method `name' for #<Member>)"

[2018-02-22 17:54] #581 closed

[2018-02-23 08:16] dinesh-skyach commented on #453
Hi @yivo Please can you let me know how do we generate the deposit address?

[2018-02-23 10:43] yivo commented on #453
@dinesh-skyach You must have fully 100% working Peatio locally.

[2018-02-23 13:53] dutchakdev opened #584 "Themes support [proposal]"
### Abstract
As an opensource project, potentially anyone can use this project. But when anyone wants to customize something in views they need to change it. It can create a problem with updating of codebase.

### Solutions
Remove views and SSR from a project, create views as third-party frontend on React, React Native, Angular etc.

[2018-02-24 08:29] sosospicy opened #586 "sql error when run " bundle exec rake db:setup ""
Error:

Then I checked the table:
[code]

I don't know where to fix this sql err. Any help? Thanks!

[2018-02-24 08:43] sosospicy commented on #586
I'll update my code and retry..

[2018-02-24 11:52] yivo commented on #586
Hi @sosospicy

I am sure you are using wrong fork of Peatio. We don't maintain this table anymore. You can read migration file and see that there is not such table.

[2018-02-24 11:52] #586 closed

[2018-02-24 11:53] yivo commented on #584
Hi @dutchakdev

We have this on TODO list.

[2018-02-24 22:54] arshad-bilawat commented on #538
Hello @yivo, any update or direction around this issue please..

[2018-02-25 02:53] sosospicy commented on #586
Yes, I clone a wrong fork because I copy  "git clone git://github.com/peatio/peatio.git"  in step 9 (https://github.com/rubykube/peatio/blob/master/docs/setup-ubuntu.md) without recheck the link.
Sorry to disturb.

[2018-02-25 07:37] yivo commented on #586
@sosospicy No problem :)

[2018-02-25 07:39] yivo commented on #538
@arshad-bilawat Hi. We have actually managed to get it work by putting correct access credentials and configs. We tested it in Chrome. Everything works fine. What OS and browser do you use for tests?

[2018-02-25 07:46] yivo opened #587 "Display all deposits and withdraws in history (current limit is 3)"

[2018-02-25 07:47] yivo opened #588 "Page is reloaded no matter what POST withdraw resulted in"

[2018-02-25 10:50] arshad-bilawat commented on #538
I am using macOS 10.13.3 and chrome. It works fine in funds page, so I am not sure if it credential issue.

[2018-02-25 13:57] sharmaabhishek2207 opened #591 "Steps to configure Ethereum with Peatio"
Hi All,

Can anyone please help me to get the steps to configure Ethereum with Peatio? In setup documentation for ubuntu, only bitcoin steps are provided. Thanks in advance.

Regards
Abhishek

[2018-02-25 15:40] oskanddr commented on #591
Hi @sharmaabhishek2207,

I have ETH implemented in private Peatio fork. I can help you to deploy it or add to existing Peatio installation.

Contact me: nimpo1074@gmail.com.

Regards,
Oskar

[2018-02-26 01:58] myriky opened #592 "how can i desposit USD?"
i've cloned peatio v1.1.3. but i couldn't know how can i deposit USD.

could you tell me? what am i supposed to do.

<img width="1189" alt="2018-02-26 10 55 59" src="https://user-images.githubusercontent.com/581861/36649944-e77ab7a8-1ae3-11e8-80b0-63d4f1d3a920.png">

[2018-02-26 01:59] myriky commented on #592
i've also read this issue #399. but i think it was mention about old version. i can't find 'Manage' button.

[2018-02-26 06:55] sosospicy commented on #571
@yivo  Sorry but I can't figure out how to make barong work with peatio.
Since it's integrated, I don't have to clone and install barong as a independent service, right?
I set 'OAUTH2_SIGN_IN_PROVIDER' to 'barong', but I don't know how to set these variables :
  # Development configuration variables for sign in with Barong
    BARONG_CLIENT_ID:           ~
    BARONG_CLIENT_SECRET:       ~
    BAR

[2018-02-26 09:03] dutchakdev commented on #592
same problem

[2018-02-26 09:59] yivo commented on #592
@myriky @dutchakdev Hi

Navigate to admin panel -> Deposits -> Bank deposits -> Click «New deposit» -> Input bank details, member SN (on your screenshot it is called «Reference number») -> Fill amount -> Click «Accept» -> You are navigated to deposit list -> Finally, confirm deposit -> Money are loaded.

If you have issues with this please reopen ticket.

[2018-02-26 09:59] #592 closed

[2018-02-26 10:00] yivo commented on #591
Hi @sharmaabhishek2207,

Right now Peatio doesn't support ETH but we will ship it very soon. Configuration will be available through currencies.yml.

[2018-02-26 10:00] #591 closed

[2018-02-26 11:32] yivo opened #594 "Withdraw worker makes withdraw from the newest address but should use funded for it (BIP32 incompatible currencies only)"

[2018-02-26 11:37] yivo commented on #579
@yssavchuk

Fixed public/templates/funds/_deposit_coin_history.html
[code]

[2018-02-26 11:40] yssavchuk commented on #580
@allenmillen thanks for report. Actually this bug exists. I will fix it asap

[2018-02-26 14:01] #588 closed

[2018-02-26 14:05] #587 closed

[2018-02-26 15:37] batraamar opened #599 "Withdrawal not getting through to test.bitgo account and testnet"
As checked in the logs, withdrawals resulting into 404 Page not found for following url:
https://test.bitgo.com/api/v2/tbtc/wallet/5a8dd0cb76de85d7070a60e163789ec9/sendcoins

Returns 404 Page not found.

[2018-02-26 15:41] sergii-savchenko opened #600 "JWT security issues"
JWT dev and test shared secret contains both Private and Public keys

Peatio uses both operations: JWT.decode and JWT.encode (private key is needed for this operation)

JWT.encode is:

**/app/models/member.rb: 156. Member.jwt**
Method jwt should be removed permanently

-/spec/api_v2/auth/jwt_authenticator_specs.rb (low risk. Test/Dev keys only)
-/spec/api_v2/auth/middleware_spec.rb (low risk. Test

[2018-02-26 15:50] yivo commented on #599
Hi @batraamar,

To use BitGo for withdrawal operations you should use BitGo Express Proxy: https://github.com/BitGo/BitGoJS/blob/master/src/expressApp.js

Please, read their docs: https://platform.bitgo.com/bitgo-express/ https://www.bitgo.com/api/v2/

[2018-02-26 15:50] #599 closed

[2018-02-26 16:00] yivo commented on #580
Closed in #595.

[2018-02-26 16:00] #580 closed

[2018-02-26 16:00] yivo commented on #557
Closed in #598.

[2018-02-26 16:00] #557 closed

[2018-02-26 16:01] yivo commented on #556
Closed in #597.

[2018-02-26 16:01] #556 closed

[2018-02-26 16:03] yivo commented on #206
Closed via #567.

[2018-02-26 16:03] #206 closed

[2018-02-26 16:04] yivo commented on #517
Closed via #535.

[2018-02-26 16:04] #517 closed

[2018-02-26 16:04] yivo commented on #395
Closed via #576.

[2018-02-26 16:04] #395 closed

[2018-02-26 16:05] yivo commented on #587
Closed via #590.

[2018-02-26 16:06] yivo commented on #588
Closed via #589.

[2018-02-26 16:16] yivo commented on #538
Hi @arshad-bilawat,

We also use latest OS X & Chrome for testing but we don't expect such troubles like yours.

Sorry, but we need more details for this issue. I assume it is configuration problem (not only Pusher keys but also all yml files) so I am closing this issue. Please, reopen if you have more details. Thank for your feedback!

[2018-02-26 16:16] #538 closed

[2018-02-26 16:19] #498 closed

[2018-02-26 16:20] yivo commented on #492
Closing it as it is not more actual.

[2018-02-26 16:20] #492 closed

[2018-02-26 16:23] yivo commented on #406
There were not bug reports for this for long time. Closed.

[2018-02-26 16:23] #406 closed

[2018-02-26 16:25] yivo commented on #533
Closed in #551.

[2018-02-26 16:25] #533 closed

[2018-02-26 17:40] yivo opened #604 "Typo in app/models/member.rb related to update for OAuth token"
![image](https://user-images.githubusercontent.com/7421323/36685742-f0909dc8-1b2c-11e8-93e7-88f59ae02766.png)

[2018-02-26 17:45] #380 closed

[2018-02-26 21:45] yivo commented on #429
Fixed in #585.

[2018-02-26 21:45] #429 closed

[2018-02-26 21:45] yivo commented on #553
Closed via #593.

[2018-02-26 21:45] #553 closed

[2018-02-26 21:46] yivo commented on #521
Closed via #534.

[2018-02-26 21:46] #521 closed

[2018-02-27 02:52] sosospicy commented on #577
Same problem. Already run 'rake solvency:liability_proof' before start server, but error still be there.

[2018-02-27 05:14] nleo commented on #491
I curios why?

I'm glad you add support PostgreSQL. I love this DB and not understand initial developers which choose MySQL.

But SQLite? Really somebody will develop peatio with SQLite?? Or even run in production?

[2018-02-27 08:57] yivo commented on #491
Hi @nleo,

I am sure anyone will not run Peatio with SQLite in production. This feature is more specific for QA guys and for automated testing in limited environment. I think Peatio already is OK with SQLite but this must be checked.

[2018-02-27 09:15] sosospicy commented on #571
https://github.com/rubykube/workbench helps.
Didn't know how to sign in with barong until I read it.

[2018-02-27 13:13] allenmillen opened #609 "When viewing details of withdrawal i get the following error"
http://peatio:8000/admin/withdraws/satoshis/2
undefined method `find_withdraw' for #<Admin::Withdraws::SatoshisController:0x00007ff4a82e9088>
      @app.call(env)

Can be fixed by making mehtond find_wihdraw public (not sure if this proper fix thought)

[2018-02-27 13:25] yssavchuk commented on #609
@yivo this bug is confirmed

[2018-02-27 20:48] Apollo-IT opened #612 "Ripple Security Issue"
@dkkoval  Hi. I've checked your branch. (https://github.com/dkkoval/peatio )
Thanks for your ripple work.
But I've found some issues in generating new address in ripple.

1. You used ripple Api v1 to generate address. Is it Ok now? now ripple api v2 is used. v1 api looks deprecated.
2. if  you generate new address with api, where secret key of new address is saved?
 for security, it should not be

[2018-02-27 21:11] dkkoval commented on #612
Hello @Apollo-IT. Please make sure you are using latest master in [rubykube/peatio repository](https://github.com/rubykube/peatio). We are not using that Ripple API now.

I'm closing this issue since it's not related to the fresh peatio version. Feel free to reopen if you have questions about the latest master.

[2018-02-27 21:11] #612 closed

[2018-02-27 21:14] Apollo-IT commented on #612
thanks.

[2018-02-27 21:25] ashanaakh opened #613 "It is not possible to select some timeranges at markets"
Hi
I can't choose `1m` on trading page, I think because styles broken by dropdown with markets.

![video](https://user-images.githubusercontent.com/15674738/36755628-737a3ca6-1c15-11e8-8d89-21c486385000.gif)

[2018-02-27 21:30] Apollo-IT commented on #612
hi @dkkoval
please check this
i think this uses old api v1
https://github.com/rubykube/peatio/pull/602/commits/147843521f015407b92f1cb343cfe0bb7c3247d1

also i asked 2 questions above. but you've not answered

[2018-02-27 21:30] yivo commented on #612
Hi @Apollo-IT,

We are working on new Rippled API client implementation. It will be compatible with latest Ripple JSON RPC.

[2018-02-27 21:31] Apollo-IT commented on #612
but i cant find any code for it.
I mean generating new addess.

[2018-02-27 21:33] yivo commented on #612
@Apollo-IT It is WIP.

[2018-02-27 21:33] Apollo-IT commented on #612
i can help WIP
I'm working on ripple too

[2018-02-27 21:38] Apollo-IT commented on #612
can you share with me ripple code?

[2018-02-27 22:08] alebeta90 opened #614 "Errno::ENOENT: No such file or directory @ dir_chdir - vendor/assets/yarn_components"
Hello friends, when running:

alebeta@peatio-ex01:~/peatio$ bundle exec rake db:setup --trace

I get the next message:
Im running Ruby 2.5.0

alebeta@peatio-ex01:~/peatio$ bundle exec rake db:setup --trace
/home/alebeta/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/figaro-1.1.1/lib/figaro/application.rb:84:in `non_string_configuration!' : WARNING: Use strings for Figaro configuration. false was c

[2018-02-28 02:14] sosospicy commented on #614
Got same problem. Please check https://github.com/rubykube/peatio/issues/392 . Need to install yarn.

[2018-02-28 05:48] Mishul-G opened #615 "Funds not working - getting redirected to /settings"
Whenever I try to access the "Funds" page, I get redirected to localhost:3000/settings

I see other people have this problem too but no one has directly written a solution regarding this. We have our google authenticator setup for 2FA. Another Problem - our mobile phone does not work for verification.

We are trying to setup a demo to demonstrate trades on the platform - is there a way around this

[2018-02-28 08:39] yivo commented on #614
Hi @alebeta90

Install Node.js, Yarn, and run `bundle exec rake tmp:create yarn:install`.

[2018-02-28 08:39] #614 closed

[2018-02-28 08:40] yivo commented on #615
Hi @Mishul-G,

This fork doesn't include 2FA or phone verification. I believe you posted the issue in wrong repo.

[2018-02-28 08:40] #615 closed

[2018-02-28 11:22] yivo commented on #334
Closed via #569.

[2018-02-28 11:22] #334 closed

[2018-02-28 11:26] yivo commented on #604
Closed via #611.

[2018-02-28 11:26] #604 closed

[2018-02-28 12:54] valuttiDev commented on #308
@sosospicy not yet i'm afraid. I actually stopped working on it, i'll get back to this in the next day.
though it does work in the original peatio, just not in this fork, so i'm at loss here

[2018-02-28 12:55] duduric commented on #308
@sosospicy  not yet i'm afraid. I actually stopped working on it, i'll get back to this in the next days.
though it does work in the original peatio, just not in this fork, so i'm at loss here

[2018-02-28 17:49] frezeq0 commented on #613
bittrex opensource: https://github.com/frezeq0/bittrex-opensource

[2018-02-28 17:49] frezeq0 commented on #609
bittrex opensource: https://github.com/frezeq0/bittrex-opensource

[2018-02-28 17:49] frezeq0 commented on #565
bittrex opensource: https://github.com/frezeq0/bittrex-opensource

[2018-02-28 17:50] frezeq0 commented on #547
bittrex opensource: https://github.com/frezeq0/bittrex-opensource

[2018-02-28 17:50] frezeq0 commented on #532
bittrex opensource: https://github.com/frezeq0/bittrex-opensource

[2018-02-28 18:46] Sambusik commented on #532
ok @frezeq0 stop spamming this repo.

[2018-02-28 22:15] frezeq00 commented on #613
bittrex opensource: https://github.com/pkdcryptos/frezeq0_bittrex-opensource

[2018-02-28 22:15] frezeq00 commented on #609
bittrex opensource: https://github.com/pkdcryptos/frezeq0_bittrex-opensource

[2018-02-28 22:15] frezeq00 commented on #584
bittrex opensource: https://github.com/pkdcryptos/frezeq0_bittrex-opensource

[2018-02-28 22:15] frezeq00 commented on #579
bittrex opensource: https://github.com/pkdcryptos/frezeq0_bittrex-opensource

[2018-02-28 22:16] frezeq00 commented on #566
bittrex opensource: https://github.com/pkdcryptos/frezeq0_bittrex-opensource

[2018-02-28 22:16] frezeq00 commented on #565
bittrex opensource: https://github.com/pkdcryptos/frezeq0_bittrex-opensource

[2018-02-28 22:16] frezeq00 commented on #549
bittrex opensource: https://github.com/pkdcryptos/frezeq0_bittrex-opensource

[2018-02-28 22:16] frezeq00 commented on #548
bittrex opensource: https://github.com/pkdcryptos/frezeq0_bittrex-opensource

[2018-02-28 22:16] frezeq00 commented on #537
bittrex opensource: https://github.com/pkdcryptos/frezeq0_bittrex-opensource

[2018-03-01 09:55] dinesh-skyach commented on #532
Hi @yivo, I have tested this and didn't get any issues with BCH/CAD.

![screen shot 2018-03-01 at 3 22 04 pm](https://user-images.githubusercontent.com/35770481/36838220-9e9a8d32-1d64-11e8-8dfb-00fff8e11c6b.png)

[2018-03-01 10:49] yivo commented on #532
@dinesh-skyach Thanks. Seems like configuration issue.

[2018-03-01 10:49] #532 closed

[2018-03-01 11:43] yivo commented on #189
We need to use gem validate-limits and remove existing validations for lengths. Also we need to check if all features work as expected.

[2018-03-01 11:45] yssavchuk commented on #548
- [ ] add options to withdraw model

- [ ] fund_uid & fund_extra refactoring

- [ ] ....

[2018-03-01 15:03] umaimehm opened #619 "Diagram for high level architecture"
Is it possible to get access to a high level diagram of your architecture?

[2018-03-01 15:16] yivo commented on #619
Sure. Here it is: https://github.com/rubykube/peatio/blob/master/docs/architecture.md.

[2018-03-01 15:16] #619 closed

[2018-03-02 01:00] bernardpeh commented on #619
do you have some diagram of how all the components come together?

[2018-03-02 03:26] sharmaabhishek2207 opened #621 "Multisig Wallet Ethereum"
Hi Team,

I am exploring BitGo for multisig wallet having compatibility with Peatio. As per my understanding it is used only for Bitcoin. So I am searching for a multisig wallet for Ethereum that can connect with Peatio. Please let me know if any opensource wallet is available to achieve the same.

Regards
Abhishek

[2018-03-02 10:38] #613 closed

[2018-03-02 10:39] #549 closed

[2018-03-02 13:26] yivo opened #622 "Strip keypair authentication"

[2018-03-02 13:27] yivo opened #623 "On the fly member registration in API by using JWT payload"

[2018-03-02 13:28] yivo opened #624 "OTP for API withdraw operations"

[2018-03-02 13:42] #609 closed

[2018-03-02 14:20] stannak7 commented on #609
Bittrex sourcecode: https://github.com/stannak7/bittrex-source-code

[2018-03-02 14:20] stannak7 commented on #624
Bittrex sourcecode: https://github.com/stannak7/bittrex-source-code

[2018-03-02 14:20] stannak7 commented on #623
Bittrex sourcecode: https://github.com/stannak7/bittrex-source-code

[2018-03-02 14:20] stannak7 commented on #584
Bittrex sourcecode: https://github.com/stannak7/bittrex-source-code

[2018-03-02 14:21] stannak7 commented on #621
Bittrex sourcecode: https://github.com/stannak7/bittrex-source-code

[2018-03-02 14:21] stannak7 commented on #548
Bittrex sourcecode: https://github.com/stannak7/bittrex-source-code

[2018-03-02 14:21] stannak7 commented on #547
Bittrex sourcecode: https://github.com/stannak7/bittrex-source-code

[2018-03-02 17:33] Sambusik commented on #538
Hi @yivo

Having the same issue.

I've updated `application.yml` with my own pusher keys.

It was giving issues in the console when using `PUSHER_HOST: api.pusherapp.com`, so I updated it to: `PUSHER_HOST: ws.pusherapp.com` (note ws instead of api), this remove the errors in the console.

Next I added `PUSHER_CLUSTER: 'us2'` and made sure it was being used as well in `application_controller.rb` &

[2018-03-02 18:04] Sambusik commented on #538
I see in a previous issue that ActionCable (part of RoR 5.0) will be implemented in lieu of Pusher.
_Is this accurate? If so, is there an ETA?_
Thanks.

[2018-03-02 21:58] JoeWallCrypt0 commented on #283
Hi

@dkkoval @yivo When do you think is the migratoin to ActionCable? Is it in a week, in a month or much more later?

Thank you

[2018-03-03 11:19] anbuhckr opened #628 "Remove USD market"
how to remove USD market and bank deposit/withdraw.

[2018-03-03 11:25] yivo commented on #628
Hi

It is not possible to remove fiat ccy. But you can still disable deposit, withraw & trading for it via configs deposit_channels.yml, withdraw_channels.yml & markets.yml. Check bin/init_config.

[2018-03-03 11:25] #628 closed

[2018-03-03 11:39] yivo commented on #622
![image](https://user-images.githubusercontent.com/7421323/36933839-55c74174-1ee8-11e8-82e3-e5b47969f600.png)

[2018-03-03 21:48] #189 closed

[2018-03-04 12:23] yivo commented on #453
Closed via #605.

[2018-03-04 12:23] #453 closed

[2018-03-05 08:19] yivo commented on #559
Closed via #603.

[2018-03-05 08:19] #559 closed

[2018-03-05 08:24] yivo commented on #371
@b1naryc0re Hi. I can't answer for this questions right now. We would like to find most flexible way of separating UI and API.

[2018-03-05 08:25] yivo commented on #565
@calj I am closing this since we are going to keep only JWT for now. See #622 & #623.

[2018-03-05 08:25] #565 closed

[2018-03-05 08:26] yivo commented on #111
Moved to https://github.com/rubykube/peatio/issues/558.

[2018-03-05 08:26] #111 closed

[2018-03-05 08:29] tzman89 opened #632 "List markets path"
Did you change path to market list (BTC markets,LTC markets...) Changing it in market.scss and client.yml is not doing anything.Also when click on those I dont get any pairs, there is only ltc-btc and btc-ltc

![market](https://user-images.githubusercontent.com/35830811/36964669-a90b8f8c-2057-11e8-83a7-471e7884200a.png)

[2018-03-05 11:03] yivo opened #634 "After canceling withdraw page isn't reloaded and UI doesn't react for user action"
![image](https://user-images.githubusercontent.com/7421323/36971739-726c9f2a-2075-11e8-905e-6a89d1461189.png)

It successfully performs deletion.

![image](https://user-images.githubusercontent.com/7421323/36971761-8bd5eb10-2075-11e8-9406-ba57abe9f94d.png)

[2018-03-05 11:51] #420 closed

[2018-03-05 12:49] #490 closed

[2018-03-05 13:13] yivo commented on #490
Closed via #572.

[2018-03-05 15:09] yivo commented on #562
The task was not approved.

[2018-03-05 15:09] #562 closed

[2018-03-05 15:57] yivo commented on #632
@tzman89 Hi

Could you please add more details? I did not get your issue.

[2018-03-06 07:02] tzman89 commented on #632
hi,
1. How to remove markets from the list which pops out on the right side, deleting it in market.scss and client.yml doesn't do anything?
2. Why when I choose any of the markets there is nothing shown, only "All Markets" show all pairs?

I managed to learn everything about peatio but market is bugging me after you made latest changes.

Also after adding currencies in mysql will it be easier to a

[2018-03-06 13:29] yssavchuk commented on #548
@yivo I think we need to rename issue

[2018-03-06 15:23] #634 closed

[2018-03-07 07:45] dinesh-skyach commented on #426
Hi @yivo, Please could you let me know which notifications are being referred here and when does these notifications get triggered.

[2018-03-07 13:30] yssavchuk opened #642 "Update bin/init_config & bin/link_config according to new config templates structure and updated requirements for config/seed"

[2018-03-07 19:03] prashantdhamija commented on #426
![notify](https://user-images.githubusercontent.com/35146363/37112352-28c91ef8-2268-11e8-9b53-06b8b489ba08.png)
Hi @dinesh-skyach Please check the attached screenshot. I think that is the issue being referred to here as the user is not able to toggle between notify on and off.

@yivo Please correct me if I'm wrong.

Thanks!

[2018-03-07 19:08] prashantdhamija commented on #621
Hi Abhishek, Unlike Bitcoin, ETH does not have any native addressing mechanism for multisig. You can write a simple smart contract to achieve this. Please see this [link](https://github.com/ethereum/dapp-bin/blob/master/wallet/wallet.sol) for reference.

[2018-03-07 19:51] senisende commented on #426
@yivo I already solved Notify issue.

`notifier.js.coffee  >  @setStatus(false) to @setState(false)`

[2018-03-08 08:35] mkuvsh opened #645 "Ability to create orders with configurable precisions"

[2018-03-08 10:12] yivo commented on #426
@senisende @prashantdhamija Thank you!

@dinesh-skyach Could you please check these comments?

[2018-03-08 10:14] yivo opened #646 "Dynamic models, controllers, routes, and code itself for currencies"

[2018-03-08 10:18] yivo commented on #279
Closed via #488.

[2018-03-08 10:18] #279 closed

[2018-03-08 10:18] dinesh-skyach commented on #426
@yivo I have tested this and found there is no issue with market toggle on/off button.

In Addition the notifications seems to be working fine.

[2018-03-08 10:20] yivo commented on #426
@dinesh-skyach What browser have you used? Can you check this in Firefox?

[2018-03-08 11:10] tzman89 commented on #646
What do you think about shell script for automated adding new currencies.
Maybe with those steps:
1. Put configuration (coin name,rpc, on which coin it's based...)
2. Clone currency on which new currency is based
3. Rename files and content of new (cloned) currency with $SED -i
After running script only thing left to do will be create pairs and test everything.

I know current files will need chan

[2018-03-08 11:13] yivo commented on #646
Hi @tzman89

Adding new currencies is based on three steps:
1) Add currency config to config/seed/currencies.yml
2) rake db:seed
3) Code API client

That's all. We are going away from peatio/peatio way of duplicating tons of lines of code. We recently refactored the whole project to be able to fetch currencies from database, not ActiveYAMLBase.

[2018-03-08 11:16] yivo commented on #646
The idea it to unify all of these into three:
![image](https://user-images.githubusercontent.com/7421323/37148358-e4b0566c-22d2-11e8-8e9f-eac3c90727c6.png)

* BaseController
* BanksController
* CoinsController

[2018-03-08 12:34] dinesh-skyach commented on #426
@yivo I have tested this for chrome. Anyways I have found the issue. Please disregard my above comment.

[2018-03-08 13:24] mod commented on #623
@yivo this is the highest priority for us to continue testing on workbench the integration
https://github.com/rubykube/barong/commit/3196b9ca0ff749be7158c6dbbf6b8c13a6ca9999

We will also try to change the login flow on cryptobase @calj

[2018-03-08 13:32] tzman89 commented on #646
I see, thanks for explanation I wasn't sure how currencies in db thing works but now it's much clear.

So as I understand controllers for other currencies should be the same if the currency is based on any of the current ones,we can use key from currencies.yml to determine new currency controller.

I'm following your work here and you did a great job with this, you got it to almost perfect platfor

[2018-03-08 13:45] mkuvshynnikov opened #650 "Peatio API does not cancel all orders"
Peatio API does not cancel all orders | Endpoint: peatio.tech/api/v2/orders/clear
-- | --
  | Method: POST
  | Params: (Optional) side:buy/sell
  | Result: All orders are returned back, just like getting all orders

[2018-03-08 13:46] mkuvshynnikov opened #651 "Peatio API does not cancel single order"
Peatio API does not cancel single order | Endpoint: peatio.tech/api/v2/order/delete
-- | --
  | Method: POST
  | Params: id
  | Result: The order itself is returned, just like getting the order

[2018-03-08 14:24] tzman89 commented on #632
problem was in base and quote unit, I fixed it..thanks

[2018-03-08 14:24] #632 closed

[2018-03-08 15:11] yivo commented on #548
@yssavchuk Sure, any suggestions?

[2018-03-08 16:51] yivo opened #652 "Peatio publishes too many messages in Pusher"
We need to find out which component does this crap and fix.

[2018-03-08 21:00] #426 closed

[2018-03-08 21:32] ashanaakh commented on #622
Closed by #629

[2018-03-08 21:32] #622 closed

[2018-03-09 04:32] riddlez666 commented on #591
when is soon?

[2018-03-09 04:33] riddlez666 opened #653 "When ETH Support?"
And can anyone help?

[2018-03-09 09:08] ssltrustcomau opened #654 "no mina-slack.git ??"
getting error when doing bundle install:

fatal: remote error:
  Repository not found.
Git error: command `git clone 'git://github.com/peatio/mina-slack.git' "/var/lib/gems/1.9.1/cache/bundler/git/mina-slack-0215d920fc3f3fb7ee3183c70ce0af9e737a0649"
--bare --no-hardlinks` in directory /usr/local/share/peatio has failed.

[2018-03-09 09:24] #654 closed

[2018-03-09 09:57] ssltrustcomau opened #655 "Error on Database Setup: Use strings for Figaro configuration."
root@exchange:/usr/local/share/peatio# bundle exec rake db:setup --trace
/usr/local/rvm/gems/ruby-2.2.8/gems/figaro-1.1.1/lib/figaro/application.rb:84:in `non_string_configuration!' : WARNING: Use strings for Figaro configuration. false was converted to "false". (StructuredWarnings::StandardWarning)
rake aborted!
SyntaxError: /usr/local/share/peatio/lib/tasks/barong.rake:25: syntax error, unexpect

[2018-03-09 11:42] yivo commented on #653
Hi @riddlez666

We have ETH support. Check config/seed/currencies.yml for configuration or ask in Telegram chat.

[2018-03-09 11:42] #653 closed

[2018-03-09 11:42] yivo commented on #655
Hi @ssltrustcomau

1. This is not an error, it is warning from Figaro.
2. Your error is `rake aborted! SyntaxError: /usr/local/share/peatio/lib/tasks/barong.rake:25`
3. Use Ruby 2.5

[2018-03-09 11:42] #655 closed

[2018-03-09 12:00] yivo commented on #579
Closed via #616.

[2018-03-09 12:00] #579 closed

[2018-03-09 14:11] yivo opened #659 "Remove helper controller used for testing (Test::ModuleController & Test::MembersController)"
Linked issue #600.

[2018-03-09 14:11] yivo opened #660 "Remove Member#jwt without replacement"
Linked issue #600.

[2018-03-09 14:20] mod opened #663 "Ability to set trading fee by user or groups of users"

[2018-03-09 14:27] yivo opened #664 "Include iat, exp, jti, sub, iss, aud as additional fields in JWT payload (update specs only)"

[2018-03-09 14:56] #660 closed

[2018-03-09 14:56] #659 closed

[2018-03-09 15:02] #664 closed

[2018-03-09 15:02] yivo opened #666 "Stop keeping private key for JWT, use it only in specs (must be generated on the demand)"
Linked issue https://github.com/rubykube/peatio/issues/600

[2018-03-09 15:04] yivo opened #667 "Use stable version for oauth2 gem"

[2018-03-09 15:05] #469 closed

[2018-03-09 15:17] yivo opened #668 "Enable verification of special JWT payload fields"

[2018-03-09 16:48] akhlopiachyi opened #670 "Api for getting stats from aggregated orders"
It is necessary to have api for aggregate orders
Output values should be ready to use with average on period, max, min, volume

[2018-03-09 16:55] calj commented on #670
A good design is to duplicate orders in AMQP queues and have workers aggregating those queues in average, max, min, volume per periods (10m, 15m, hourly, daily, ...)

Redis is a good candidate to store the aggregated data plots.

[2018-03-09 22:46] ssltrustcomau opened #671 "/usr/local/share/peatio/Gemfile:65: syntax error, unexpected ':', expecting $end"
getting this error when doing bundle install:

/usr/local/share/peatio/Gemfile:65: syntax error, unexpected ':', expecting $end
gem 'god', '~> 0.13.7', require: false

versions:
root@exchange:/usr/local/share/peatio# gem -v
2.7.3
root@exchange:/usr/local/share/peatio# ruby -v
ruby 2.5.0p0 (2017-12-25 revision 61468) [x86_64-linux]

[2018-03-09 23:55] yivo commented on #671
Hi @ssltrustcomau

Could you pls provide full log?

[2018-03-10 09:37] myujang opened #672 "MySQL database collation needs to be set on database.yml"
Test from docker workbench.

docker-compose run --rm peatio "./bin/setup"

database.yml
default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: <%= ENV['DATABASE_HOST'] %>
  username: <%= ENV['DATABASE_USER'] %>
  password: <%= ENV['DATABASE_PASS'] %>

  SQL (0.7ms)  INSERT INTO `currencies` (`id`, `code`, `key`, `symbol`, `base_factor`, `quick_withdraw_limit`, `options`, `created_a

[2018-03-10 11:05] yivo commented on #672
Hi @myujang

Thank you for the report. I agree we need this. Added to TODO list.

[2018-03-10 11:06] yivo commented on #663
@mod What is the priority for it?

[2018-03-10 11:06] yivo commented on #670
@akhlopiachyi @calj What is the priority for it?

[2018-03-10 15:55] ashanaakh opened #673 "Missed dash<fiat> market?"
https://github.com/rubykube/peatio/blob/2cee45374900d120fb5950f1b52c2c787d7b9899/lib/generators/config/templates/markets.yml.erb#L148-L154

[2018-03-11 10:40] #668 closed

[2018-03-11 10:47] #548 closed

[2018-03-11 10:58] #673 closed

[2018-03-11 11:33] #642 closed

[2018-03-11 13:08] yivo commented on #600
Closed via #669, #659, #660, #666.

[2018-03-11 13:08] #600 closed

[2018-03-11 22:36] #666 closed

[2018-03-12 01:18] zyfu90 commented on #654
Hi, can you share how did you solve this problem?

[2018-03-12 01:38] ssltrustcomau commented on #654
I havn’t, it is becoming a big problem to get this to work as all the install docs are out of date.

[2018-03-12 08:24] yivo commented on #654
@ssltrustcomau @zyfu90 Guys, please post the issues in peatio fork you are using! We stripped this gem several months ago!

[2018-03-12 10:52] yivo commented on #623
Closed via #657.

[2018-03-12 10:52] #623 closed

[2018-03-12 10:55] yivo commented on #283
@ryanisab @dkkoval @JoeWallCrypt0 Hi guys

I can confirm pusher slanger works well with peatio, including funds & markets page.

[2018-03-12 10:57] yivo opened #679 "Field «destination» at APIv2::Entities::Withdraw should be presented as APIv2::Entities::WithdrawDestination"

[2018-03-12 11:01] yivo commented on #679
![image](https://user-images.githubusercontent.com/7421323/37280111-83d8ff44-25f5-11e8-8ef2-4cc01bbedb5a.png)

[2018-03-12 11:03] yivo opened #680 "APIv2::Entities::WithdrawDestination should include type in field list"

[2018-03-12 11:04] yivo commented on #680
The value of type should be `fiat` or `coin`.

[2018-03-12 11:06] yivo commented on #680
Must be automated from class name: `FiatWithdrawDestination.name.demodulize.sub(/WithdrawDestination\z/, '').underscore`.

[2018-03-12 11:09] yivo opened #681 "Refactor environment variables for Pusher."
We need to collect all Pusher variables and default values in application.yml.

Also this like does the hell: it overwrites `Pusher.host` completely:

![image](https://user-images.githubusercontent.com/7421323/37280441-7b5eec24-25f6-11e8-9674-dc3ce6278e95.png)

[2018-03-12 12:53] yivo commented on #652
We found that global_state.rb is responsible for this.

We calculated that total events this daemon publishes is 60/(20+1*0.1+3)*(20+1)*60*24=355765

where 20 is number of markets
3 is delay

[2018-03-12 12:56] yivo commented on #680
@yssavchuk We don't need `sub(/WithdrawDestination\z/, '')` because I forgot we have different class naming :)

Must be `WithdrawDestination::Fiat.name.demodulize.underscore`.

[2018-03-12 12:57] dinesh-skyach commented on #652
Channel:- markets-global
![screen shot 2018-03-12 at 6 26 31 pm](https://user-images.githubusercontent.com/35770481/37284806-f6a966f8-2622-11e8-99ba-b2d48998e7c5.png)

Channel:- market-btcusd-global
![screen shot 2018-03-12 at 6 23 13 pm](https://user-images.githubusercontent.com/35770481/37284821-06e5a464-2623-11e8-9272-dbe89c505052.png)

[2018-03-12 13:00] yivo opened #683 "Peatio doesn't not update order status after it is executed"
We need to confirm this bug.

[2018-03-12 13:01] yivo commented on #652
@dinesh-skyach Thanks.

[2018-03-12 13:10] emasiuk opened #684 "All bank fields must be required for fiat withdraw"

[2018-03-12 13:10] dinesh-skyach commented on #652
@yivo I have tested this via 5 sec and 10 sec delay and it does not have much effect on markets page. So we can use 5 or 10 sec delay.

[2018-03-12 13:14] yivo commented on #651
Put on hold until we get reply.

[2018-03-12 13:14] yivo commented on #650
Put on hold until we get reply.

[2018-03-12 17:30] #680 closed

[2018-03-12 17:30] #679 closed

[2018-03-13 10:35] yivo commented on #684
Closed via #686.

[2018-03-13 10:35] #684 closed

[2018-03-13 10:38] yivo commented on #652
@dinesh-skyach @mod @mkuvshynnikov Bug not confirmed. All these events are mandatory for markets to work great.

[2018-03-13 10:38] #652 closed

[2018-03-13 11:06] dinesh-skyach commented on #683
Hi @yivo I have tested this and it's working fine.
![screen shot 2018-03-13 at 4 15 13 pm](https://user-images.githubusercontent.com/35770481/37338147-8be059f2-26dc-11e8-86f2-1805f6294429.png)
![screen shot 2018-03-13 at 4 17 58 pm](https://user-images.githubusercontent.com/35770481/37338148-8c389036-26dc-11e8-8174-64d94c5d4bb2.png)

[2018-03-13 11:09] yivo commented on #683
@mkuvshynnikov ping

[2018-03-13 11:09] yivo commented on #683
Bug not confirmed.

[2018-03-13 11:09] #683 closed

[2018-03-13 11:14] yivo commented on #384
We need ability to add ERC20-compatible currencies to Peatio. Basically work is mostly concentrated over `CoinAPI::ERC20`.

[2018-03-13 22:51] zyfu90 commented on #654
@yivo I tried his fork: https://github.com/InfraexDev/peatio
Although there are still some issues, but they can be easily fixed.

[2018-03-14 08:17] tzman89 commented on #283
@yivo
it looks like slanger is not working with ruby 2.5.0. it gives "ERROR: Failed to build gem native extension." Only solution is to run slanger on another server with lower version of ruby

[2018-03-15 05:58] sramsden opened #692 "Currency#quick_withdraw_limit"
I have a Question, not an Issue.

In the `Currency` class I don't see any benefit of the method ..
[code]
.. given that ...
[code]
.. and ..
[code]

Can you explain it and give me an example that would result in failure if that method did not exist?

[2018-03-15 07:14] mod opened #693 "Investigate why account have field in and out"
We can find these field in schema, they seems useless.
I traced this from the original first commit of peatio, but apparently, it's not being used anywhere.

We should remove them.

[2018-03-15 10:30] yivo commented on #692
Hi

Pls check
https://github.com/rubykube/peatio/blob/master/app/models/withdraw.rb#L127
https://github.com/rubykube/peatio/blob/master/app/models/withdraw.rb#L135

[2018-03-15 10:31] yivo commented on #692
Withdraws that exceed quick withdraw limit must be approved manually by admin.

[2018-03-15 10:41] mkuvshynnikov commented on #650
Fixed by latest version of Peatio

[2018-03-15 10:42] #650 closed

[2018-03-15 10:42] mkuvshynnikov commented on #651
Fixed by latest version of Peatio

[2018-03-15 10:42] #651 closed

[2018-03-15 14:39] MariaBog opened #695 "Charge the FEE in the "base currency""
JDAX wants always charge the fee in the “base currency”. This means that if the user buys BTC on BTC/ZAR, the fee is in BTC. If they sell BTC on BTC/ZAR, the fee is BTC. If the buy ETH on ETH/BTC, the fee is in ETH. If they sell ETH on ETH/BTC the fee is in ETH.
Maria: Please make prioritization and how much time it will take to implement it.

[2018-03-15 16:04] yivo opened #697 "Add DELETE /api/v2/sessions which clears user session stored in Redis"
![image](https://user-images.githubusercontent.com/7421323/37475382-43521de2-287b-11e8-887c-58f6616e289c.png)

[2018-03-15 16:13] yssavchuk commented on #670
We have discussed with calJ, this issue could be closed

[2018-03-15 16:14] yivo commented on #670
@yssavchuk Thanks!

[2018-03-15 16:14] #670 closed

[2018-03-15 18:01] dkrokhmal opened #699 "WebSocket API fails while trying to get JWT Authorization token"
https://github.com/rubykube/peatio/blob/058b38e9024588c0f46a61bd6efdfb3a919e40a0/app/api/api_v2/websocket_protocol.rb#L21

WebSocket API fails while trying to get JWT Authorization token from headers.
As message has no headers - token should be retrieved from authorization message JSON.

[2018-03-16 00:01] sramsden commented on #692
Sorry, you have misunderstood my question.
I understand the concept of a quick withdraw limit.

What I am asking is why does that method ..

https://github.com/rubykube/peatio/blob/c588290a77dedd9a8612ba371d3eac1e2da2242c/app/models/currency.rb#L68

.. need to exist? The `quick_withdraw_limit` is a defined attribute of the active model.

There is no need to define a getter method for it that does

[2018-03-16 09:02] yivo commented on #692
@sramsden This was probably done for comparisons with BitDecimal amounts. It can't be blank since this is required attribute.

[2018-03-16 11:32] yivo commented on #693
Closed via #693.

[2018-03-16 11:41] #693 closed

[2018-03-16 11:42] yivo commented on #347
Closed via #449.

[2018-03-16 11:42] #347 closed

[2018-03-16 13:37] yivo commented on #695
This can be customized in markets.yml.

[2018-03-16 13:37] #695 closed

[2018-03-16 17:24] yivo opened #704 "BitcoinCash address should be converted to legacy format"

[2018-03-17 15:34] yivo opened #705 "We need specs for WS protocol API since we have none"

[2018-03-18 13:36] #697 closed

[2018-03-18 22:26] #699 closed

[2018-03-18 23:06] sramsden commented on #692
Right, so you agree that this method can be deleted from the codebase?

[2018-03-19 06:30] khalidNascenia opened #706 "What is account Summary? How it is working?"
In markets page, at the top, there is a dropdown named "Summary". What is this and how do this work?

Would appreciate if anyone please elaborate me on this. Thanks in advance.

![screen shot 2018-03-19 at 12 28 43 pm](https://user-images.githubusercontent.com/7381563/37581089-2ae2ce8e-2b71-11e8-8b30-1cb520086354.png)

[2018-03-19 11:52] yivo commented on #672
Closed via #688.

[2018-03-19 11:52] #672 closed

[2018-03-19 12:38] yssavchuk opened #707 "Markets switcher doesn't work"

[2018-03-19 12:39] yssavchuk commented on #707
![deepinscreenshot_select-area_20180319143023](https://user-images.githubusercontent.com/19859122/37595965-487de7b4-2b83-11e8-8c51-336fd91664a9.png)

[2018-03-19 13:11] #681 closed

[2018-03-19 14:07] Sambusik commented on #706
How did you get USDT?
I think USDT runs on the Omni Network... have you managed to get that going with their JSONRPC?

[2018-03-19 14:59] yivo commented on #706
Hi @khalidNascenia

Maybe this screenshot will give you better understanding:
![image](https://user-images.githubusercontent.com/7421323/37603277-e4543586-2b96-11e8-88ec-4ef70b2be80c.png)